<!DOCTYPE html>
<html lang="{{ translation.get_language() }}" dir="ltr" class="scheme_original">
	<head>
    <meta charset="utf-8">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<meta name='author' content='pidesign, info@pidesign.gr'>
		{% block meta_description %}
			{% if meta_description %}<meta name="description" content="{{ meta_description }}">{% endif %}
		{% endblock %}
		{% block extra_meta %}{% endblock %}

		<title>
	    {% block title %}
	        {% if page_title %}{{ page_title }} | {% endif %}{{ SITE_TITLE }}
        {% endblock %}
    </title>

		<link rel='stylesheet' href='{{ static('css/admin_icon.min.css') }}' type='text/css'>
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Montserrat:400,700|Mr+De+Haviland|Open+Sans:300,400,600,700,800|Raleway:100,200,300,300i,400,400i,500,600,700,700i,800,900&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese' type='text/css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css' type='text/css'>

		<link rel='stylesheet' href='{{ static('css/fontello.css') }}' type='text/css'>
		<link rel='stylesheet' href='{{ static('css/style.css') }}' type='text/css'>
		<link rel='stylesheet' href='{{ static('css/core.animation.css') }}' type='text/css'>
		<link rel='stylesheet' href='{{ static('css/shortcodes.css') }}' type='text/css'>
		<link rel='stylesheet' href='{{ static('css/skin.css') }}' type='text/css'>
		<link rel='stylesheet' href='{{ static('css/custom-style.css') }}' type='text/css'>
		<link rel='stylesheet' href='{{ static('css/responsive.css') }}' type='text/css'>
		<link rel='stylesheet' href='{{ static('css/skin.responsive.css') }}' type='text/css'>
		<link rel='stylesheet' href='{{ static('css/custom.responsive.css') }}' type='text/css'>
		<link rel='stylesheet' href='{{ static('css/grid.layout.min.css') }}' type='text/css'>

		{% block extra_styles %}{% endblock %}

    <link rel='stylesheet' href='{{ static('css/swiper.css') }}' type='text/css'>
    <link rel='stylesheet' href='{{ static('css/plugins.css') }}' type='text/css'>
    <link rel='stylesheet' href='{{ static('css/custom.css') }}' type='text/css'>

		{# Favicons #}
    <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png" sizes="180x180" >
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
	</head>

	<body class="{% block body_classes %}{% endblock %}page body_filled article_style_stretch sidebar_hide sidebar_outer_hide preloader wpb-js-composer sc_responsive">

		<div id="page_preloader"></div>

		{% block content %}{% endblock %}

		<a href="#" class="scroll_to_top icon-up" title="{{ _('Scroll to top') }}"></a>

{#	        <script type='text/javascript' src='{{ static ('js/jquery.js') }}'></script>#}
      <script type='text/javascript' src='{{ static('js/jquery/jquery-1.11.1.min.js') }}'></script>
{#	        <script type='text/javascript' src='{{ static('js/jquery/jquery-migrate.min.js') }}'></script>#}
			<script type='text/javascript' src='{{ static('js/modernizr.min.js') }}'></script>
	{#		<script type='text/javascript' src='{{ static('js/my-custom.js') }}'></script>#}
      <script type='text/javascript' src='{{ static ('js/custom.js') }}'></script>
      <script type='text/javascript' src='{{ static('js/superfish.js') }}'></script>
      <script type='text/javascript' src='{{ static('js/jquery.slidemenu.js') }}'></script>
      <script type='text/javascript' src='{{ static('js/core.utils.js') }}'></script>
      <script type='text/javascript' src='{{ static('js/core.init.js') }}'></script>
      <script type='text/javascript' src='{{ static('js/theme.init.js') }}'></script>
	    <script type='text/javascript' src='{{ static('js/theme.shortcodes.js') }}'></script>
			<script type='text/javascript' src='{{ static('js/grid.layout.min.js') }}'></script>
			<script type='text/javascript' src='{{ static('js/jquery/core.min.js') }}'></script>
			<script type='text/javascript' src='{{ static('js/widget.min.js') }}'></script>
			<script type='text/javascript' src='{{ static('js/tabs.min.js') }}'></script>
			<script type='text/javascript' src='{{ static('js/effect.min.js') }}'></script>
			<script type='text/javascript' src='{{ static('js/effect-fade.min.js') }}'></script>
	    <script type="text/javascript" src="{{ static('js/swiper.js') }}"></script>
      <script type='text/javascript' src='{{ static('js/isotope.min.js') }}'></script>

		{% block extra_scripts %}{% endblock %}
	</body>
</html>
