<div class="copyright_wrap copyright_style_socials scheme_original">
    <div class="copyright_wrap_inner">
        <div class="content_wrap">
            <div class="sc_socials sc_socials_type_text sc_socials_shape_square sc_socials_size_tiny">
                <div class="sc_socials_item">
                    <a href="https://www.facebook.com/georgiaggr/" target="_blank" class="social_icons social_facebook">facebook</a>
                </div>
		            <div class="sc_socials_item">
	                  <a href="https://www.instagram.com/salondebeautein/" target="_blank" class="social_icons social_instagram">intagram</a>
	              </div>
            </div>
            <span class="beforeSocials">Social:</span>
            <div class="copyright_text">
                <p><a href="https://pidesign.gr" target="_blank">pidesign studio</a> ❤️ {{ ctx['current_year'] }}</p>
            </div>
        </div>
    </div>
</div>
