
<div data-sc-full-width="true" data-sc-full-width-init="false" class="sc_row row sc_row-fluid sc_custom_1459502371704 inverse_colors">
    <div class="column sc_column_container sc_col-sm-12">
        <div class="sc_column-inner ">
            <div class="wrapper">
                <div class="sc_empty_space em_height_5-5">
                    <span class="sc_empty_space_inner"></span>
                </div>
                <div class="columns_wrap sc_columns columns_nofluid">
                    <div class="column-1_4 sc_column_item">
                        <div id="sc_skills_diagram_489" class="sc_skills sc_skills_counter" data-type="counter" data-caption="Skills">
                            <div class="sc_skills_item sc_skills_style_2">
                                <div class="sc_skills_icon icon-excercise14"></div>
                                <div class="sc_skills_count">
                                    <div class="sc_skills_total" data-start="0" data-stop="2348" data-step="23" data-max="2348" data-speed="38" data-duration="3879" data-ed="">0</div>
                                </div>
                                <div class="sc_skills_info">
                                    <div class="sc_skills_label">Happy clients</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-1_4 sc_column_item">
                        <div id="sc_skills_diagram_149" class="sc_skills sc_skills_counter" data-type="counter" data-caption="Skills">
                            <div class="sc_skills_item sc_skills_style_2">
                                <div class="sc_skills_icon icon-oriental10"></div>
                                <div class="sc_skills_count">
                                    <div class="sc_skills_total" data-start="0" data-stop="35" data-step="23" data-max="2348" data-speed="21" data-duration="32" data-ed="">0</div>
                                </div>
                                <div class="sc_skills_info">
                                    <div class="sc_skills_label">programs</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-1_4 sc_column_item">
                        <div id="sc_skills_diagram_036" class="sc_skills sc_skills_counter" data-type="counter" data-caption="Skills">
                            <div class="sc_skills_item sc_skills_style_2">
                                <div class="sc_skills_icon icon-relaxing16"></div>
                                <div class="sc_skills_count">
                                    <div class="sc_skills_total" data-start="0" data-stop="429" data-step="23" data-max="2348" data-speed="20" data-duration="373" data-ed="">0</div>
                                </div>
                                <div class="sc_skills_info">
                                    <div class="sc_skills_label">treatments</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-1_4 sc_column_item">
                        <div id="sc_skills_diagram_042" class="sc_skills sc_skills_counter" data-type="counter" data-caption="Skills">
                            <div class="sc_skills_item sc_skills_style_2">
                                <div class="sc_skills_icon icon-gesture3"></div>
                                <div class="sc_skills_count">
                                    <div class="sc_skills_total" data-start="0" data-stop="3" data-step="23" data-max="2348" data-speed="10" data-duration="7" data-ed="">0</div>
                                </div>
                                <div class="sc_skills_info">
                                    <div class="sc_skills_label">therapists</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sc_empty_space em_height_2-5">
                    <span class="sc_empty_space_inner"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sc_row-full-width"></div>
