
<footer class="footer_wrap widget_area scheme_original">
	<div class="sc_empty_space em_height_1____">
        <span class="sc_empty_space_inner"></span>
    </div>
    <div class="footer_wrap_inner widget_area_inner">
        <div class="content_wrap">
            <div class="columns_wrap">
                <aside class="column-1_4 widget widget_socials">
                    <div class="widget_inner">
                        <div class="logo">
                            <a href="index.html">
                                <img src="{{ static('img/logo_light.png') }}" class="logo_main" alt="" width="195" height="51">
                            </a>
                        </div>
                        <div class="logo_descr">Beauty comes from inside you</div>
                    </div>
                </aside>
                <aside class="column-1_4 widget widget_text">
                    <h5 class="widget_title">Contacts</h5>
                    <div class="textwidget">
                        <ul class="sc_list_style_iconed ">
                            <li>
                                <span class="sc_list_icon icon-icon_pin"></span>
                                {{ ADDR }}
                            </li>
                            <li>
                                <span class="sc_list_icon icon-icon_phone"></span>
	                            {{ TEL }}
                            </li>
                            <li>
                                <span class="sc_list_icon icon-icon_mail"></span>
                                <a href="mailto:{{ EMAIL }}">{{ EMAIL }}</a>
                            </li>
                            <li class="footer-button-li">
                                <a
                                  href="https://salondebeautemilos.orion-beauty.gr/el"
                                  class="sc_button sc_button_square sc_button_style_filled sc_button_size_base aligncenter footer-button"
                                >
                                  <div>
                                    <span class="first">Book online</span>
                                    <span class="second">Book online</span>
                                  </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</footer>
