
<div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_over">
    <div class="top_panel_middle">
        <div class="content_wrap">
            <div class="contact_logo">
                <div class="logo">
                    <a href="{{ url('homepage') }}">
	                    {% set url_name=request.resolver_match.url_name %}
	                    {% if url_name == 'homepage' %}
	                    <img src="{{ static('img/logo_light.png') }}" class="logo_main" alt="" width="180" height="56">
                        <img src="{{ static('img/logo_light.png') }}" class="logo_fixed" alt="" width="180" height="56">
	                    {% else %}
	                    <img src="{{ static('img/logo_dark.png') }}" class="logo_main" alt="" width="180" height="56">
                        <img src="{{ static('img/logo_dark.png') }}" class="logo_fixed" alt="" width="180" height="56">
	                    {% endif %}
                    </a>
                </div>
            </div>
            <div class="menu_main_wrap">
                {% include 'base/header_nav.html' %}
            </div>
        </div>
    </div>
</div>