
<div class="header_mobile">
    <div class="content_wrap">
        <div class="menu_button icon-menu"></div>
        <div class="logo">
            <a href="{{ url('homepage') }}">
	            {% set url_name=request.resolver_match.url_name %}
                {% if url_name == 'homepage' %}
                <img src="{{ static('img/logo_light.png') }}" class="logo_main" alt="" width="238" height="56">
	            {% else %}
                <img src="{{ static('img/logo_dark.png') }}" class="logo_main" alt="" width="238" height="56">
	            {% endif %}
            </a>
        </div>
{#        <div class="menu_main_cart top_panel_icon">#}
{#            <a href="#" class="top_panel_cart_button" data-items="0" data-summa="&pound;0.00">#}
{#                <span class="contact_icon icon-icon_bag_alt"></span>#}
{#            </a>#}
{#            <ul class="widget_area sidebar_cart sidebar">#}
{#                <li>#}
{#                    <div class="widget woocommerce widget_shopping_cart">#}
{#                        <div class="hide_cart_widget_if_empty">#}
{#                            <div class="widget_shopping_cart_content">#}
{#                                <ul class="cart_list product_list_widget ">#}
{#                                    <li class="empty">No products in the cart.</li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
    </div>
    <div class="side_wrap">
        <div class="close">{{ _('Close') }}</div>
        <div class="panel_top">
            {% include 'base/header_nav.html' %}
        </div>
        <div class="panel_bottom"></div>
    </div>
    <div class="mask"></div>
</div>