<nav class="menu_main_nav_area">
	<form id="change__lang" action="{{ url('set_language') }}" method="post">{% csrf_token %}</form>
    <ul class="menu_main_nav">
        <li class="menu-item menu-item-has-children"><a>{{ _('Woman') }}</a>
            <ul class="sub-menu">
                {% for spa_category in ctx['spa_categories']() %}
                <li class="menu-item"><a href="{{ spa_category.get_absolute_url() }}">{{ spa_category }}</a></li>
                {% endfor %}
            </ul>
        </li>
	      <li class="menu-item"><a href="{{ url('man') }}">{{ _('Man') }}</a></li>
	      <li class="menu-item"><a href="{{ url('massage') }}">{{ _('Massage') }}</a></li>
	      <li class="menu-item"><a href="{{ url('treatments') }}">{{ _('treatments') }}</a></li>
	      <li class="menu-item"><a href="{{ url('nails') }}">{{ _('Nails') }}</a></li>
        <li class="menu-item"><a href="{{ url('contact') }}">{{ _('Contact') }}</a></li>
        <li class="menu-item menu-item-has-children"><a>{{ _('Language') }}</a>
            <ul id="languages" class="sub-menu">
                {% for language in get_language_info() %}
	                <li class="language__wrapper">
						<input type="radio"
						       form="change__lang"
						       class="language__input"
						       id="{{ language.code }}"
						       name="language"
                               value="{{ language.code }}"
                               onchange="this.form.submit()"
						>
						<label
							class="language__label lang__{{ language.code }}{% if language.code == translation.get_language() %} lang_selected{% endif %}"
							for="{{ language.code }}"
							title="{{ language.name_local }}"
						>
							{{ language.code }}
						</label>
					</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</nav>