{% extends 'base/base.html' %}


{% block content %}

	<div class="body_wrap"{% block extra_body_wrap %}{% endblock %}>
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>
            <header class="{% block header_classes %}{% endblock %}top_panel_wrap menu_show">
                {% include 'base/header.html' %}
            </header>
            {% include 'base/header_mobile.html' %}
            {% block homepage %}{% endblock %}
            {% block woman %}{% endblock %}
            {% block bridal %}{% endblock %}
            {% block massage %}{% endblock %}
            {% block treatments %}{% endblock %}
            {% include 'base/footer.html' %}
            {% include 'base/copyright.html' %}
        </div>
    </div>

{% endblock %}
