
<div data-sc-full-width="true" data-sc-full-width-init="false" class="sc_row row sc_row-fluid sc_custom_1459609995583 inverse_colors">
    <div class="column sc_column_container sc_col-sm-12">
        <div class="sc_column-inner ">
            <div class="wrapper">
                <div class="sc_empty_space em_height_4-5">
                    <span class="sc_empty_space_inner"></span>
                </div>
                <h2 class="sc_title sc_title_regular sc_align_center" style="font-style: italic;">Beauty comes from inside you</h2>
{#                                        <h6 class="sc_title sc_title_regular sc_align_center">Everything you need to build an excellent website.</h6>#}
                <div class="sc_section sc_section_block aligncenter">
                    <div class="sc_section_inner">
                        <div class="sc_section_content_wrap">
                            <a href="{{ url('contact') }}" class="sc_button sc_button_square sc_button_style_border sc_button_size_base">CONTACT US</a>
                        </div>
                    </div>
                </div>
                <div class="sc_empty_space em_height_4">
                    <span class="sc_empty_space_inner"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sc_row-full-width"></div>