
<div data-sc-full-width="true" data-sc-full-width-init="false" class="sc_row row sc_row-fluid sc_custom_1459330954110 scheme_original inverse_colors">
    <div class="column sc_column_container sc_col-sm-12">
        <div class="sc_column-inner ">
            <div class="wrapper">
                <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_4 custom_columns_brands equal_height">
                    <div class="column-1_4 sc_column_item odd first">
                        <div class="sc_column_item_inner">
                            <h6 class="sc_title sc_title_regular">We use products of the best brands only</h6>
                        </div>
                    </div>
                    <div class="column-3_4 sc_column_item even span_3">
                        <div id="sc_clients_049_wrap" class="sc_clients_wrap">
                            <div id="sc_clients_049" class="sc_clients sc_clients_style_clients-1">
                                <div class="sc_slider_swiper swiper-slider-container sc_slider_nopagination sc_slider_nocontrols" data-interval="9292" data-slides-per-view="3" data-slides-min-width="100">
                                    <div class="slides swiper-wrapper">
                                        <div class="swiper-slide" data-style="width:100%;">
                                            <div id="sc_clients_049_1" class="sc_clients_item sc_clients_item_1">
                                                <div class="sc_client_image">
                                                    <img alt="logo-4.png" src="{{ static('img/massage/mass_logos/1.png') }}">
                                                </div>
                                            </div>
                                        </div>
{#                                        <div class="swiper-slide" data-style="width:100%;">#}
{#                                            <div id="sc_clients_049_2" class="sc_clients_item sc_clients_item_2">#}
{#                                                <div class="sc_client_image">#}
{#                                                    <img alt="logo-2.png" src="{{ static('img/massage/mass_logos/2.png') }}">#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
                                        <div class="swiper-slide" data-style="width:100%;">
                                            <div id="sc_clients_049_3" class="sc_clients_item sc_clients_item_3">
                                                <div class="sc_client_image">
                                                    <img alt="logo-1.png" src="{{ static('img/massage/mass_logos/3.png') }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" data-style="width:100%;">
                                            <div id="sc_clients_049_3" class="sc_clients_item sc_clients_item_3">
                                                <div class="sc_client_image">
                                                    <img alt="logo-1.png" src="{{ static('img/massage/mass_logos/4.png') }}">
                                                </div>
                                            </div>
                                        </div>
	                                    <div class="swiper-slide" data-style="width:100%;">
                                            <div id="sc_clients_049_3" class="sc_clients_item sc_clients_item_3">
                                                <div class="sc_client_image">
                                                    <img alt="logo-1.png" src="{{ static('img/massage/mass_logos/5.png') }}">
                                                </div>
                                            </div>
                                        </div>
	                                    <div class="swiper-slide" data-style="width:100%;">
                                            <div id="sc_clients_049_3" class="sc_clients_item sc_clients_item_3">
                                                <div class="sc_client_image">
                                                    <img alt="logo-1.png" src="{{ static('img/massage/mass_logos/6.png') }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sc_slider_controls_wrap">
                                        <a class="sc_slider_prev" href="#"></a>
                                        <a class="sc_slider_next" href="#"></a>
                                    </div>
                                    <div class="sc_slider_pagination_wrap"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sc_row-full-width"></div>