a.eg-henryharrison-element-1,
a.eg-henryharrison-element-2 {
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    -ms-transition: all .4s linear;
    transition: all .4s linear
}

.eg-jimmy-carter-element-11 i:before {
    margin-left: 0;
    margin-right: 0
}

.eg-harding-element-17 {
    letter-spacing: 1px
}

.eg-harding-wrapper .esg-entry-media {
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 30px 30px 0 30px
}

.eg-harding-wrapper .esg-entry-media img {
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%
}

.eg-ulysses-s-grant-wrapper .esg-entry-media {
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 30px 30px 0 30px
}

.eg-ulysses-s-grant-wrapper .esg-entry-media img {
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%
}

.eg-richard-nixon-wrapper .esg-entry-media {
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 30px 30px 0 30px
}

.eg-richard-nixon-wrapper .esg-entry-media img {
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%
}

.eg-herbert-hoover-wrapper .esg-entry-media img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%)
}

.eg-herbert-hoover-wrapper:hover .esg-entry-media img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%)
}

.eg-lyndon-johnson-wrapper .esg-entry-media img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%)
}

.eg-lyndon-johnson-wrapper:hover .esg-entry-media img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%)
}

.esg-overlay.eg-ronald-reagan-container {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}

.eg-georgebush-wrapper .esg-entry-cover {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}

.eg-jefferson-wrapper {
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;
    border-radius: 5px!important;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC)!important
}

.eg-monroe-element-1 {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
}

.eg-lyndon-johnson-wrapper .esg-entry-cover {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(96%, rgba(18, 18, 18, 0)), color-stop(100%, rgba(19, 19, 19, 0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#59000000', endColorstr='#00131313', GradientType=1)
}

.eg-wilbert-wrapper .esg-entry-cover {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(96%, rgba(18, 18, 18, 0)), color-stop(100%, rgba(19, 19, 19, 0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#59000000', endColorstr='#00131313', GradientType=1)
}

.eg-wilbert-wrapper .esg-entry-media img {
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%)
}

.eg-wilbert-wrapper:hover .esg-entry-media img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%)
}

.eg-phillie-element-3:after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    left: 50%;
    margin-left: -5px;
    bottom: -5px;
    position: absolute
}

.eg-howardtaft-wrapper .esg-entry-media img,
.eg-howardtaft-wrapper .esg-media-poster {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%)
}

.eg-howardtaft-wrapper:hover .esg-entry-media img,
.eg-howardtaft-wrapper:hover .esg-media-poster {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%)
}

.myportfolio-container .added_to_cart.wc-forward {
    font-family: "Open Sans";
    font-size: 13px;
    color: #fff;
    margin-top: 10px
}

.esgbox-title.esgbox-title-outside-wrap {
    font-size: 15px;
    font-weight: 700;
    text-align: center
}

.esgbox-title.esgbox-title-inside-wrap {
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
    text-align: center
}

.minimal-light .navigationbuttons,
.minimal-light .esg-pagination,
.minimal-light .esg-filters {
    text-align: center
}

.minimal-light .esg-filterbutton,
.minimal-light .esg-navigationbutton,
.minimal-light .esg-sortbutton,
.minimal-light .esg-cartbutton a {
    color: #999;
    margin-right: 5px;
    cursor: pointer;
    padding: 0 16px;
    border: 1px solid #e5e5e5;
    line-height: 38px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    background: #fff;
    margin-bottom: 5px
}

.minimal-light .esg-navigationbutton * {
    color: #999
}

.minimal-light .esg-navigationbutton {
    padding: 0 16px
}

.minimal-light .esg-pagination-button:last-child {
    margin-right: 0
}

.minimal-light .esg-left,
.minimal-light .esg-right {
    padding: 0 11px
}

.minimal-light .esg-sortbutton-wrapper,
.minimal-light .esg-cartbutton-wrapper {
    display: inline-block
}

.minimal-light .esg-sortbutton-order,
.minimal-light .esg-cartbutton-order {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #e5e5e5;
    width: 40px;
    line-height: 38px;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    font-size: 12px;
    font-weight: 700;
    color: #999;
    cursor: pointer;
    background: #fff
}

.minimal-light .esg-cartbutton {
    color: #333;
    cursor: default!important
}

.minimal-light .esg-cartbutton .esgicon-basket {
    color: #333;
    font-size: 15px;
    line-height: 15px;
    margin-right: 10px
}

.minimal-light .esg-cartbutton-wrapper {
    cursor: default!important
}

.minimal-light .esg-sortbutton,
.minimal-light .esg-cartbutton {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 0;
    border-right: none;
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px
}

.minimal-light .esg-navigationbutton:hover,
.minimal-light .esg-filterbutton:hover,
.minimal-light .esg-sortbutton:hover,
.minimal-light .esg-sortbutton-order:hover,
.minimal-light .esg-cartbutton a:hover,
.minimal-light .esg-filterbutton.selected {
    background-color: #fff;
    border-color: #bbb;
    color: #333;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.13)
}

.minimal-light .esg-navigationbutton:hover * {
    color: #333
}

.minimal-light .esg-sortbutton-order.tp-desc:hover {
    border-color: #bbb;
    color: #333;
    box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.13)!important
}

.minimal-light .esg-filter-checked {
    padding: 1px 3px;
    color: #cbcbcb;
    background: #cbcbcb;
    margin-left: 7px;
    font-size: 9px;
    font-weight: 300;
    line-height: 9px;
    vertical-align: middle
}

.minimal-light .esg-filterbutton.selected .esg-filter-checked,
.minimal-light .esg-filterbutton:hover .esg-filter-checked {
    padding: 1px 3px 1px 3px;
    color: #fff;
    background: #000;
    margin-left: 7px;
    font-size: 9px;
    font-weight: 300;
    line-height: 9px;
    vertical-align: middle
}

.eg-eisenhower-massage-element-6 {
	font-size: 11px;
	line-height: 22px;
	color: #f9a392;
	font-weight: 700;
	padding: 0 0 0 0;
	border-radius: 0 0 0 0;
	background-color: rgba(255, 255, 255, 0);
	z-index: 2!important;
	font-family: Raleway;
	text-transform: uppercase
}

.eg-eisenhower-massage-element-1 {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 400;
	padding: 17px 17px 17px 17px;
	border-radius: 50% 50% 50% 50%;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 2!important;
	display: block;
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 0;
	border-color: #ffffff;
	border-style: solid
}

.eg-eisenhower-massage-element-3 {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 400;
	padding: 17px 17px 17px 17px;
	border-radius: 50% 50% 50% 50%;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 2!important;
	display: block;
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 0;
	border-color: #ffffff;
	border-style: solid
}

.eg-eisenhower-massage-element-0 {
	font-size: 14px!important;
	line-height: 24px!important;
	color: #323232!important;
	font-weight: 600!important;
	display: block!important;
	text-align: center!important;
	clear: both!important;
	margin: 0 0 7px 0!important;
	padding: 0 0 0 0!important;
	border-radius: 0 0 0 0!important;
	background-color: rgba(255, 255, 255, 0)!important;
	position: relative!important;
	z-index: 2!important;
	font-family: Raleway sans-serif !important;
	text-transform: uppercase!important
}

.eg-eisenhower-massage-element-25 {
	font-size: 24px;
	line-height: 24px;
	color: #9a9a9a;
	font-weight: 300;
	display: inline-block;
	float: none;
	clear: both;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border-radius: 0 0 0 0;
	background-color: rgba(255, 255, 255, 0);
	position: relative;
	z-index: 2!important;
	font-family: Raleway sans-serif;
	text-transform: uppercase
}

.eg-eisenhower-massage-element-1:hover {
	font-size: 16px;
	line-height: 22px;
	color: #000000;
	font-weight: 400;
	border-radius: 50px 50px 50px 50px;
	background-color: rgba(255, 255, 255, 1.00);
	border: 0 solid #ffffff;
}

.eg-eisenhower-massage-element-3:hover {
	font-size: 16px;
	line-height: 22px;
	color: #000000;
	font-weight: 400;
	border-radius: 50px 50px 50px 50px;
	background-color: rgba(255, 255, 255, 1.00);
	border: 0 solid #ffffff;
}

.eg-eisenhower-massage-element-1-a {
	display: inline-block;
	float: none;
	clear: none;
	margin: 0 15px 0 0;
	position: relative
}

.eg-eisenhower-massage-element-3-a {
	display: inline-block;
	float: none;
	clear: none;
	margin: 0 0 0 0;
	position: relative
}

.eg-eisenhower-massage-element-6-a {
	font-size: 11px;
	line-height: 22px;
	color: #f9a392;
	font-family: Raleway sans-serif;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	float: none;
	clear: both;
	margin: 5px 0 0 0;
	position: relative
}

.eg-eisenhower-massage-container {
	background-color: rgba(249, 163, 146, 0.50)
}

.eg-eisenhower-massage-content {
	padding: 15px 10px 0 10px;
	border-width: 0 0 0 0;
	border-radius: 0 0 0 0;
	border-color: #e5e5e5;
	border-style: none;
	text-align: center
}

.esg-grid .mainul li.eg-eisenhower-massage-wrapper {
	padding: 0 0 20px 0;
	border-width: 0 0 0 0;
	border-radius: 0 0 0 0;
	border-color: #606060;
	border-style: solid
}

.minimal-light .esg-cartbutton {
	color: #333;
	cursor: default !important
}

.minimal-light .esg-cartbutton .esgicon-basket {
	color: #333;
	font-size: 15px;
	line-height: 15px;
	margin-right: 10px
}

.minimal-light .esg-cartbutton-wrapper {
	cursor: default !important
}

.minimal-light .esg-sortbutton,
.minimal-light .esg-cartbutton {
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin-right: 0;
	border-right: none;
	border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px
}

.minimal-light .esg-navigationbutton:hover,
.minimal-light .esg-filterbutton:hover,
.minimal-light .esg-sortbutton:hover,
.minimal-light .esg-sortbutton-order:hover,
.minimal-light .esg-cartbutton a:hover,
.minimal-light .esg-filterbutton.selected {
	background-color: #fff;
	border-color: #bbb;
	color: #333;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.13)
}

.minimal-light .esg-navigationbutton:hover * {
	color: #333
}

.minimal-light .esg-sortbutton-order.tp-desc:hover {
	border-color: #bbb;
	color: #333;
	box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.13) !important
}

.minimal-light .esg-filter-checked {
	padding: 1px 3px;
	color: #cbcbcb;
	background: #cbcbcb;
	margin-left: 7px;
	font-size: 9px;
	font-weight: 300;
	line-height: 9px;
	vertical-align: middle
}

.minimal-light .esg-filterbutton.selected .esg-filter-checked,
.minimal-light .esg-filterbutton:hover .esg-filter-checked {
	padding: 1px 3px 1px 3px;
	color: #fff;
	background: #000;
	margin-left: 7px;
	font-size: 9px;
	font-weight: 300;
	line-height: 9px;
	vertical-align: middle
}

.eg-roosevelt-massage-element-0 {
	font-size: 18px;
	line-height: 25px;
	color: #ffffff;
	font-weight: 500;
	display: block;
	text-align: center;
	clear: both;
	margin: 0 0 0 0;
	padding: 30px 20px 0 20px;
	border-radius: 0 0 0 0;
	background-color: rgba(33, 33, 33, 1.00);
	position: relative;
	z-index: 2 !important;
	font-family: Raleway sans-serif;
	text-transform: uppercase
}

.eg-roosevelt-massage-element-2 {
	font-size: 16px !important;
	line-height: 22px !important;
	color: #ffffff !important;
	font-weight: 400 !important;
	padding: 17px 17px 17px 17px !important;
	border-radius: 60px 60px 60px 60px !important;
	background-color: rgba(228, 150, 134, 1.00) !important;
	z-index: 2 !important;
	display: block;
	border: 0 solid #ffffff !important;
}

.eg-roosevelt-massage-element-4 {
	font-size: 12px !important;
	line-height: 18px !important;
	color: #ffffff !important;
	font-weight: 400 !important;
	padding: 0 0 0 0 !important;
	border-radius: 0 0 0 0 !important;
	background-color: rgba(33, 33, 33, 1.00) !important;
	z-index: 2 !important;
	font-family: "Droid Serif" sans-serif !important;
	text-transform: capitalize !important
}

.eg-roosevelt-massage-element-1 {
	font-size: 16px !important;
	line-height: 22px !important;
	color: #ffffff !important;
	font-weight: 400 !important;
	padding: 17px 17px 17px 17px !important;
	border-radius: 60px 60px 60px 60px !important;
	background-color: rgba(228, 150, 134, 1.00) !important;
	z-index: 2 !important;
	display: block;
	border: 0 solid #ffffff !important;
}

.eg-roosevelt-massage-element-2:hover {
	font-size: 16px !important;
	line-height: 22px !important;
	color: #ffffff !important;
	font-weight: 400 !important;
	border-radius: 60px 60px 60px 60px !important;
	background-color: rgba(0, 0, 0, 0.78) !important;
	border: 0 solid #ffffff !important;
}

.eg-roosevelt-massage-element-1:hover {
	font-size: 16px !important;
	line-height: 22px !important;
	color: #ffffff !important;
	font-weight: 400 !important;
	border-radius: 60px 60px 60px 60px !important;
	background-color: rgba(0, 0, 0, 1.00) !important;
	border: 0 solid #ffffff !important;
}

.eg-roosevelt-massage-element-2-a {
	display: inline-block !important;
	float: none !important;
	clear: none !important;
	margin: 0 10px 60px 0 !important;
	position: relative !important
}

.eg-roosevelt-massage-element-1-a {
	display: inline-block !important;
	float: none !important;
	clear: none !important;
	margin: 0 0 0 0 !important;
	position: relative !important
}

.eg-roosevelt-massage-element-4-a {
	font-size: 12px !important;
	line-height: 18px !important;
	color: #ffffff !important;
	font-family: "Droid Serif" sans-serif !important;
	font-weight: 400 !important;
	text-decoration: none !important;
	text-transform: capitalize !important;
	display: block !important;
	text-align: center !important;
	clear: none !important;
	margin: 0 0 28px 0 !important;
	position: relative !important
}

.eg-roosevelt-massage-container {
	background-color: rgba(34, 34, 34, 0.75)
}

.eg-roosevelt-massage-content {
	background-color: #212121;
	padding: 0 0 0 0;
	border-width: 0 0 0 0;
	border-radius: 0 0 0 0;
	border-color: transparent;
	border-style: double;
	text-align: left
}

.esg-grid .mainul li.eg-roosevelt-massage-wrapper {
	background-color: #212121;
	padding: 0 0 0 0;
	border-width: 0 0 0 0;
	border-radius: 0 0 0 0;
	border-color: transparent;
	border-style: none
}

.eg-cleveland-massage-element-0 {
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 500;
    display: block;
    text-align: left;
    clear: both;
    margin: 0 0 10px 0;
    padding: 0 0 0 0;
    border-radius: 0 0 0 0;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    z-index: 2!important;
    font-family: Raleway sans-serif;
    text-transform: uppercase
}

.eg-cleveland-massage-element-2 {
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 800;
    padding: 5px 10px 5px 10px;
    border-radius: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 2!important;
    display: block;
    font-family: Raleway sans-serif;
    text-transform: uppercase
}

.eg-cleveland-massage-element-1 {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
    padding: 13px 13px 13px 13px;
    border-radius: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 2!important;
    display: block;
	border: 0 solid #ffffff;
}

.eg-cleveland-massage-element-3 {
    font-size: 13px!important;
    line-height: 16px!important;
    color: #ffffff!important;
    font-weight: 400!important;
    font-style: italic!important;
    display: inline-block!important;
    float: left!important;
    clear: none!important;
    margin: 0 10px 0 0!important;
    padding: 0 10px 0 0!important;
    border-radius: 0 0 0 0!important;
    background-color: rgba(255, 255, 255, 0)!important;
    position: relative!important;
    z-index: 2!important;
    font-family: Droid sans-serif !important;
	border: 0 solid #ffffff !important;
}

.eg-cleveland-massage-element-6 {
    font-size: 14px!important;
    line-height: 22px!important;
    color: #ffffff!important;
    font-weight: 400!important;
    display: block!important;
    text-align: left!important;
    clear: none!important;
    margin: 10px 0 0 0!important;
    padding: 0 0 0 0!important;
    border-radius: 0 0 0 0!important;
    background-color: rgba(255, 255, 255, 0)!important;
    position: relative!important;
    z-index: 2!important;
    font-family: Droid sans-serif !important;
    text-transform: capitalize!important
}

.eg-cleveland-massage-element-2:hover {
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 800;
    border-radius: 0 0 0 0;
    background-color: rgba(0, 0, 0, 1.00);
    font-family: Raleway sans-serif;
    text-transform: uppercase
}

.eg-cleveland-massage-element-1:hover {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 0 0 0 0;
    background-color: rgba(0, 0, 0, 1.00);
	border: 0 solid #ffffff;
}

.eg-cleveland-massage-element-2-a {
    display: inline-block;
    float: none;
    clear: both;
    margin: 0 0 0 0;
    position: relative
}

.eg-cleveland-massage-element-1-a {
    display: inline-block;
    float: left;
    clear: right;
    margin: 0 0 0 0;
    position: relative
}

.eg-cleveland-massage-container {
    background-color: rgba(0, 0, 0, 0.75)
}

.eg-cleveland-massage-content {
    background-color: #f9a392;
    padding: 30px 30px 30px 30px;
    border-width: 0 0 0 0;
    border-radius: 0 0 0 0;
    border-color: transparent;
    border-style: double;
    text-align: left
}

.esg-grid .mainul li.eg-cleveland-massage-wrapper {
    background-color: #333333;
    padding: 0 0 0 0;
    border-width: 0 0 0 0;
    border-radius: 0 0 0 0;
    border-color: transparent;
    border-style: none
}

.eg-roosevelt-massage-element-0 {
	font-size: 18px;
	line-height: 25px;
	color: #ffffff;
	font-weight: 500;
	display: block;
	text-align: center;
	clear: both;
	margin: 0 0 0 0;
	padding: 30px 20px 0 20px;
	border-radius: 0 0 0 0;
	background-color: rgba(33, 33, 33, 1.00);
	position: relative;
	z-index: 2!important;
	font-family: Raleway sans-serif;
	text-transform: uppercase
}

.eg-roosevelt-massage-element-2 {
	font-size: 16px!important;
	line-height: 22px!important;
	color: #ffffff!important;
	font-weight: 400!important;
	padding: 17px 17px 17px 17px!important;
	border-radius: 60px 60px 60px 60px!important;
	background-color: rgba(228, 150, 134, 1.00)!important;
	z-index: 2!important;
	display: block;
	border: 0 solid #ffffff !important;
}

.eg-roosevelt-massage-element-4 {
	font-size: 12px!important;
	line-height: 18px!important;
	color: #ffffff!important;
	font-weight: 400!important;
	padding: 0 0 0 0!important;
	border-radius: 0 0 0 0!important;
	background-color: rgba(33, 33, 33, 1.00)!important;
	z-index: 2!important;
	font-family: "Droid Serif" sans-serif !important;
	text-transform: capitalize!important
}

.eg-roosevelt-massage-element-1 {
	font-size: 16px!important;
	line-height: 22px!important;
	color: #ffffff!important;
	font-weight: 400!important;
	padding: 17px 17px 17px 17px!important;
	border-radius: 60px 60px 60px 60px!important;
	background-color: rgba(228, 150, 134, 1.00)!important;
	z-index: 2!important;
	display: block;
	border: 0 solid #ffffff !important;
}

.eg-roosevelt-massage-element-2:hover {
	font-size: 16px!important;
	line-height: 22px!important;
	color: #ffffff!important;
	font-weight: 400!important;
	border-radius: 60px 60px 60px 60px!important;
	background-color: rgba(0, 0, 0, 0.78)!important;
	border: 0 solid #ffffff !important;
}

.eg-roosevelt-massage-element-1:hover {
	font-size: 16px!important;
	line-height: 22px!important;
	color: #ffffff!important;
	font-weight: 400!important;
	border-radius: 60px 60px 60px 60px!important;
	background-color: rgba(0, 0, 0, 1.00)!important;
	border: 0 solid #ffffff !important;
}

.eg-roosevelt-massage-element-2-a {
	display: inline-block!important;
	float: none!important;
	clear: none!important;
	margin: 0 10px 60px 0!important;
	position: relative!important
}

.eg-roosevelt-massage-element-1-a {
	display: inline-block!important;
	float: none!important;
	clear: none!important;
	margin: 0 0 0 0!important;
	position: relative!important
}

.eg-roosevelt-massage-element-4-a {
	font-size: 12px!important;
	line-height: 18px!important;
	color: #ffffff!important;
	font-family: "Droid Serif" sans-serif !important;
	font-weight: 400!important;
	text-decoration: none!important;
	text-transform: capitalize!important;
	display: block!important;
	text-align: center!important;
	clear: none!important;
	margin: 0 0 28px 0!important;
	position: relative!important
}

.eg-roosevelt-massage-container {
	background-color: rgba(34, 34, 34, 0.75)
}

.eg-roosevelt-massage-content {
	background-color: #212121;
	padding: 0 0 0 0;
	border-width: 0 0 0 0;
	border-radius: 0 0 0 0;
	border-color: transparent;
	border-style: double;
	text-align: left
}

.esg-grid .mainul li.eg-roosevelt-massage-wrapper {
	background-color: #212121;
	padding: 0 0 0 0;
	border-width: 0 0 0 0;
	border-radius: 0 0 0 0;
	border-color: transparent;
	border-style: none
}

.eg-washington-massage-element-1 {
	font-size: 14px!important;
	line-height: 20px!important;
	color: #ffffff!important;
	font-weight: 400!important;
	padding: 10px 10px 10px 10px!important;
	border-radius: 3px 3px 3px 3px!important;
	background-color: rgba(255, 255, 255, 0)!important;
	z-index: 2!important;
	display: block;
	border: 2px solid #ffffff !important;
}

.eg-washington-massage-element-3 {
	font-size: 19px;
	line-height: 20px;
	color: #ffffff;
	font-weight: 400;
	display: inline-block;
	float: left;
	clear: both;
	margin: 20px 20px 0 20px;
	padding: 5px 10px 5px 10px;
	border-radius: 0 0 0 0;
	background-color: rgba(255, 255, 255, 0);
	position: relative;
	z-index: 2!important;
	font-family: Raleway sans-serif;
	text-transform: uppercase;
	border: 0 solid #ffffff;
	border-left-width: 2px;
}

.eg-washington-massage-element-10 {
	font-size: 10px!important;
	line-height: 1px!important;
	color: transparent!important;
	font-weight: 300!important;
	display: inline-block!important;
	float: left!important;
	clear: both!important;
	margin: 0 0 0 20px!important;
	padding: 0 20px 0 20px!important;
	border-radius: 0 0 0 0!important;
	background-color: rgba(255, 255, 255, 0)!important;
	position: relative!important;
	z-index: 2!important;
	text-transform: uppercase!important;
	border: 0 solid #ffffff !important;
	border-top-width: 2px !important;
}

.eg-washington-massage-element-11 {
	font-size: 12px!important;
	line-height: 20px!important;
	color: #ffffff!important;
	font-weight: 500!important;
	padding: 5px 0 0 10px!important;
	border-radius: 0 0 0 0!important;
	background-color: rgba(255, 255, 255, 0)!important;
	z-index: 2!important;
	text-transform: uppercase!important;
	border: 0 solid #ffffff !important;
	border-left-width: 2px !important;
}

.eg-washington-massage-element-1-a {
	display: inline-block!important;
	float: left!important;
	clear: none!important;
	margin: 20px 10px 0 20px!important;
	position: relative!important
}

.eg-washington-massage-element-11-a {
	font-size: 12px!important;
	line-height: 20px!important;
	color: #ffffff!important;
	font-weight: 500!important;
	text-decoration: none!important;
	text-transform: uppercase!important;
	display: block!important;
	text-align: left!important;
	clear: both!important;
	margin: 0 0 20px 20px!important;
	position: relative!important
}

.eg-washington-massage-container {
	background-color: rgba(0, 0, 0, 0.65)
}

.eg-washington-massage-content {
	background-color: #ffffff;
	padding: 0 0 0 0;
	border-width: 0 0 0 0;
	border-radius: 0 0 0 0;
	border-color: transparent;
	border-style: double;
	text-align: left
}

.esg-grid .mainul li.eg-washington-massage-wrapper {
	background-color: #3f424a;
	padding: 0 0 0 0;
	border-width: 0 0 0 0;
	border-radius: 0 0 0 0;
	border-color: transparent;
	border-style: none
}


.home2 .cq-tooltip {
	background:#f9a392;
}

.hotspot-item-1 {
	top:55%;left:20%;
}

.hotspot-item-2 {
	top:35%;left:46%;
}

.hotspot-item-3 {
	top:60%;left:85%;
}