

@charset "utf-8";

@media (min-width: 1440px) and (max-width: 1509px) {
    .post_item_colored .post_featured .post_title {
        font-size: 1.2em;
        line-height: 1.3em;
    }
    .post_item_colored .match_date,
    .post_item_colored .post_category {
        font-size: 1em;
        line-height: 1.3em;
    }
}
@media (min-width: 1263px) and (max-width: 1439px) {
    .body_style_boxed .page_wrap {
        width: 1060px;
    }
    .slider_boxed,
    .content_wrap,
    .content_container {
        width: 1000px;
    }
    .sidebar_show .content {
        width: 670px;
    }
    .sidebar {
        width: 280px;
    }
    .body_style_fullwide.sidebar_right .content,
    .body_style_fullscreen.sidebar_right .content {
        padding-right: 330px;
    }
    .body_style_fullwide.sidebar_right .sidebar,
    .body_style_fullscreen.sidebar_right .sidebar {
        margin-left: -300px;
    }
    .body_style_fullwide.sidebar_left .content,
    .body_style_fullscreen.sidebar_left .content {
        padding-left: 330px;
    }
    .body_style_fullwide.sidebar_left .sidebar,
    .body_style_fullscreen.sidebar_left .sidebar {
        margin-right: -300px;
    }
    .woocommerce.sidebar_show .content {
        width: 690px;
    }
    .woocommerce .sidebar {
        width: 280px;
    }
    .woocommerce.body_style_fullwide.sidebar_right .content,
    .woocommerce.body_style_fullscreen.sidebar_right .content {
        padding-right: 310px;
    }
    .woocommerce.body_style_fullwide.sidebar_right .sidebar,
    .woocommerce.body_style_fullscreen.sidebar_right .sidebar {
        margin-left: -280px;
    }
    .woocommerce.body_style_fullwide.sidebar_left .content,
    .woocommerce.body_style_fullscreen.sidebar_left .content {
        padding-left: 310px;
    }
    .woocommerce.body_style_fullwide.sidebar_left .sidebar,
    .woocommerce.body_style_fullscreen.sidebar_left .sidebar {
        margin-right: -280px;
    }
    .article_style_boxed .sidebar_inner,
    .body_filled .sidebar[class*="scheme_"] .sidebar_inner {
        padding: 2.1429em;
    }
    .top_panel_style_1 .contact_field {
        text-align: center;
        margin-top: 1.5em;
    }
    .top_panel_style_1 .contact_field .contact_icon {
        float: none;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0.3em;
    }
    .post_item_colored .post_category {
        max-height: 1.2em;
        overflow: hidden;
    }
    .post_item_colored .post_descr .post_price {
        margin-top: 1.2em;
    }
    .sc_scroll_horizontal .sc_blogger .isotope_item,
    .sc_scroll_horizontal .sc_blogger [class*=column-],
    .sc_blogger .sc_scroll_horizontal .isotope_item,
    .sc_blogger .sc_scroll_horizontal [class*=column-] {
        width: 343px;
    }
    .sc_scroll_horizontal .sc_blogger .isotope_column_2,
    .sc_scroll_horizontal .sc_blogger .column-1_2,
    .sc_blogger .sc_scroll_horizontal .isotope_column_2,
    .sc_blogger .sc_scroll_horizontal .column-1_2 {
        width: 515px;
    }
    .sc_scroll_horizontal .sc_blogger .isotope_column_4,
    .sc_scroll_horizontal .sc_blogger .column-1_4,
    .sc_blogger .sc_scroll_horizontal .isotope_column_4,
    .sc_blogger .sc_scroll_horizontal .column-1_4 {
        width: 257px;
    }
    .sc_matches_next {
        width: 35%;
    }
    .sc_matches_current {
        width: 65%;
    }
    .sc_matches_next,
    .sc_matches_current {
        padding: 2.5em 2.5em 1em;
    }
    .sc_matches.style_matches-1 .sc_matches_title {
        font-size: 2.5714em;
    }
    .sc_matches.style_matches-1 .sc_matches_descr {
        font-size: 1.2857em;
    }
    .type_player.post_item_colored .player_info {
        font-size: 0.9em;
    }
    .sc_matches.style_matches-2 .sc_match_info .name {
        width: 8em;
    }
    .widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li+li {
        margin-left: 0.4em;
    }
    .widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
        padding: 2px 0.5em;
    }
    .sc_recent_news_style_news-announce .post_size_full {
        height: 372px;
    }
    .sc_recent_news_style_news-announce .post_size_big {
        height: 186px;
    }
    .sc_recent_news_style_news-announce .post_size_medium {
        height: 93px;
    }
    .sc_recent_news_style_news-announce .post_size_small {
        height: 93px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {
        height: 560px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {
        height: 280px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {
        height: 140px;
    }
    .sc_recent_news_style_news-announce .post_size_medium .post_title,
    .sc_recent_news_style_news-announce .post_size_small .post_title {
        font-size: 1.2em;
    }
}
@media (min-width: 1136px) and (max-width: 1262px) {
    .body_style_boxed .page_wrap {
        width: 970px;
    }
    .slider_boxed,
    .content_wrap,
    .content_container {
        width: 910px;
    }
    .sidebar_show .content {
        width: 610px;
    }
    .woocommerce.sidebar_show .content {
        width: 630px;
    }
    .sc_scroll_horizontal .sc_blogger .isotope_item,
    .sc_scroll_horizontal .sc_blogger [class*=column-],
    .sc_blogger .sc_scroll_horizontal .isotope_item,
    .sc_blogger .sc_scroll_horizontal [class*=column-] {
        width: 313px;
    }
    .sc_scroll_horizontal .sc_blogger .isotope_column_2,
    .sc_scroll_horizontal .sc_blogger .column-1_2,
    .sc_blogger .sc_scroll_horizontal .isotope_column_2,
    .sc_blogger .sc_scroll_horizontal .column-1_2 {
        width: 470px;
    }
    .sc_scroll_horizontal .sc_blogger .isotope_column_4,
    .sc_scroll_horizontal .sc_blogger .column-1_4,
    .sc_blogger .sc_scroll_horizontal .isotope_column_4,
    .sc_blogger .sc_scroll_horizontal .column-1_4 {
        width: 235px;
    }
    .sc_recent_news_style_news-announce .post_size_full {
        height: 344px;
    }
    .sc_recent_news_style_news-announce .post_size_big {
        height: 172px;
    }
    .sc_recent_news_style_news-announce .post_size_medium {
        height: 86px;
    }
    .sc_recent_news_style_news-announce .post_size_small {
        height: 86px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {
        height: 512px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {
        height: 256px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {
        height: 128px;
    }
    .sc_recent_news_style_news-announce .post_size_medium .post_title,
    .sc_recent_news_style_news-announce .post_size_small .post_title {
        font-size: 1.2em;
    }
}
@media (min-width: 1024px) and (max-width: 1135px) {
    .body_style_boxed .page_wrap {
        width: 100%;
    }
    .slider_boxed,
    .content_wrap,
    .content_container {
        width: 964px;
    }
    .sidebar_show .content {
        width: 664px;
    }
    .woocommerce.sidebar_show .content {
        width: 684px;
    }
    .sc_scroll_horizontal .sc_blogger .isotope_item,
    .sc_scroll_horizontal .sc_blogger [class*=column-],
    .sc_blogger .sc_scroll_horizontal .isotope_item,
    .sc_blogger .sc_scroll_horizontal [class*=column-] {
        width: 331px;
    }
    .sc_scroll_horizontal .sc_blogger .isotope_column_2,
    .sc_scroll_horizontal .sc_blogger .column-1_2,
    .sc_blogger .sc_scroll_horizontal .isotope_column_2,
    .sc_blogger .sc_scroll_horizontal .column-1_2 {
        width: 497px;
    }
    .sc_scroll_horizontal .sc_blogger .isotope_column_4,
    .sc_scroll_horizontal .sc_blogger .column-1_4,
    .sc_blogger .sc_scroll_horizontal .isotope_column_4,
    .sc_blogger .sc_scroll_horizontal .column-1_4 {
        width: 248px;
    }
    .sc_recent_news_style_news-announce .post_size_full {
        height: 372px;
    }
    .sc_recent_news_style_news-announce .post_size_big {
        height: 186px;
    }
    .sc_recent_news_style_news-announce .post_size_medium {
        height: 93px;
    }
    .sc_recent_news_style_news-announce .post_size_small {
        height: 93px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {
        height: 540px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {
        height: 270px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {
        height: 135px;
    }
    .sc_recent_news_style_news-announce .post_size_medium .post_title,
    .sc_recent_news_style_news-announce .post_size_small .post_title {
        font-size: 1.2em;
    }
	li.tp-revslider-slidesli[data-index="rs-8"] > .tp-parallax-wrap {
		margin-left: 40px;
	}
}
@media (min-width: 960px) and (max-width: 1023px) {
    .menu_main_nav_area .menu_main_nav {
        flex-flow: column;
    }
    .body_style_boxed .page_wrap {
        width: 100%;
    }
    .slider_boxed,
    .content_wrap,
    .content_container {
        width: 900px;
    }
    .sidebar_show .content {
        width: 600px;
    }
    .woocommerce.sidebar_show .content {
        width: 620px;
    }
    .slider_over_content .sc_form_message textarea {
        min-height: 8em;
    }
    .sc_scroll_horizontal .sc_blogger .isotope_item,
    .sc_scroll_horizontal .sc_blogger [class*=column-],
    .sc_blogger .sc_scroll_horizontal .isotope_item,
    .sc_blogger .sc_scroll_horizontal [class*=column-] {
        width: 310px;
    }
    .sc_scroll_horizontal .sc_blogger .isotope_column_2,
    .sc_scroll_horizontal .sc_blogger .column-1_2,
    .sc_blogger .sc_scroll_horizontal .isotope_column_2,
    .sc_blogger .sc_scroll_horizontal .column-1_2 {
        width: 465px;
    }
    .sc_scroll_horizontal .sc_blogger .isotope_column_4,
    .sc_scroll_horizontal .sc_blogger .column-1_4,
    .sc_blogger .sc_scroll_horizontal .isotope_column_4,
    .sc_blogger .sc_scroll_horizontal .column-1_4 {
        width: 232px;
    }
    .sc_recent_news_style_news-announce .post_size_full {
        height: 336px;
    }
    .sc_recent_news_style_news-announce .post_size_big {
        height: 168px;
    }
    .sc_recent_news_style_news-announce .post_size_medium {
        height: 84px;
    }
    .sc_recent_news_style_news-announce .post_size_small {
        height: 84px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {
        height: 504px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {
        height: 252px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {
        height: 126px;
    }
    .sc_recent_news_style_news-announce .post_size_medium .post_title,
    .sc_recent_news_style_news-announce .post_size_small .post_title {
        font-size: 1.2em;
    }
	li.tp-revslider-slidesli[data-index="rs-8"] > .tp-parallax-wrap {
		margin-left: 40px;
	}
}
@media (min-width: 960px) and (max-width: 1262px) {
    .sidebar {
        width: 270px;
    }
    .body_style_fullwide.sidebar_right .content,
    .body_style_fullscreen.sidebar_right .content {
        padding-right: 300px;
    }
    .body_style_fullwide.sidebar_right .sidebar,
    .body_style_fullscreen.sidebar_right .sidebar {
        margin-left: -270px;
    }
    .body_style_fullwide.sidebar_left .content,
    .body_style_fullscreen.sidebar_left .content {
        padding-left: 300px;
    }
    .body_style_fullwide.sidebar_left .sidebar,
    .body_style_fullscreen.sidebar_left .sidebar {
        margin-right: -270px;
    }
    .woocommerce .sidebar {
        width: 250px;
    }
    .woocommerce.body_style_fullwide.sidebar_right .content,
    .woocommerce.body_style_fullscreen.sidebar_right .content {
        padding-right: 280px;
    }
    .woocommerce.body_style_fullwide.sidebar_right .sidebar,
    .woocommerce.body_style_fullscreen.sidebar_right .sidebar {
        margin-left: -250px;
    }
    .woocommerce.body_style_fullwide.sidebar_left .content,
    .woocommerce.body_style_fullscreen.sidebar_left .content {
        padding-left: 280px;
    }
    .woocommerce.body_style_fullwide.sidebar_left .sidebar,
    .woocommerce.body_style_fullscreen.sidebar_left .sidebar {
        margin-right: -250px;
    }
    .article_style_boxed .sidebar_inner,
    .body_filled .sidebar[class*="scheme_"] .sidebar_inner {
        padding: 2.1429em;
    }
    .top_panel_style_1 .contact_field {
        text-align: center;
        margin-top: 1.5em;
    }
    .top_panel_style_1 .contact_field .contact_icon {
        float: none;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0.3em;
    }
    .post_item_colored .post_category {
        max-height: 1.2em;
        overflow: hidden;
    }
    .post_item_colored .post_descr .post_price {
        margin-top: 1.2em;
    }
    .post_item_colored .post_featured .post_title {
        font-size: 1.2857em;
    }
    .widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li+li {
        margin-left: 0.4em;
    }
    .widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
        padding: 2px 0.25em;
    }
    .widget_area .widget_calendar td .day_wrap {
        padding: 6px 3px;
    }
    .woocommerce .widget_price_filter .price_label {
        font-size: 1em;
    }
    .woocommerce ul.products li.product .price,
    .woocommerce-page ul.products li.product .price {
        font-size: 1em;
    }
    .top_panel_wrap .widget_shopping_cart ul.cart_list>li>a:not(.remove) {
        margin-top: -0.15em;
    }
    .sc_googlemap {
        max-height: 350px;
    }
    .sc_googlemap_content {
        position: static;
        width: auto;
    }
    .sc_matches_next {
        width: 35%;
    }
    .sc_matches_current {
        width: 65%;
    }
    .sc_matches_next,
    .sc_matches_current {
        padding: 2.5em 2.5em 1em;
    }
    .match_block .match_score {
        font-size: 3em;
    }
    .sc_matches.style_matches-1 .sc_matches_title {
        font-size: 2.5714em;
    }
    .sc_matches.style_matches-1 .sc_matches_descr {
        font-size: 1.2857em;
    }
    .sc_matches.style_matches-2 .sc_match_info .name {
        width: 6em;
    }
    .post_item_colored .match_date,
    .post_item_colored .post_category {
        font-size: 1.0769em;
        line-height: 1.2em;
        margin-bottom: 0.4em;
    }
    .type_player.post_item_colored .player_info {
        line-height: 1.25em;
    }
    .post_item_single_players .player_content {
        padding-top: 2.5em;
    }
}
@media (min-width: 768px) and (max-width: 959px) {
    .menu_main_nav_area .menu_main_nav {
        flex-flow: column;
    }
    .body_style_boxed .page_wrap {
        width: 100%;
    }
    .slider_boxed,
    .content_wrap,
    .content_container {
        width: 708px;
    }
    .sidebar_show .content {
        width: 100%;
        float: none;
    }
    .sidebar_show .sidebar {
        width: 100%;
        float: none;
        margin-top: 8em;
    }
    .body_style_fullwide.sidebar_right .content,
    .body_style_fullscreen.sidebar_right .content {
        padding-right: 0!important;
    }
    .body_style_fullwide.sidebar_right .sidebar,
    .body_style_fullscreen.sidebar_right .sidebar {
        margin-left: 0!important;
    }
    .body_style_fullwide.sidebar_left .content,
    .body_style_fullscreen.sidebar_left .content {
        padding-left: 0!important;
    }
    .body_style_fullwide.sidebar_left .sidebar,
    .body_style_fullscreen.sidebar_left .sidebar {
        margin-right: 0!important;
    }
    .woocommerce.sidebar_show .content {
        width: 100%;
        float: none;
    }
    .woocommerce .sidebar {
        width: 100%;
        float: none;
        margin-top: 2em;
    }
    .slider_over_content .sc_form_message textarea {
        min-height: 7em;
    }
    .slider_over_content .sc_form .sc_form_item input[type="text"],
    .slider_over_content .sc_form .sc_form_item select,
    .slider_over_content .sc_form .sc_form_item textarea {
        padding: 0.6em 1em;
    }
    .sidebar aside {
        display: inline-block;
        vertical-align: top;
        width: 47%;
        margin-left: 5%;
    }
    .sidebar aside+aside {
        padding-top: 0;
        border-top: none;
        margin-top: 0;
    }
    .sidebar aside:nth-child(2n+1) {
        margin-left: 0;
    }
    .sidebar aside:nth-child(n + 3) {
        padding-top: 3em;
        border-top: 1px solid #f4f7f9;
        margin-top: 3em;
    }
    .footer_wrap aside {
        width: 50%;
        margin-bottom: 0;
    }
    .footer_wrap aside:nth-child(n + 3) {
        padding-top: 3em;
        margin-top: 3em;
    }
    .gallery.gallery-columns-9 .gallery-item {
        width: 20%!important;
    }
    .gallery.gallery-columns-8 .gallery-item {
        width: 20%!important;
    }
    .gallery.gallery-columns-7 .gallery-item {
        width: 20%!important;
    }
    .gallery.gallery-columns-6 .gallery-item {
        width: 20%!important;
    }
    .top_panel_top_user_area {
        float: none;
        clear: both;
        width: 100%;
    }
    .top_panel_top_socials {
        float: left;
        margin-left: 0;
        margin-right: 4.5em;
    }
    .top_panel_style_1 .contact_field {
        text-align: center;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    .top_panel_style_1 .contact_field .contact_icon {
        float: none;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0.3em;
    }
    .post_item_colored .post_category {
        max-height: 1.2em;
        overflow: hidden;
    }
    .post_item_colored .post_descr .post_price {
        margin-top: 1.2em;
    }
    .post_item_colored .post_info_wrap .post_button+.post_button {
        margin-left: 0.4em;
    }
    .sc_scroll_horizontal .sc_blogger .isotope_item,
    .sc_scroll_horizontal .sc_blogger [class*=column-],
    .sc_blogger .sc_scroll_horizontal .isotope_item,
    .sc_blogger .sc_scroll_horizontal [class*=column-] {
        width: 246px;
    }
    .sc_scroll_horizontal .sc_blogger .isotope_column_2,
    .sc_scroll_horizontal .sc_blogger .column-1_2,
    .sc_blogger .sc_scroll_horizontal .isotope_column_2,
    .sc_blogger .sc_scroll_horizontal .column-1_2 {
        width: 369px;
    }
    .widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li+li {
        margin-left: 0.4em;
    }
    .widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
        padding: 2px 0.5em;
    }
    .sc_recent_news_style_news-announce .post_item {
        float: none;
    }
    .sc_recent_news_style_news-announce .post_size_full {
        width: 100%;
        height: 198px;
    }
    .sc_recent_news_style_news-announce .post_size_big {
        width: 100%;
        height: 198px;
    }
    .sc_recent_news_style_news-announce .post_size_medium {
        width: 100%;
        height: 198px;
    }
    .sc_recent_news_style_news-announce .post_size_small {
        width: 100%;
        height: 198px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {
        width: 100%;
        height: 198px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {
        width: 100%;
        height: 198px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {
        width: 100%;
        height: 198px;
    }
    .sc_recent_news_style_news-announce .post_size_full .post_featured {
        max-height: 100%;
    }
    .sc_recent_news_style_news-announce .post_size_big .post_featured {
        max-height: 100%;
    }
    .sc_recent_news_style_news-announce .post_size_medium .post_featured {
        max-height: 100%;
    }
    .sc_recent_news_style_news-announce .post_size_small .post_featured {
        max-height: 100%;
    }
    .sc_promo_block {
        min-width: 50%;
    }
    .sc_promo_block_inner {
        padding: 3.5em;
    }
    .sc_googlemap {
        max-height: 350px;
    }
    .sc_googlemap_content {
        position: static;
        width: auto;
    }
    .popup_menuitem>.sc_menuitems_wrap {
        width: 600px;
    }
    .sc_matches_next,
    .sc_matches_current {
        float: none;
        width: 100%;
        padding: 2.5em 2.5em 1em;
    }
    .match_block .match_score {
        font-size: 3em;
    }
    .sc_matches.style_matches-1 .sc_matches_title {
        font-size: 2.5714em;
    }
    .sc_matches.style_matches-1 .sc_matches_descr {
        font-size: 1.2857em;
    }
    .sc_matches.style_matches-2 .sc_matches_next .sc_matches_list {
        float: none;
        width: 100%;
    }
    .sc_matches.style_matches-2 .sc_match_info {
        text-align: center;
    }
    .sc_matches.style_matches-2 .sc_match_info .name {
        width: 10em;
    }
    .post_item_colored .match_date,
    .post_item_colored .post_category {
        font-size: 1.0769em;
        line-height: 1.2em;
        margin-bottom: 0.4em;
    }
    .type_player.post_item_colored .player_info {
        line-height: 1.4em;
    }
    .post_item_single_players .player_content {
        padding-top: 2.5em;
    }
    .woocommerce .widget_price_filter .price_label {
        font-size: 1em;
    }
    .woocommerce ul.products li.product .price,
    .woocommerce-page ul.products li.product .price {
        font-size: 1em;
    }
    .top_panel_wrap .widget_shopping_cart ul.cart_list>li>a:not(.remove) {
        margin-top: -0.15em;
    }
    .woocommerce table.cart img,
    .woocommerce #content table.cart img,
    .woocommerce-page table.cart img,
    .woocommerce-page #content table.cart img {
        width: 60px;
    }
    .woocommerce table.cart td,
    .woocommerce #content table.cart td,
    .woocommerce-page table.cart td,
    .woocommerce-page #content table.cart td {
        padding: 8px;
    }
    .woocommerce #content table.cart td.actions .coupon,
    .woocommerce table.cart td.actions .coupon,
    .woocommerce-page #content table.cart td.actions .coupon,
    .woocommerce-page table.cart td.actions .coupon {
        float: left;
    }
    .woocommerce #content table.cart td.actions .button,
    .woocommerce table.cart td.actions .button,
    .woocommerce-page #content table.cart td.actions .button,
    .woocommerce-page table.cart td.actions .button {
        width: auto;
    }
    .woocommerce #content table.cart td.actions>.button,
    .woocommerce table.cart td.actions>.button,
    .woocommerce-page #content table.cart td.actions>.button,
    .woocommerce-page table.cart td.actions>.button {
        float: right;
    }
    .woocommerce.columns-5 ul.products li.product,
    .woocommerce-page.columns-5 ul.products li.product,
    .woocommerce .related.products ul.products li.product.column-1_5,
    .woocommerce-page .related.products ul.products li.product.column-1_5,
    .woocommerce .upcells.products ul.products li.product.column-1_5,
    .woocommerce-page .upcells.products ul.products li.product.column-1_5,
    .woocommerce ul.products li.product.column-1_5,
    .woocommerce-page ul.products li.product.column-1_5 {
        width: 33.3333%;
    }
    .woocommerce.columns-6 ul.products li.product,
    .woocommerce-page.columns-6 ul.products li.product,
    .woocommerce .related.products ul.products li.product.column-1_6,
    .woocommerce-page .related.products ul.products li.product.column-1_6,
    .woocommerce .upcells.products ul.products li.product.column-1_6,
    .woocommerce-page .upcells.products ul.products li.product.column-1_6,
    .woocommerce ul.products li.product.column-1_6,
    .woocommerce-page ul.products li.product.column-1_6 {
        width: 33.3333%;
    }
    #buddypress #item-nav {
        float: none;
        margin-bottom: 2em;
        width: auto;
        display: inline-block;
    }
    #buddypress #item-nav ul {
        overflow: hidden;
    }
    #buddypress #item-nav ul li {
        float: left;
    }
    #myplayer .ttw-music-player .album-cover {
        width: 100%;
        float: none;
        overflow: hidden;
    }
    #myplayer .ttw-music-player .album-cover .img {
        position: static;
        max-height: none;
        margin-top: 0;
    }
    #myplayer .ttw-music-player .album-cover img {
        max-width: none;
    }
    #myplayer .ttw-music-player .tracklist {
        position: relative;
        margin-left: 0;
        padding: 0;
        top: 0;
    }
    .scroll_to_top {
        right: 1em;
    }
    .scroll_to_top.show {
        bottom: 1em;
    }
	#slide-1-layer-2, #slide-4-layer-2, #slide-5-layer-2, #slide-6-layer-2, #slide-7-layer-2 {
		font-size: 50px !important;
		line-height: 50px !important;
	}
	.widget_area .widget_calendar table {
		width: auto;
	}
}
@media (min-width: 640px) and (max-width: 782px) {
    .menu_main_nav_area .menu_main_nav {
        flex-flow: column;
    }
	#tribe-events-pg-template .tribe-bar-views-inner {
		padding-right:20px!important;
	}
}
@media (min-width: 640px) and (max-width: 767px) {
    .slider_boxed,
    .content_wrap,
    .content_container {
        width: 600px;
    }
    .popup_wrap {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .isotope_wrap {
        margin-right: -20px;
    }
    .isotope_wrap .isotope_item {
        padding-right: 20px;
        padding-bottom: 20px;
        min-width: 50%;
    }
    .sc_scroll_horizontal .sc_blogger .isotope_item,
    .sc_scroll_horizontal .sc_blogger [class*=column-],
    .sc_blogger .sc_scroll_horizontal .isotope_item,
    .sc_blogger .sc_scroll_horizontal [class*=column-] {
        width: 206px;
        min-width: 0;
    }
    .sc_scroll_horizontal .sc_blogger .isotope_column_2,
    .sc_scroll_horizontal .sc_blogger .column-1_2,
    .sc_blogger .sc_scroll_horizontal .isotope_column_2,
    .sc_blogger .sc_scroll_horizontal .column-1_2 {
        width: 310px;
    }
    .sc_recent_news_style_news-announce .post_item {
        float: none;
    }
    .sc_recent_news_style_news-announce .post_size_full {
        width: 100%;
        height: 168px;
    }
    .sc_recent_news_style_news-announce .post_size_big {
        width: 100%;
        height: 168px;
    }
    .sc_recent_news_style_news-announce .post_size_medium {
        width: 100%;
        height: 168px;
    }
    .sc_recent_news_style_news-announce .post_size_small {
        width: 100%;
        height: 168px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {
        width: 100%;
        height: 168px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {
        width: 100%;
        height: 168px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {
        width: 100%;
        height: 168px;
    }
    .sc_recent_news_style_news-announce .post_size_full .post_featured {
        max-height: 100%;
    }
    .sc_recent_news_style_news-announce .post_size_big .post_featured {
        max-height: 100%;
    }
    .sc_recent_news_style_news-announce .post_size_medium .post_featured {
        max-height: 100%;
    }
    .sc_recent_news_style_news-announce .post_size_small .post_featured {
        max-height: 100%;
    }
    .popup_menuitem>.sc_menuitems_wrap {
        width: 500px;
    }
}
@media (min-width: 640px) and (max-width: 959px) {
    .sc_team_style_team-3 [class*="column-"] .sc_team_item,
    [class*="column-"] .sc_skills_counter {
        max-width: 250px;
        margin: 0 0 0 auto;
    }
    .sc_team_style_team-3 [class*="column-"]:nth-child(2n) .sc_team_item,
    [class*="column-"]:nth-child(2n) .sc_skills_counter {
        margin: 0 auto 0 0;
    }
    #tribe-events-pg-template #tribe-bar-form label {
        display: none;
    }
    .tribe-bar-collapse #tribe-bar-collapse-toggle {
        margin: 2em!important;
    }
	#tribe-events-pg-template #tribe-bar-form .tribe-bar-submit input[type=submit] {
		margin-top:0!important;
	}
	}
@media (min-width: 480px) and (max-width: 767px) {
    .menu_main_nav_area .menu_main_nav {
        flex-flow: column;
    }
    .body_style_boxed .page_wrap {
        width: 100%;
    }
    .sidebar_show .content {
        width: 100%;
        float: none;
    }
    .sidebar_show .sidebar {
        width: 100%;
        float: none;
    }
    .body_style_fullwide.sidebar_right .content,
    .body_style_fullscreen.sidebar_right .content {
        padding-right: 0!important;
    }
    .body_style_fullwide.sidebar_right .sidebar,
    .body_style_fullscreen.sidebar_right .sidebar {
        margin-left: 0!important;
    }
    .body_style_fullwide.sidebar_left .content,
    .body_style_fullscreen.sidebar_left .content {
        padding-left: 0!important;
    }
    .body_style_fullwide.sidebar_left .sidebar,
    .body_style_fullscreen.sidebar_left .sidebar {
        margin-right: 0!important;
    }
    .woocommerce.sidebar_show .content {
        width: 100%;
        float: none;
    }
    .woocommerce .sidebar {
        width: 100%;
        float: none;
        margin-top: 2em;
    }
    .article_style_boxed .sidebar,
    .body_filled .sidebar[class*="scheme_"] {}.slider_over_content_inner {
        padding: 1.5em;
    }
    .slider_over_content .sc_form_message textarea {
        min-height: 7em;
    }
    .slider_over_content .sc_form .sc_form_item input[type="text"],
    .slider_over_content .sc_form .sc_form_item select,
    .slider_over_content .sc_form .sc_form_item textarea {
        padding: 0.5em 1em;
    }
    .widget_area aside {
        display: inline-block;
        float: none;
        vertical-align: top;
        width: 48%;
        margin-left: 4%;
    }
    .widget_area aside[class*="column-"] {
        margin-left: 0;
    }
    .widget_area aside+aside {
        padding-top: 0;
        border-top: none;
        margin-top: 0;
    }
    .widget_area aside:nth-child(2n+1) {
        margin-left: -4px;
    }
    .widget_area aside:nth-child(2n+3),
    .widget_area aside:nth-child(2n+4) {
        padding-top: 3em;
        border-top: 1px solid #f4f7f9;
        margin-top: 3em;
    }
    .footer_wrap aside {
        margin-bottom: 0;
    }
    .footer_wrap aside:nth-child(2n+3),
    .footer_wrap aside:nth-child(2n+4) {
        border-top: none;
    }
    .container,
    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
    .row,
    .columns_wrap {
        margin-right: -20px;
    }
    .row>[class*="column-"],
    .columns_wrap>[class*="column-"] {
        padding-right: 20px;
    }
    .row.column_padding_left,
    .columns_wrap.column_padding_left {
        margin-left: -20px;
    }
    .row.column_padding_left>[class*="column-"],
    .columns_wrap.column_padding_left>[class*="column-"],
    .row>[class*="column-"].column_padding_left,
    .columns_wrap>[class*="column-"].column_padding_left {
        padding-left: 20px;
    }
    .row.column_padding_right,
    .columns_wrap.column_padding_right {
        margin-right: -20px;
    }
    .row.column_padding_right>[class*="column-"],
    .columns_wrap.column_padding_right>[class*="column-"],
    .row>[class*="column-"].column_padding_right,
    .columns_wrap>[class*="column-"].column_padding_right {
        padding-right: 20px;
    }
    .row.column_padding_center,
    .columns_wrap.column_padding_center {
        margin-left: -10px;
        margin-right: -10px;
    }
    .row.column_padding_center>[class*="column-"],
    .columns_wrap.column_padding_center>[class*="column-"],
    .row>[class*="column-"].column_padding_center,
    .columns_wrap>[class*="column-"].column_padding_center {
        padding-left: 20px;
    }
    .row>[class*="column-"].column_padding_bottom,
    .columns_wrap>[class*="column-"].column_padding_bottom {
        padding-bottom: 20px;
    }
    .row:not(.columns_fluid)>[class*="column-"],
    .columns_wrap:not(.columns_fluid)>[class*="column-"] {
        width: 50%;
    }
    .row:not(.columns_fluid)>.column-1_1,
    .row:not(.columns_fluid)>.column-2_2,
    .row:not(.columns_fluid)>.column-3_3,
    .row:not(.columns_fluid)>.column-4_4,
    .row:not(.columns_fluid)>.column-5_5,
    .row:not(.columns_fluid)>.column-6_6,
    .row:not(.columns_fluid)>.column-7_7,
    .row:not(.columns_fluid)>.column-8_8,
    .row:not(.columns_fluid)>.column-9_9,
    .row:not(.columns_fluid)>.column-10_10,
    .row:not(.columns_fluid)>.column-11_11,
    .row:not(.columns_fluid)>.column-12_12,
    .columns_wrap:not(.columns_fluid)>.column-1_1,
    .columns_wrap:not(.columns_fluid)>.column-2_2,
    .columns_wrap:not(.columns_fluid)>.column-3_3,
    .columns_wrap:not(.columns_fluid)>.column-4_4,
    .columns_wrap:not(.columns_fluid)>.column-5_5,
    .columns_wrap:not(.columns_fluid)>.column-6_6,
    .columns_wrap:not(.columns_fluid)>.column-7_7,
    .columns_wrap:not(.columns_fluid)>.column-8_8,
    .columns_wrap:not(.columns_fluid)>.column-9_9,
    .columns_wrap:not(.columns_fluid)>.column-10_10,
    .columns_wrap:not(.columns_fluid)>.column-11_11,
    .columns_wrap:not(.columns_fluid)>.column-12_12,
    .row:not(.columns_fluid)>.column-2_3,
    .columns_wrap:not(.columns_fluid)>.column-2_3,
    .row:not(.columns_fluid)>.column-2_4,
    .columns_wrap:not(.columns_fluid)>.column-3_4,
    .row:not(.columns_fluid)>.column-2_5,
    .columns_wrap:not(.columns_fluid)>.column-2_5,
    .row:not(.columns_fluid)>.column-3_5,
    .columns_wrap:not(.columns_fluid)>.column-3_5,
    .row:not(.columns_fluid)>.column-4_5,
    .columns_wrap:not(.columns_fluid)>.column-4_5,
    .row:not(.columns_fluid)>.column-2_6,
    .columns_wrap:not(.columns_fluid)>.column-2_6,
    .row:not(.columns_fluid)>.column-3_6,
    .columns_wrap:not(.columns_fluid)>.column-3_6,
    .row:not(.columns_fluid)>.column-4_6,
    .columns_wrap:not(.columns_fluid)>.column-4_6,
    .row:not(.columns_fluid)>.column-5_6,
    .columns_wrap:not(.columns_fluid)>.column-5_6 {
        width: 100%;
    }
    .gallery.gallery-columns-9 .gallery-item {
        width: 33.3333%!important;
    }
    .gallery.gallery-columns-8 .gallery-item {
        width: 33.3333%!important;
    }
    .gallery.gallery-columns-7 .gallery-item {
        width: 33.3333%!important;
    }
    .gallery.gallery-columns-6 .gallery-item {
        width: 33.3333%!important;
    }
    .gallery.gallery-columns-5 .gallery-item {
        width: 33.3333%!important;
    }
    .gallery.gallery-columns-4 .gallery-item {
        width: 33.3333%!important;
    }
    .top_panel_top_user_area {
        float: none;
        clear: both;
        width: 100%;
    }
    .top_panel_top_socials {
        float: left;
        margin-left: 0;
        margin-right: 4.5em;
    }
    .top_panel_top_contact_area,
    .top_panel_top_search,
    .top_panel_top_user_area .menu_user_nav {
        margin-top: 0.5em;
    }
    .top_panel_top_search {
        padding-top: 0.1em;
        margin-right: 1em;
    }
    .top_panel_top_search .search_field {
        max-width: 4em;
    }
    .top_panel_style_3 .top_panel_top_socials {
        margin-right: 2em;
    }
    .top_panel_style_1 .top_panel_top_socials,
    .top_panel_style_1 .top_panel_top_open_hours,
    .top_panel_style_2 .top_panel_top_socials,
    .top_panel_style_2 .top_panel_top_open_hours,
    .top_panel_style_3 .top_panel_top_socials {
        margin-top: 0.5em;
    }
    .top_panel_style_1 .menu_user_nav>li>a,
    .top_panel_style_2 .menu_user_nav>li>a,
    .top_panel_style_3 .menu_user_nav>li>a {
        padding-top: 0;
        padding-bottom: 0;
    }
    .top_panel_style_3 .search_results {
        top: 3em;
    }
    .top_panel_middle .logo {
        font-size: 0.875em;
    }
    .top_panel_middle .logo img {
        max-height: 40px;
    }
    .top_panel_style_1 .contact_logo {
        width: 100%;
    }
    .top_panel_style_1 .logo {
        text-align: center;
    }
    .top_panel_style_1 .contact_field {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 2em;
        padding-top: 0!important;
        width: 33.3333%!important;
    }
    .top_panel_style_2 .contact_field {
        margin: 1em 0;
    }
    .top_panel_style_2 .contact_field,
    .top_panel_style_2 .contact_phone>span+span {
        text-align: center;
    }
    .top_panel_style_1 .contact_field .contact_icon,
    .top_panel_style_2 .contact_field .contact_icon {
        float: none;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0.3em;
    }
    .top_panel_title .page_title,
    .top_panel_title .post_navi,
    .top_panel_title .breadcrumbs {
        max-width: 100%!important;
        float: none;
        text-align: center;
    }
    .top_panel_title .page_title {
        padding-bottom: 0.5em;
    }
    .top_panel_title.title_present .breadcrumbs {
        padding: 0 0 4em 0!important;
    }
    .post_featured_left>.post_featured,
    .post_featured_right>.post_featured {
        float: none;
        margin-left: 0;
        margin-bottom: 2em;
        width: 100%;
    }
    .isotope_wrap .isotope_item_colored .post_item .hover_icon,
    .isotope_wrap .isotope_item_grid .post_item .hover_icon,
    .isotope_wrap .isotope_item_square .post_item .hover_icon,
    .isotope_wrap .isotope_item_portfolio .post_item .hover_icon {
        display: none;
    }
    .ih-item.square.effect1.bottom_to_top .info .post_title {
        margin-top: 35%!important;
    }
    .post_item_colored .post_category {
        max-height: 1.2em;
        overflow: hidden;
    }
    .post_item_colored .post_descr .post_price {
        margin-top: 1.2em;
    }
    .post_item_colored .post_info_wrap .post_button+.post_button {
        margin-left: 0.4em;
    }
    .post_item_colored .post_featured .post_title,
    .post_item_colored .post_featured .post_descr {
        padding: 4px 8px;
    }
    .ih-item.square.effect_dir .info .post_title {
        margin-top: 4%!important;
    }
    .isotope_wrap .isotope_item_colored_1 .post_featured {
        float: none;
        width: 100%;
    }
    .isotope_wrap .isotope_item_colored_1 .post_description {
        padding-left: 2em;
        padding-bottom: 2em;
    }
    .comments_list_wrap ul ul ul {
        margin-left: 0;
    }
    .reviews_block {
        width: 100%;
    }
    .content .reviews_block {
        float: none;
        margin-left: 0;
    }
    td,
    th {}.widget_area .post_item .post_title {
        margin-top: 0;
    }
    .widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li+li {
        margin-left: 0.4em;
    }
    .widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
        padding: 2px 0.5em;
    }
    .sc_recent_news_header_split .sc_recent_news_header_captions,
    .sc_recent_news_header_split .sc_recent_news_header_categories {
        width: 100%;
        padding-right: 0;
        text-align: left;
    }
    .sc_recent_news_header_split .sc_recent_news_header_categories {
        margin-top: 1em;
    }
    .sc_recent_news_header_split .sc_recent_news_header_categories>* {
        margin: 0 1em 0 0;
    }
    .sc_recent_news_style_news-announce .post_item {
        float: none;
    }
    .sc_recent_news_style_news-announce .post_size_full {
        width: 100%;
        height: 112px;
    }
    .sc_recent_news_style_news-announce .post_size_big {
        width: 100%;
        height: 112px;
    }
    .sc_recent_news_style_news-announce .post_size_medium {
        width: 100%;
        height: 112px;
    }
    .sc_recent_news_style_news-announce .post_size_small {
        width: 100%;
        height: 112px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {
        width: 100%;
        height: 112px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {
        width: 100%;
        height: 112px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {
        width: 100%;
        height: 112px;
    }
    .sc_recent_news_style_news-announce .post_size_full .post_featured {
        max-height: 100%;
    }
    .sc_recent_news_style_news-announce .post_size_big .post_featured {
        max-height: 100%;
    }
    .sc_recent_news_style_news-announce .post_size_medium .post_featured {
        max-height: 100%;
    }
    .sc_recent_news_style_news-announce .post_size_small .post_featured {
        max-height: 100%;
    }
    .sc_recent_news_style_news-excerpt .post_featured {
        float: none;
        padding-right: 0;
        margin-bottom: 1.5em;
        width: 100%;
    }
    .sc_recent_news_style_news-excerpt .post_body {
        float: none;
        width: 100%;
    }
    .woocommerce-shipping-fields {
        margin-top: 2em;
    }
    .woocommerce ul.products,
    .woocommerce-page ul.products {
        margin-right: -20px;
    }
    .woocommerce.columns-1 ul.products li.product,
    .woocommerce-page.columns-1 ul.products li.product,
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        padding: 0 20px 20px 0;
    }
    .woocommerce .widget_price_filter .price_label {
        font-size: 1em;
    }
    .woocommerce ul.products li.product .price,
    .woocommerce-page ul.products li.product .price {
        font-size: 1em;
    }
    .top_panel_wrap .widget_shopping_cart ul.cart_list>li>a:not(.remove) {
        margin-top: -0.15em;
    }
    .woocommerce table.cart img,
    .woocommerce #content table.cart img,
    .woocommerce-page table.cart img,
    .woocommerce-page #content table.cart img {
        width: 50px;
    }
    .woocommerce table.cart td,
    .woocommerce #content table.cart td,
    .woocommerce-page table.cart td,
    .woocommerce-page #content table.cart td {
        padding: 6px;
    }
    .woocommerce #content table.cart td.actions .coupon,
    .woocommerce table.cart td.actions .coupon,
    .woocommerce-page #content table.cart td.actions .coupon,
    .woocommerce-page table.cart td.actions .coupon {
        float: left;
    }
    .woocommerce #content table.cart td.actions .button,
    .woocommerce table.cart td.actions .button,
    .woocommerce-page #content table.cart td.actions .button,
    .woocommerce-page table.cart td.actions .button {
        width: auto;
    }
    .woocommerce #content table.cart td.actions>.button,
    .woocommerce table.cart td.actions>.button,
    .woocommerce-page #content table.cart td.actions>.button,
    .woocommerce-page table.cart td.actions>.button {
        float: right;
    }
    .woocommerce.columns-2 ul.products li.product,
    .woocommerce-page.columns-2 ul.products li.product,
    .woocommerce .related.products ul.products li.product.column-1_2,
    .woocommerce-page .related.products ul.products li.product.column-1_2,
    .woocommerce .upcells.products ul.products li.product.column-1_2,
    .woocommerce-page .upcells.products ul.products li.product.column-1_2,
    .woocommerce ul.products li.product.column-1_2,
    .woocommerce-page ul.products li.product.column-1_2,
    .woocommerce.columns-3 ul.products li.product,
    .woocommerce-page.columns-3 ul.products li.product,
    .woocommerce .related.products ul.products li.product.column-1_3,
    .woocommerce-page .related.products ul.products li.product.column-1_3,
    .woocommerce .upcells.products ul.products li.product.column-1_3,
    .woocommerce-page .upcells.products ul.products li.product.column-1_3,
    .woocommerce ul.products li.product.column-1_3,
    .woocommerce-page ul.products li.product.column-1_3,
    .woocommerce.columns-4 ul.products li.product,
    .woocommerce-page.columns-4 ul.products li.product,
    .woocommerce .related.products ul.products li.product.column-1_4,
    .woocommerce-page .related.products ul.products li.product.column-1_4,
    .woocommerce .upcells.products ul.products li.product.column-1_4,
    .woocommerce-page .upcells.products ul.products li.product.column-1_4,
    .woocommerce ul.products li.product.column-1_4,
    .woocommerce-page ul.products li.product.column-1_4,
    .woocommerce.columns-5 ul.products li.product,
    .woocommerce-page.columns-5 ul.products li.product,
    .woocommerce .related.products ul.products li.product.column-1_5,
    .woocommerce-page .related.products ul.products li.product.column-1_5,
    .woocommerce .upcells.products ul.products li.product.column-1_5,
    .woocommerce-page .upcells.products ul.products li.product.column-1_5,
    .woocommerce ul.products li.product.column-1_5,
    .woocommerce-page ul.products li.product.column-1_5,
    .woocommerce.columns-6 ul.products li.product,
    .woocommerce-page.columns-6 ul.products li.product,
    .woocommerce .related.products ul.products li.product.column-1_6,
    .woocommerce-page .related.products ul.products li.product.column-1_6,
    .woocommerce .upcells.products ul.products li.product.column-1_6,
    .woocommerce-page .upcells.products ul.products li.product.column-1_6,
    .woocommerce ul.products li.product.column-1_6,
    .woocommerce-page ul.products li.product.column-1_6 {
        width: 50%;
    }
    .woocommerce .list_products.shop_mode_list ul.products li.product,
    .woocommerce-page .list_products.shop_mode_list ul.products li.product {
        width: 100%;
    }
    .woocommerce ul.products li.first,
    .woocommerce-page ul.products li.first {
        clear: none;
    }
    .woocommerce ul.products li:nth-child(2n+3),
    .woocommerce-page ul.products li:nth-child(2n+3) {
        clear: both;
    }
    #buddypress #item-nav {
        float: none;
        margin-bottom: 2em;
        width: auto;
        display: inline-block;
    }
    #buddypress #item-nav ul {
        overflow: hidden;
    }
    #buddypress #item-nav ul li {
        float: left;
    }
    #myplayer .ttw-music-player .album-cover {
        width: 100%;
        float: none;
        overflow: hidden;
    }
    #myplayer .ttw-music-player .album-cover .img {
        position: static;
        max-height: none;
        margin-top: 0;
    }
    #myplayer .ttw-music-player .album-cover img {
        max-width: none;
    }
    #myplayer .ttw-music-player .tracklist {
        position: relative;
        margin-left: 0;
        padding: 0;
        top: 0;
    }
    .sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
        border-width: 1px;
    }
    .sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.ui-state-active a:after,
    .sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.sc_tabs_active a:after {
        height: 2px;
    }
    input[type="submit"]:before,
    input[type="button"]:before,
    button:before,
    .sc_button:before {
        margin-right: 4px;
    }
    .sc_price_block .sc_price_block_description {
        height: 5.5em;
    }
    .sc_blogger.layout_date.sc_blogger_horizontal .sc_blogger_item {
        min-width: 33.3333%;
        margin-bottom: 1em;
    }
    .sc_googlemap {
        max-height: 250px;
    }
    .sc_googlemap_content {
        position: static;
        width: auto;
    }
    .sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a,
    .sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a .sc_socials_hover {
        width: 2.5em;
        height: 2.5em;
        line-height: 2.5em;
    }
    .sc_socials.sc_socials_size_small .social_icons span {
        font-size: 1.2em;
    }
    .sc_twitter_item {
        padding: 0 3em;
    }
    .sc_twitter .sc_slider_controls_wrap a {
        font-size: 1.5em;
    }
    .sc_services_style_services-5 .sc_service_container .columns_wrap>.column-1_2 {
        width: 50%;
        max-width: 50%;
    }
    .sc_services_style_services-5 .sc_service_container .columns_wrap>.column-1_2 .sc_services_item {
        margin-right: 0%;
    }
    .sc_services_style_services-5 .sc_service_container .columns_wrap>.column-1_2:nth-child(2n) .sc_services_item {
        margin-left: 0%;
        margin-right: 0;
    }
    .sc_services_style_services-5 .sc_service_container .sc_services_image,
    .sc_services_style_services-5 .sc_service_container.sc_align_left .sc_services_image,
    .sc_services_style_services-5 .sc_service_container.sc_align_right .sc_services_image {
        position: relative;
        width: 100%;
        left: 0%;
        top: 0%;
        transform: translateY(0%) translateX(0%);
        margin-bottom: 2.2857em;
    }
    .sc_services_style_services-5 .sc_service_container .sc_icon,
    .sc_services_style_services-5.sc_services_type_images .sc_service_container .sc_services_item_featured,
    .sc_services_style_services-5 .sc_service_container.sc_align_right .columns_wrap>.column-1_2:nth-child(2n) .sc_icon,
    .sc_services_style_services-5.sc_services_type_images .sc_service_container.sc_align_right .columns_wrap>.column-1_2:nth-child(2n) .sc_services_item_featured {
        float: left;
        margin-right: 2.2857em;
        margin-left: 0;
    }
    .sc_services_style_services-5 .sc_service_container .columns_wrap>.column-1_2 .sc_services_item_content,
    .sc_services_style_services-5 .sc_service_container.sc_align_right .columns_wrap>.column-1_2 .sc_services_item_content {
        text-align: left;
    }
    .sc_services_style_services-5 .sc_service_container.sc_align_left .columns_wrap,
    .sc_services_style_services-5 .sc_service_container.sc_align_right .columns_wrap {
        margin-left: 0;
        margin-right: 0;
    }
    .sc_services_style_services-5 .sc_services_button {
        margin-top: 2.2857em;
    }
    .sc_promo_block {
        min-width: 50%;
    }
    .sc_promo_block_inner {
        padding: 3em;
    }
    .sc_matches_next,
    .sc_matches_current {
        float: none;
        width: 100%;
        padding: 2.5em 2.5em 1em;
    }
    .match_block .match_score {
        font-size: 3em;
    }
    .sc_matches.style_matches-1 .sc_matches_title {
        font-size: 2.5714em;
    }
    .sc_matches.style_matches-1 .sc_matches_descr {
        font-size: 1.2857em;
    }
    .sc_matches.style_matches-1 .sc_matches_list {
        margin-top: 1em;
    }
    .sc_matches.style_matches-2 .sc_matches_next .sc_matches_list {
        float: none;
        width: 100%;
    }
    .sc_matches.style_matches-2 .sc_match_info {
        text-align: center;
    }
    .sc_matches.style_matches-2 .sc_match_info .name {
        width: 8em;
    }
    .post_item_colored .match_date,
    .post_item_colored .post_category {
        font-size: 1em;
        line-height: 1.2em;
        margin-bottom: 0.2em;
    }
    .type_player.post_item_colored .player_info {
        line-height: 1.4em;
    }
    .post_item_single_players .player_content {
        padding-top: 2.5em;
    }
    .scroll_to_top {
        right: 1em;
    }
    .scroll_to_top.show {
        bottom: 1em;
    }
    .jacqueline_profiler {
        display: none;
    }
}
@media (min-width: 480px) and (max-width: 639px) {
    .slider_boxed,
    .content_wrap,
    .content_container {
        width: 440px;
    }
    .popup_wrap {
        left: 50%;
        -webkit-transform: translateX(-70%);
        -moz-transform: translateX(-70%);
        -ms-transform: translateX(-70%);
        transform: translateX(-70%);
    }
    .popup_registration {
        -webkit-transform: translateX(-55%);
        -moz-transform: translateX(-55%);
        -ms-transform: translateX(-55%);
        transform: translateX(-55%);
    }
    .isotope_wrap {
        margin-right: -20px;
    }
    .isotope_wrap .isotope_item {
        padding-right: 20px;
        padding-bottom: 20px;
        min-width: 50%;
    }
    .sc_scroll_horizontal .sc_blogger .isotope_item,
    .sc_scroll_horizontal .sc_blogger [class*=column-],
    .sc_blogger .sc_scroll_horizontal .isotope_item,
    .sc_blogger .sc_scroll_horizontal [class*=column-] {
        width: 230px;
        min-width: 0;
    }
    .isotope_wrap .isotope_item_colored_1 .post_featured {
        float: none;
        width: 100%;
    }
    .isotope_wrap .isotope_item_colored_1 .post_description {
        padding-left: 2em;
        padding-bottom: 2em;
    }
    .sc_recent_news_style_news-announce .post_item {
        float: none;
    }
    .sc_recent_news_style_news-announce .post_size_full {
        width: 100%;
        height: 124px;
    }
    .sc_recent_news_style_news-announce .post_size_big {
        width: 100%;
        height: 124px;
    }
    .sc_recent_news_style_news-announce .post_size_medium {
        width: 100%;
        height: 124px;
    }
    .sc_recent_news_style_news-announce .post_size_small {
        width: 100%;
        height: 124px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {
        width: 100%;
        height: 124px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {
        width: 100%;
        height: 124px;
    }
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
    body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {
        width: 100%;
        height: 124px;
    }
    .sc_recent_news_style_news-announce .post_size_full .post_featured {
        max-height: 100%;
    }
    .sc_recent_news_style_news-announce .post_size_big .post_featured {
        max-height: 100%;
    }
    .sc_recent_news_style_news-announce .post_size_medium .post_featured {
        max-height: 100%;
    }
    .sc_recent_news_style_news-announce .post_size_small .post_featured {
        max-height: 100%;
    }
    .popup_menuitem>.sc_menuitems_wrap {
        width: 320px;
    }
    .sc_menuitems_style_menuitems-2 .sc_menuitem_box_title {
        font-size: 1.5em;
    }
    .sc_menuitems_style_menuitems-2 .sc_menuitem_nutritions_list li {
        width: 100%;
    }
    .sc_menuitems_style_menuitems-2 .sc_menuitem_content,
    .sc_menuitems_style_menuitems-2 .sc_menuitem_ingredients,
    .sc_menuitems_style_menuitems-2 .sc_menuitem_nutritions {
        padding: 1.85em 1.4em 1.85em 5.38em;
    }
}
@media (max-width: 1679px) {
    .sc_services_style_services-2 .sc_services_item_title {
        font-size: 1.8em;
    }
}
@media (max-width: 1439px) {
    .menu_main_nav>li {
        margin-right: 1.5em;
    }
    .isotope_item_portfolio.isotope_column_2 .post_descr {
        display: none;
    }
    .esg-grid .eg-eisenhower-massage-element-0 {
        font-size: 13px!important;
        margin: 0px 0px 0px 0px!important;
    }
    .esg-grid .eg-eisenhower-massage-element-25 {
        font-size: 22px!important;
    }
    #tribe-events-pg-template .tribe-bar-submit {
        width: 30%;
    }
    #tribe-events-pg-template .tribe-bar-date-filter,
    #tribe-events-pg-template .tribe-bar-search-filter {
        width: 35%;
    }
    #tribe-events-pg-template ul.tribe-events-sub-nav a,
    #tribe-events-pg-template .tribe-events-back a,
    #tribe-events-pg-template .tribe-events-list-widget .tribe-events-widget-link a,
    #tribe-events-pg-template .tribe-events-adv-list-widget .tribe-events-widget-link a {
        padding: 0.73em 5em;
    }
    .woocommerce ul.products li.product .button_container {
        height: 3.4em;
    }
    .woocommerce ul.products li.product a.button,
    .woocommerce ul.products li.product a.added_to_cart {
        font-size: 9px;
        padding: 1.092em 0.5em;
    }
    .woocommerce ul.products li.product a.added_to_cart {
        padding: 1.13em 0.5em;
    }
    .woocommerce ul.products li.product .price,
    .woocommerce-page ul.products li.product .price {
        font-size: 1.4rem;
    }
    .woocommerce div.product form.cart div.quantity,
    .woocommerce-page div.product form.cart div.quantity {
        height: 3.5em;
    }
    .woocommerce table.cart td.actions .coupon .input-text,
    .woocommerce #content table.cart td.actions .coupon .input-text,
    .woocommerce-page table.cart td.actions .coupon .input-text,
    .woocommerce-page #content table.cart td.actions .coupon .input-text {
        line-height: 1.57em;
    }
}
@media (max-width: 1359px) {
	.sc_services_item .sc_services_item_title {
        font-size: 1.7em;
    }
}
@media (max-width: 1262px) {
    .sc_services_item .sc_services_item_title {
        font-size: 1.4em;
    }
    .sc_services_style_services-2.sc_services_type_icons .sc_services_item {
        padding: 5.34em 1.2em 5.3em;
    }
    .widget_area .widget_flickr .flickr_badge_image {
        margin: 0 4px 4px 0;
    }
    .events-archive.events-gridview #tribe-events-content table .type-tribe_events {
        padding: 6px 0;
    }
}
@media (max-width: 1135px) {
    .isotope_item_portfolio.smaller .ih-item .info .sc_button {
        padding: 0.73em 2.4em;
        font-size: 10.2px;
    }
	.top_panel_title_inner {
		padding: 4em 0;
	}
	.top_panel_title.title_present.breadcrumbs_present .post_navi, 
	.top_panel_title.title_present.breadcrumbs_present .page_title, 
	.top_panel_title.title_present.breadcrumbs_present .breadcrumbs {
		max-width: 100%;
		float: none;
		padding: 0 !important;
	}
}
@media (max-width: 1023px) {
    .isotope_wrap .isotope_column_4 {
        width: 33%;
    }
	.typographic .sc_section_block {
		margin-right: -20px!important;
	}
}
@media (max-width: 959px) {
    .sidebar_show .sidebar {
        margin-top: 8em;
    }
    .columns_wrap>[class*="column-1_"],
    .isotope_wrap .isotope_item,
    .woocommerce ul.products li.product {
        min-width: 50%;
    }
    .columns_wrap>[class*="column-2_"],
    .columns_wrap>[class*="column-3_"],
    .sc_column_container,
    .widgetised_column.sidebar {
        min-width: 100%;
    }
    .hide_on_responsive {
        display: none;
    }
    .sc_tabs.sc_tabs_style_2 .sc_tabs_titles {
        width: 100%;
        float: none;
        margin-bottom: 5em;
    }
    .sc_call_to_action_style_1 .columns_wrap>[class*="column-"] {
        padding-right: 30px;
    }
    .sc_menuitems_style_menuitems-2 .sc_menuitem_service {
        margin-right: 0.6em;
        margin-bottom: 2em;
    }
    .top_panel_title.title_present.breadcrumbs_present .post_navi,
    .top_panel_title.title_present.breadcrumbs_present .page_title,
    .top_panel_title.title_present.breadcrumbs_present .breadcrumbs {
        max-width: 100%;
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .top_panel_title.title_present.breadcrumbs_present .breadcrumbs {
        padding-bottom: 4.5em;
    }
    .top_panel_title.title_present.breadcrumbs_present .post_navi,
    .top_panel_title.title_present.breadcrumbs_present .page_title {
        padding-top: 1.75em;
        padding-bottom: 0.2em;
    }
    .woocommerce div.product div.images,
    .woocommerce #content div.product div.images,
    .woocommerce-page div.product div.images,
    .woocommerce-page #content div.product div.images {
        margin-bottom: 5em;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    body.error404 .page_content_wrap {
        padding: 12em 0 15.7em;
    }
	.single-team .sc_title {
		margin-top:1em!important;
	}
	.cu_block_21.columns_wrap>[class*="column-1_"] {
		min-width: 100%;
	}
	.sc_column_item_inner.cu_block_5 {
		border-bottom: 1px solid #fff;
	}
	.custom_services_pricing {
		float: none;
		margin: auto;
		display: block;
	}
	.home .sc_column_item_inner,
	.home3 .sc_column_item_inner	{
		background-color: transparent !important;
	}
	.copyright_style_socials .sc_socials, 
	.copyright_style_menu .menu_footer_nav {
		float: none;
	}
	.copyright_style_socials .beforeSocials{
		display: none;
	}
}

	
@media (max-width: 782px) {
    .admin-bar .pushy .close-pushy::before {
        top: 3em;
    }
    .admin-bar .pushy .pushy_inner {
        padding-top: 4em;
    }
    .admin-bar .pushy .logo {
        margin-bottom: 1em;
    }
    .bar.menu_mobile_open {
        height: calc(100% - 46px);
    }
    .admin-bar.top_panel_over .top_panel_wrap,
    .admin-bar.top_panel_fixed .top_panel_wrap,
    .admin-bar #debug_log,
    .admin-bar .header_mobile .side_wrap {
        top: 46px;
    }
    #tribe-events-pg-template #tribe-events-content .tribe-events-calendar td {
        height: 7em;
    }
    #tribe-events-pg-template #tribe-bar-form #tribe-bar-views {
        width: 40%;
        right: 0;
        left: auto;
        padding: 2em;
    }
    #tribe-bar-form.tribe-bar-collapse .tribe-bar-views-inner {
        padding: 0;
    }
    #tribe-events-pg-template #tribe-bar-form #tribe-bar-views+.tribe-bar-filters {
        right: 0;
        width: 100%;
        padding: 0 1em 2em;
    }
    .tribe-bar-collapse #tribe-bar-collapse-toggle {
        width: calc(60% - 4em);
        margin: 2.7em 2em;
    }
    .tribe-bar-date-filter,
    .tribe-bar-search-filter,
    .tribe-bar-submit {
        padding: 0 1em;
    }
    #tribe-events-pg-template .tribe-event-description {
        background-color: transparent;
        padding: 0;
    }
    #tribe-mobile-container .type-tribe_events,
    #tribe-mobile-container .type-tribe_events~.type-tribe_events {
        padding: 3em 0;
    }
    #tribe-mobile-container .type-tribe_events h4 {
        font-size: 1.5em;
        line-height: 1.35;
        margin: 0 0 .5em;
    }
    .tribe-mobile-day-heading {
        font-size: 2.6em;
    }
    #tribe-events-pg-template {
        padding: 0;
    }
    #tribe-events-pg-template #tribe-events-content .tribe-events-calendar td:hover {
        background-color: #f7f7f7;
    }
    .woocommerce #content table.cart td.actions>.button,
    .woocommerce table.cart td.actions>.button,
    .woocommerce-page #content table.cart td.actions>.button,
    .woocommerce-page table.cart td.actions>.button {
        float: left;
        margin-left: 20px;
        margin-bottom: 6px;
    }
	#tribe-events-pg-template .tribe-bar-views-inner {
		padding:0;
	}
}
@media (max-width: 767px) {
    .copyright_style_socials .beforeSocials {
        float: left;
    }
    .menu_mobile .copyright_style_socials .copyright_text {
        clear: both;
    }
}
@media (max-width: 639px) {
    .popup_wrap {
        width: auto;
        min-width: 260px;
        max-width: 260px;
    }
    .popup_wrap .form_left,
    .popup_wrap .form_right,
    .popup_wrap.popup_registration .form_left,
    .popup_wrap.popup_registration .form_right {
        float: none;
        padding: 0;
        border: none;
        width: 100%
    }
    .popup_wrap .form_right {
        margin-top: 20px;
    }
    .popup_wrap.popup_registration .form_right {
        margin-top: 0;
    }
    .sc_image {
        min-width: 100%;
    }
    .widget_area aside {
        min-width: 100%;
        margin-left: 0;
    }
    .widget_area aside:nth-child(n+2) {
        padding-top: 3em;
        margin-top: 3em;
    }
    .sidebar.widget_area aside:nth-child(n+2) {
        border-top: 1px solid #f4f7f9;
    }
    .row:not(.columns_fluid)>[class*="column-"],
    .columns_wrap:not(.columns_fluid)>[class*="column-"] {
        width: 100%;
    }
    .isotope_wrap .isotope_item {
        width: 100%;
    }
    .woocommerce ul.products li.product {
        min-width: 100%;
    }
    .sc_emailer .sc_emailer_button {
        padding-left: 1em;
        padding-right: 1em;
    }
    .sc_emailer.sc_emailer_opened input {
        width: 170px;
    }
    .sc_team_style_team-3 [class*="column-"] .sc_team_item,
    [class*="column-"] .sc_skills_counter {
        max-width: 250px;
        margin: auto;
    }
    .sc_team_style_team-3 [class*="column-"]+[class*="column-"] .sc_team_item {
        margin-top: 2em;
    }
    .custom_number {
        font-size: 1.1em;
    }
    .sc_price_block,
    .sc_gift {
        max-width: 330px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .sc_call_to_action_style_1 .columns_wrap>[class*="column-"] {
        padding-right: 20px;
        padding-bottom: 4em;
    }
    .top_panel_image_header {
        max-width: 80%;
        width: 80%;
    }
    #tribe-events-pg-template .tribe-bar-date-filter,
    #tribe-events-pg-template .tribe-bar-search-filter,
    #tribe-events-pg-template .tribe-bar-submit {
        width: 100%;
    }
    .tribe-bar-search-filter {
        padding-top: 2em;
    }
    #tribe-mobile-container .type-tribe_events .tribe-events-event-image {
        width: 50%;
        margin: 5px 15px 0px 0;
    }
    .post_item_404 .page_or {
        display: block;
        margin: 1em 0;
    }
    .woocommerce .shop_mode_list ul.products li.product .post_featured,
    .woocommerce-page .shop_mode_list ul.products li.product .post_featured,
    .woocommerce .shop_mode_list ul.products li.product .post_content {
        width: 50%;
    }
    .woocommerce div.product div.images,
    .woocommerce #content div.product div.images,
    .woocommerce-page div.product div.images,
    .woocommerce-page #content div.product div.images {
        width: 100%;
    }
    .tribe-bar-collapse #tribe-bar-collapse-toggle {
        width: calc(100% - 4em);
    }
    #tribe-events-pg-template #tribe-bar-form #tribe-bar-views {
        width: 100%;
    }
    .isotope_item_portfolio .post_descr {
        display: none;
    }
	#tribe-events-day .tribe-events-event-image {
		margin: 0 0 30px;
		width: 100%;
	}
	#tribe-events-day .tribe-events-content {
		width: 100%;
	}
	.tribe-events-list .type-tribe_events h2 {
		font-size: 2em;
	}
}
@media (max-width: 599px) {
    .admin-bar.top_panel_over .top_panel_wrap {
        top: 46px;
    }
    .admin-bar.top_panel_fixed .top_panel_wrap {
        top: 0;
    }
    .admin-bar #debug_log {
        top: 46px;
    }
}
@media (max-width: 479px) {
    .body_style_boxed .page_wrap {
        width: 100%;
    }
    .slider_boxed,
    .content_wrap,
    .content_container {
        width: 280px;
    }
    .sidebar_show .content {
        width: 100%;
        float: none;
    }
    .sidebar_show .sidebar {
        width: 100%;
        float: none;
        ;
    }
    .body_style_fullwide.sidebar_right .content,
    .body_style_fullscreen.sidebar_right .content {
        padding-right: 0!important;
    }
    .body_style_fullwide.sidebar_right .sidebar,
    .body_style_fullscreen.sidebar_right .sidebar {
        margin-left: 0!important;
    }
    .body_style_fullwide.sidebar_left .content,
    .body_style_fullscreen.sidebar_left .content {
        padding-left: 0!important;
    }
    .body_style_fullwide.sidebar_left .sidebar,
    .body_style_fullscreen.sidebar_left .sidebar {
        margin-right: 0!important;
    }
    .woocommerce.sidebar_show .content {
        width: 100%;
        float: none;
    }
    .woocommerce .sidebar {
        width: 100%;
        float: none;
    }
    .article_style_boxed .sidebar,
    .body_filled .sidebar[class*="scheme_"] {}.slider_over_content {
        right: -100%;
        width: 100%;
    }
    .slider_over_content.opened {
        right: 0;
    }
    .slider_over_content_inner {
        padding: 3em 1.5em 1.5em;
    }
    .slider_over_close,
    .slider_over_button {
        display: block;
    }
    .slider_over_content .sc_form_message textarea {
        min-height: 7em;
    }
    .slider_over_content .sc_form .sc_form_item input[type="text"],
    .slider_over_content .sc_form .sc_form_item select,
    .slider_over_content .sc_form .sc_form_item textarea {
        padding: 0.5em 1em;
    }
    .widget_area aside {
        display: block;
        float: none;
        width: 100%;
        margin-left: 0!important;
        margin-bottom: 0;
    }
    .footer_wrap.widget_area aside {
        border: none!important;
    }
    .widget_area aside+aside {
        padding-top: 1em;
        border-top: 1px solid #f4f7f9;
        margin-top: 1em;
    }
    .widget_area aside:nth-child(n+2) {
        padding-top: 2em;
        margin-top: 2em;
    }
    .container,
    .container-fluid {
        padding-left: 5px;
        padding-right: 5px;
    }
    .row,
    .columns_wrap {
        margin-right: -10px;
    }
    .row>[class*="column-"],
    .columns_wrap>[class*="column-"] {
        padding-right: 10px;
    }
    .row.column_padding_left,
    .columns_wrap.column_padding_left {
        margin-left: -10px;
    }
    .row.column_padding_left>[class*="column-"],
    .columns_wrap.column_padding_left>[class*="column-"],
    .row>[class*="column-"].column_padding_left,
    .columns_wrap>[class*="column-"].column_padding_left {
        padding-left: 10px;
    }
    .row.column_padding_right,
    .columns_wrap.column_padding_right {
        margin-right: -10px;
    }
    .row.column_padding_right>[class*="column-"],
    .columns_wrap.column_padding_right>[class*="column-"],
    .row>[class*="column-"].column_padding_right,
    .columns_wrap>[class*="column-"].column_padding_right {
        padding-right: 10px;
    }
    .row.column_padding_center,
    .columns_wrap.column_padding_center {
        margin-left: -5px;
        margin-right: -5px;
    }
    .row.column_padding_center>[class*="column-"],
    .columns_wrap.column_padding_center>[class*="column-"],
    .row>[class*="column-"].column_padding_center,
    .columns_wrap>[class*="column-"].column_padding_center {
        padding-left: 10px;
    }
    .row>[class*="column-"].column_padding_bottom,
    .columns_wrap>[class*="column-"].column_padding_bottom {
        padding-bottom: 10px;
    }
    .row:not(.columns_fluid)>[class*="column-"],
    .columns_wrap:not(.columns_fluid)>[class*="column-"] {
        width: 100%;
    }
    .row.columns_fluid>[class*="column-"],
    .columns_wrap.columns_fluid>[class*="column-"] {
        width: 50%;
    }
    .row.columns_fluid>.column-1_1,
    .row.columns_fluid>.column-2_2,
    .row.columns_fluid>.column-3_3,
    .row.columns_fluid>.column-4_4,
    .row.columns_fluid>.column-5_5,
    .row.columns_fluid>.column-6_6,
    .row.columns_fluid>.column-7_7,
    .row.columns_fluid>.column-8_8,
    .row.columns_fluid>.column-9_9,
    .row.columns_fluid>.column-10_10,
    .row.columns_fluid>.column-11_11,
    .row.columns_fluid>.column-12_12,
    .columns_wrap.columns_fluid>.column-1_1,
    .columns_wrap.columns_fluid>.column-2_2,
    .columns_wrap.columns_fluid>.column-3_3,
    .columns_wrap.columns_fluid>.column-4_4,
    .columns_wrap.columns_fluid>.column-5_5,
    .columns_wrap.columns_fluid>.column-6_6,
    .columns_wrap.columns_fluid>.column-7_7,
    .columns_wrap.columns_fluid>.column-8_8,
    .columns_wrap.columns_fluid>.column-9_9,
    .columns_wrap.columns_fluid>.column-10_10,
    .columns_wrap.columns_fluid>.column-11_11,
    .columns_wrap.columns_fluid>.column-12_12,
    .row.columns_fluid>.column-1_3:nth-child(3n),
    .columns_wrap.columns_fluid>.column-1_3:nth-child(3n),
    .row.columns_fluid>.column-2_3,
    .columns_wrap.columns_fluid>.column-2_3,
    .row.columns_fluid>.column-1_3.after_span_2,
    .columns_wrap.columns_fluid>.column-1_3.after_span_2,
    .row.columns_fluid>.column-2_4,
    .columns_wrap.columns_fluid>.column-3_4,
    .row.columns_fluid>.column-1_4.after_span_2,
    .columns_wrap.columns_fluid>.column-1_4.after_span_3,
    .row.columns_fluid>.column-1_5:nth-child(5n),
    .columns_wrap.columns_fluid>.column-1_5:nth-child(5n),
    .row.columns_fluid>.column-2_5,
    .columns_wrap.columns_fluid>.column-2_5,
    .row.columns_fluid>.column-3_5,
    .columns_wrap.columns_fluid>.column-3_5,
    .row.columns_fluid>.column-4_5,
    .columns_wrap.columns_fluid>.column-4_5,
    .row.columns_fluid>.column-2_6,
    .columns_wrap.columns_fluid>.column-2_6,
    .row.columns_fluid>.column-3_6,
    .columns_wrap.columns_fluid>.column-3_6,
    .row.columns_fluid>.column-4_6,
    .columns_wrap.columns_fluid>.column-4_6,
    .row.columns_fluid>.column-5_6,
    .columns_wrap.columns_fluid>.column-5_6 {
        width: 100%;
    }
    .gallery.gallery-columns-9 .gallery-item {
        width: 50%!important;
    }
    .gallery.gallery-columns-8 .gallery-item {
        width: 50%!important;
    }
    .gallery.gallery-columns-7 .gallery-item {
        width: 50%!important;
    }
    .gallery.gallery-columns-6 .gallery-item {
        width: 50%!important;
    }
    .gallery.gallery-columns-5 .gallery-item {
        width: 50%!important;
    }
    .gallery.gallery-columns-4 .gallery-item {
        width: 50%!important;
    }
    .gallery.gallery-columns-3 .gallery-item {
        width: 50%!important;
    }
    .top_panel_top_contact_area,
    .top_panel_top_open_hours,
    .top_panel_top_user_area,
    .top_panel_top_socials {
        float: none;
        clear: both;
        width: 100%;
        text-align: center;
        margin: 0.5em 0 0 0;
    }
    .top_panel_top_user_area .menu_user_nav {
        display: inline-block;
        float: none;
        margin-top: -0.5em;
    }
    .top_panel_top .search_field {
        max-width: 3em;
    }
    .top_panel_top_socials {
        line-height: 1em;
    }
    .top_panel_top_socials .sc_socials_item {
        margin-right: 1.4em!important;
    }
    .top_panel_top_user_area .menu_user_nav li {
        text-align: left;
    }
    .top_panel_top_user_area .menu_user_nav>li>a {
        padding: 0.5em 0;
    }
    .top_panel_middle .logo {
        font-size: 0.875em;
    }
    .top_panel_middle .logo img {
        max-height: 40px;
    }
    .top_panel_style_1 .contact_logo {
        width: 100%;
    }
    .top_panel_style_1 .logo {
        text-align: center;
    }
    .top_panel_style_1 .contact_field {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 2em;
        padding-top: 0!important;
        width: 33.3333%!important;
    }
    .top_panel_style_1 .contact_field .contact_icon {
        float: none;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0.3em;
    }
    .top_panel_style_2 .contact_logo,
    .top_panel_style_2 .contact_field {
        width: 100%!important;
    }
    .top_panel_style_2 .contact_logo {
        margin: 0;
        padding: 0!important;
    }
    .top_panel_style_2 .contact_logo .logo {
        margin: 0;
    }
    .top_panel_style_2 .logo {
        text-align: center;
    }
    .top_panel_style_2 .contact_field {
        text-align: center;
        margin: 1.5em 0;
        padding: 0!important;
    }
    .top_panel_style_2 .contact_phone>span+span {
        text-align: center;
    }
    .top_panel_style_2 .contact_field .contact_icon {
        float: none;
        margin-right: auto;
        margin-left: auto;
    }
    .top_panel_title .page_title,
    .top_panel_title .post_navi,
    .top_panel_title .breadcrumbs {
        max-width: 100%!important;
        float: none;
        text-align: center;
    }
    .top_panel_title .page_title {
        padding-bottom: 0.3em;
    }
    .top_panel_title.title_present .breadcrumbs {
        padding: 0 0 4em 0!important;
    }
    .menu_user_nav>li {
        float: none;
        display: inline-block;
    }
    .top_panel_style_3 .top_panel_top_search,
    .top_panel_style_3 .menu_user_nav {
        margin-top: 0;
        line-height: 1.2857em;
    }
    .top_panel_style_3 .top_panel_top_search {
        padding-top: 0;
    }
    .top_panel_style_3 .search_submit,
    .top_panel_style_3 .search_field {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .top_panel_style_3 .search_results {
        right: auto;
        left: 0;
        top: 3em;
    }
    .top_panel_style_3 .search_results:after {
        right: auto;
        left: 4em;
    }
    .top_panel_style_5 .top_panel_middle .sidebar_cart,
    .top_panel_style_6 .top_panel_middle .sidebar_cart {
        right: -100px;
    }
    .top_panel_style_5 .top_panel_middle .sidebar_cart:after,
    .top_panel_style_6 .top_panel_middle .sidebar_cart:after {
        right: 46%;
        left: auto;
    }
    .top_panel_style_8 .contact_logo {
        display: block;
        position: static;
        left: auto;
        top: auto;
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
        padding: 2em 0 0 0;
        text-align: center;
    }
    .popup_wrap {
        width: 300px;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    .popup_wrap .popup_form_field .forgot_password {
        float: none;
        display: block;
        margin-bottom: 0.5em;
    }
    .popup_wrap .login_socials_title {
        font-size: 1.25em;
    }
    .popup_wrap input[type="text"],
    .popup_wrap input[type="email"],
    .popup_wrap input[type="password"] {
        font-size: 1em;
    }
    .post_featured_left>.post_featured,
    .post_featured_right>.post_featured {
        float: none;
        margin-left: 0;
        margin-bottom: 2em;
        width: 100%;
    }
    .isotope_wrap {
        margin-right: -10px;
    }
    .isotope_wrap .isotope_item {
        padding-right: 10px;
        padding-bottom: 10px;
        width: 100%!important;
    }
    .sc_scroll_horizontal .sc_blogger .isotope_item,
    .sc_scroll_horizontal .sc_blogger [class*=column-],
    .sc_blogger .sc_scroll_horizontal .isotope_item,
    .sc_blogger .sc_scroll_horizontal [class*=column-] {
        width: 290px!important;
    }
    .isotope_wrap .isotope_item_colored_1 .post_featured {
        float: none;
        width: 100%;
    }
    .isotope_wrap .isotope_item_colored_1 .post_description {
        padding-left: 2em;
        padding-bottom: 2em;
    }
    .reviews_block {
        width: 100%;
    }
    .content .reviews_block {
        float: none;
        margin-left: 0;
    }
    .comments_list_wrap ul ul {
        margin-left: 0;
    }
    .comments_list_wrap ul.children {
        padding-left: 0;
    }
    td,
    th {
        padding: 2px;
    }
    .widget_area .post_item .post_title {
        margin-top: 0;
    }
    .widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li+li {
        margin-left: 0.4em;
    }
    .widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
        padding: 2px 0.5em;
    }
    .woocommerce-shipping-fields {
        margin-top: 2em;
    }
    .woocommerce ul.products,
    .woocommerce-page ul.products {
        margin-right: -20px;
    }
    .woocommerce.columns-1 ul.products li.product,
    .woocommerce-page.columns-1 ul.products li.product,
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        padding: 0 20px 20px 0;
    }
    .woocommerce .widget_price_filter .price_label {
        font-size: 1em;
    }
    .woocommerce ul.products li.product .price,
    .woocommerce-page ul.products li.product .price {
        font-size: 1em;
    }
    .top_panel_wrap .widget_shopping_cart ul.cart_list>li>a:not(.remove) {
        margin-top: -0.15em;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li {
        padding: 0;
    }
    .woocommerce table.cart img,
    .woocommerce #content table.cart img,
    .woocommerce-page table.cart img,
    .woocommerce-page #content table.cart img {
        width: 40px;
    }
    .woocommerce table.cart td,
    .woocommerce #content table.cart td,
    .woocommerce-page table.cart td,
    .woocommerce-page #content table.cart td {
        padding: 4px;
    }
    .woocommerce #content table.cart td.actions .coupon,
    .woocommerce table.cart td.actions .coupon,
    .woocommerce-page #content table.cart td.actions .coupon,
    .woocommerce-page table.cart td.actions .coupon {
        float: left;
    }
    .woocommerce #content table.cart td.actions .coupon,
    .woocommerce table.cart td.actions .coupon,
    .woocommerce-page #content table.cart td.actions .coupon,
    .woocommerce-page table.cart td.actions .coupon {
        float: left;
    }
    .woocommerce #content table.cart td.actions .button,
    .woocommerce table.cart td.actions .button,
    .woocommerce-page #content table.cart td.actions .button,
    .woocommerce-page table.cart td.actions .button {
        width: auto;
    }
    .woocommerce #content table.cart td.actions .button.alt,
    .woocommerce #content table.cart td.actions .input-text+.button,
    .woocommerce table.cart td.actions .button.alt,
    .woocommerce table.cart td.actions .input-text+.button,
    .woocommerce-page #content table.cart td.actions .button.alt,
    .woocommerce-page #content table.cart td.actions .input-text+.button,
    .woocommerce-page table.cart td.actions .button.alt,
    .woocommerce-page table.cart td.actions .input-text+.button {
        float: left;
    }
    .woocommerce #content table.cart td.actions>.button,
    .woocommerce table.cart td.actions>.button,
    .woocommerce-page #content table.cart td.actions>.button,
    .woocommerce-page table.cart td.actions>.button {
        float: right;
    }
    .woocommerce div.product div.images,
    .woocommerce #content div.product div.images,
    .woocommerce-page div.product div.images,
    .woocommerce-page #content div.product div.images {
        width: 100%;
        float: none;
    }
    .woocommerce[class*="column-"] ul.products li.product,
    .woocommerce-page[class*="column-"] ul.products li.product,
    .woocommerce ul.products li.product[class*="column-"],
    .woocommerce-page ul.products li.product[class*="column-"],
    .woocommerce .related ul li.product,
    .woocommerce .related ul.products li.product,
    .woocommerce .upsells.products ul li.product,
    .woocommerce .upsells.products ul.products li.product,
    .woocommerce-page .related ul li.product,
    .woocommerce-page .related ul.products li.product,
    .woocommerce-page .upsells.products ul li.product,
    .woocommerce-page .upsells.products ul.products li.product {
        width: 100%;
        float: none;
    }
    .woocommerce.columns-2 ul.products li.product,
    .woocommerce-page.columns-2 ul.products li.product,
    .woocommerce .related.products ul.products li.product.column-1_2,
    .woocommerce-page .related.products ul.products li.product.column-1_2,
    .woocommerce .upcells.products ul.products li.product.column-1_2,
    .woocommerce-page .upcells.products ul.products li.product.column-1_2,
    .woocommerce ul.products li.product.column-1_2,
    .woocommerce-page ul.products li.product.column-1_2,
    .woocommerce.columns-3 ul.products li.product,
    .woocommerce-page.columns-3 ul.products li.product,
    .woocommerce .related.products ul.products li.product.column-1_3,
    .woocommerce-page .related.products ul.products li.product.column-1_3,
    .woocommerce .upcells.products ul.products li.product.column-1_3,
    .woocommerce-page .upcells.products ul.products li.product.column-1_3,
    .woocommerce ul.products li.product.column-1_3,
    .woocommerce-page ul.products li.product.column-1_3,
    .woocommerce.columns-4 ul.products li.product,
    .woocommerce-page.columns-4 ul.products li.product,
    .woocommerce .related.products ul.products li.product.column-1_4,
    .woocommerce-page .related.products ul.products li.product.column-1_4,
    .woocommerce .upcells.products ul.products li.product.column-1_4,
    .woocommerce-page .upcells.products ul.products li.product.column-1_4,
    .woocommerce ul.products li.product.column-1_4,
    .woocommerce-page ul.products li.product.column-1_4,
    .woocommerce.columns-5 ul.products li.product,
    .woocommerce-page.columns-5 ul.products li.product,
    .woocommerce .related.products ul.products li.product.column-1_5,
    .woocommerce-page .related.products ul.products li.product.column-1_5,
    .woocommerce .upcells.products ul.products li.product.column-1_5,
    .woocommerce-page .upcells.products ul.products li.product.column-1_5,
    .woocommerce ul.products li.product.column-1_5,
    .woocommerce-page ul.products li.product.column-1_5,
    .woocommerce.columns-6 ul.products li.product,
    .woocommerce-page.columns-6 ul.products li.product,
    .woocommerce .related.products ul.products li.product.column-1_6,
    .woocommerce-page .related.products ul.products li.product.column-1_6,
    .woocommerce .upcells.products ul.products li.product.column-1_6,
    .woocommerce-page .upcells.products ul.products li.product.column-1_6,
    .woocommerce ul.products li.product.column-1_6,
    .woocommerce-page ul.products li.product.column-1_6 {
        width: 100%;
        float: none;
    }
    #buddypress #item-nav {
        float: none;
        margin-bottom: 2em;
        width: auto;
        display: inline-block;
    }
    #buddypress #item-nav ul {
        overflow: hidden;
    }
    #buddypress #item-nav ul li {
        float: left;
    }
    #myplayer .ttw-music-player .album-cover {
        width: 100%;
        float: none;
        overflow: hidden;
    }
    #myplayer .ttw-music-player .album-cover,
    #myplayer .ttw-music-player .album-cover .highlight {
        height: 100px;
    }
    #myplayer .ttw-music-player .album-cover .img {
        position: static;
        max-height: none;
        margin-top: 0;
    }
    #myplayer .ttw-music-player .album-cover img {
        max-width: none;
    }
    #myplayer .ttw-music-player .tracklist {
        position: relative;
        margin-left: 0;
        padding: 0;
        top: 0;
    }
    .sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
        border-width: 1px;
    }
    input.sc_button_size_large[type="submit"],
    input.sc_button_size_large[type="button"],
    button.sc_button_size_large,
    .sc_button.sc_button_size_large {}input.sc_button_size_medium[type="submit"],
    input.sc_button_size_medium[type="button"],
    button.sc_button_size_medium,
    .sc_button.sc_button_size_medium {}input[type="submit"]:before,
    input[type="button"]:before,
    button:before,
    .sc_button:before {
        margin-right: 4px;
    }
    .sc_blogger.layout_date.sc_blogger_horizontal .sc_blogger_item {
        min-width: 50%;
        margin-bottom: 1em;
    }
    .sc_form .sc_form_field {
        float: none;
        width: 100%;
        padding-left: 0!important;
    }
    .sc_googlemap {
        max-height: 200px;
    }
    .sc_googlemap_content {
        position: static;
        width: auto;
    }
    .popup_menuitem>.sc_menuitems_wrap {
        width: 250px;
    }
    .sc_menuitems_style_menuitems-2 .sc_menuitem_box_title {
        font-size: 1.25em;
    }
    .sc_menuitems_style_menuitems-2 .sc_menuitem_nutritions_list li {
        width: 100%;
    }
    .sc_price_block .sc_price_block_description {
        height: 5.5em;
    }
    .sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a,
    .sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a .sc_socials_hover {
        width: 2.5em;
        height: 2.5em;
        line-height: 2.5em;
    }
    .sc_socials.sc_socials_size_small .social_icons span {
        font-size: 1.2em;
    }
    .sc_tabs .sc_tabs_titles li a {
        padding: 0.709em 2em;
    }
    .sc_tabs_style_3 .sc_tabs_titles li a {
        padding: 0.709em 1em;
    }
    .sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.ui-state-active a:after,
    .sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.sc_tabs_active a:after {
        height: 2px;
    }
    .sc_twitter_item {
        padding: 0 3em;
    }
    .sc_twitter .sc_slider_controls_wrap a {
        font-size: 1.5em;
    }
    .sc_video_player.sc_video_bordered .sc_video_frame {
        max-width: 198px;
    }
    .sc_services_style_services-5 .columns_wrap>.column-1_3 {
        width: 100%;
        max-width: 100%;
    }
    .sc_services_style_services-5 .sc_service_container .columns_wrap>.column-1_2 .sc_services_item {
        margin-right: 0%;
    }
    .sc_services_style_services-5 .sc_service_container .columns_wrap>.column-1_2:nth-child(2n) .sc_services_item {
        margin-left: 0%;
        margin-right: 0;
    }
    .sc_services_style_services-5 .sc_service_container .sc_services_image,
    .sc_services_style_services-5 .sc_service_container.sc_align_left .sc_services_image,
    .sc_services_style_services-5 .sc_service_container.sc_align_right .sc_services_image {
        position: relative;
        width: 100%;
        left: 0%;
        top: 0%;
        transform: translateY(0%) translateX(0%);
        margin-bottom: 2.2857em;
    }
    .sc_services_style_services-5 .sc_service_container .sc_icon,
    .sc_services_style_services-5.sc_services_type_images .sc_service_container .sc_services_item_featured,
    .sc_services_style_services-5 .sc_service_container.sc_align_right .columns_wrap>.column-1_2:nth-child(2n) .sc_icon,
    .sc_services_style_services-5.sc_services_type_images .sc_service_container.sc_align_right .columns_wrap>.column-1_2:nth-child(2n) .sc_services_item_featured {
        float: left;
        margin-right: 2.2857em;
        margin-left: 0;
    }
    .sc_services_style_services-5 .sc_service_container .columns_wrap>.column-1_2 .sc_services_item_content,
    .sc_services_style_services-5 .sc_service_container.sc_align_right .columns_wrap>.column-1_2 .sc_services_item_content {
        text-align: left;
    }
    .sc_services_style_services-5 .sc_service_container.sc_align_left .columns_wrap,
    .sc_services_style_services-5 .sc_service_container.sc_align_right .columns_wrap {
        margin-left: 0;
        margin-right: 0;
    }
    .sc_services_style_services-5 .sc_services_button {
        margin-top: 2.2857em;
    }
    .sc_promo_block {
        min-width: 100%;
        margin: 0!important;
        float: none;
    }
    .sc_promo_block_inner {
        padding: 2em;
    }
    .sc_promo_image {
        position: relative;
        height: 200px;
        min-width: 100%;
    }
    .sc_promo_block.sc_align_right *,
    .sc_promo_block.sc_align_right *:after {
        text-align: center!important;
        margin-right: auto;
    }
    .sc_matches_next,
    .sc_matches_current {
        float: none;
        width: 100%;
        padding: 2.5em 2.5em 1em;
    }
    .match_block .match_score {
        font-size: 2.5em;
    }
    .match_block .player,
    .match_block .match_info {
        display: block;
        width: 100%;
    }
    .match_block .match_info {
        margin: 2em 0;
    }
    .sc_matches.style_matches-1 .sc_matches_title {
        font-size: 2.5em;
    }
    .sc_matches.style_matches-1 .sc_matches_descr {
        font-size: 1.1em;
    }
    .sc_matches.style_matches-1 .sc_matches_list {
        margin-top: 1em;
    }
    .sc_matches.style_matches-2 .sc_matches_next .sc_matches_list {
        float: none;
        width: 100%;
    }
    .sc_matches.style_matches-2 .sc_match_info {
        text-align: center;
    }
    .sc_matches.style_matches-2 .sc_match_info .vs {
        display: block;
    }
    .sc_matches.style_matches-2 .sc_match_info .name {
        width: 8em;
    }
    .sc_players_table table tr:first-child th,
    .sc_players_table table tr:first-child td {
        font-size: 1.2em;
    }
    .sc_players_table .player img {
        max-width: 20px;
    }
    .post_item_colored .match_date,
    .post_item_colored .post_category {
        font-size: 1em;
        line-height: 1.2em;
        margin-bottom: 0.2em;
    }
    .type_player.post_item_colored .player_info {
        line-height: 1.4em;
    }
    .post_item_single_players .player_content {
        padding-top: 2.5em;
    }
    .scroll_to_top {
        right: 1em;
    }
    .scroll_to_top.show {
        bottom: 1em;
    }
    .jacqueline_profiler {
        display: none;
    }
}
@media (max-width: 479px) {
    .menu_main_nav_area .menu_main_nav {
        flex-flow: column;
    }
    .sc_audio .sc_audio_header,
    .sc_audio.sc_audio_info {
        padding-left: 30px;
        padding-right: 30px;
    }
    .copyright_style_socials .beforeSocials {
        display: none;
    }
    .copyright_style_socials .sc_socials {
        float: left;
    }
    .sc_testimonial_item {
        padding: 0 3em;
    }
    .sc_menuitems_style_menuitems-2 .sc_menuitem_content,
    .sc_menuitems_style_menuitems-2 .sc_menuitem_ingredients,
    .sc_menuitems_style_menuitems-2 .sc_menuitem_nutritions {
        padding: 1.85em 2.4em 1.85em 2.4em;
    }
    .sc_menuitems_style_menuitems-2 .sc_menuitem_price {
        float: left;
    }
    .sc_menuitems_style_menuitems-2 .sc_menuitem_service {
        margin-right: 2em;
        margin-bottom: 2em;
    }
    .sc_menuitems_style_menuitems-2 .sc_menuitem_content_title span {
        display: none;
    }
    #tribe-events-pg-template #tribe-events-content .tribe-events-calendar td {
        height: 5em;
        padding: 0.5em 0;
    }
    .single-tribe_events .tribe-events-event-image {
        margin: 0 0 2em 0;
        max-width: 100%;
    }
    #tribe-events-pg-template .tribe-events-button+.tribe-events-button {
        margin-left: 0!important;
        margin-top: 1em!important;
    }
    .sc_chat .sc_chat_title {
        font-size: 1em;
        width: 100%;
        position: relative;
        margin-bottom: 0.6em;
    }
    .sc_chat .sc_chat_content {
        width: 100%;
        padding-left: 0%;
    }
    .post_author .post_author_info {
        overflow: visible;
    }
    .woocommerce .shop_mode_list ul.products li.product .post_featured,
    .woocommerce-page .shop_mode_list ul.products li.product .post_featured,
    .woocommerce .shop_mode_list ul.products li.product .post_content {
        width: 100%;
        float: none;
    }
    .woocommerce .shop_mode_list ul.products li.product .post_content {
        position: relative;
        padding-right: 0;
        top: 0;
        right: auto;
        transform: none;
        margin: 2em 0 5em;
    }
    .woocommerce .woocommerce-ordering,
    .woocommerce-page .woocommerce-ordering {
        float: none;
        display: block;
        width: 100%;
    }
    .woocommerce .star-rating {
        height: 1.3em;
        line-height: 1.3em;
        font-size: 0.8em;
    }
    .woocommerce .woocommerce-error .button,
    .woocommerce .woocommerce-message .button {
        position: absolute;
        left: 3.8em;
        bottom: 1em;
    }
    .woocommerce .woocommerce-error,
    .woocommerce .woocommerce-message {
        padding-bottom: 6em!important;
    }
    .woocommerce table.cart td.actions .input-text,
    .woocommerce-page table.cart td.actions .input-text+.button,
    .woocommerce-page table.cart td.actions>.button {
        width: 100%;
    }
    .woocommerce-page table.cart td.actions .input-text+.button {
        margin-top: 6px;
    }
    .woocommerce-checkout #payment .payment_method_paypal img {
        max-height: 30px;
    }
    .woocommerce-checkout #payment .payment_method_paypal .about_paypal {
        line-height: 30px;
    }
    .content .search_wrap {
        max-width: 100%;
    }
    .woocommerce form.checkout_coupon .form-row {
        min-width: 100%;
        box-sizing: border-box;
    }
	.esg-grid .eg-roosevelt-massage-element-0 { 
		font-size: 15px; 
		line-height: 20px; 
	}
	.sc_button + .sc_button {
		margin-top: 10px;
	} 
	.sc_call_to_action_style_1 .columns_wrap {
		margin-right: -20px;
	}
}
@media (max-width: 480px) {
    .header_mobile .mask {
        display: none!important;
    }
    .header_mobile .content_wrap {
        margin-left: 10px;
        text-align: left;
    }
    .header_mobile .logo {
        padding-top: 24px;
        padding-bottom: 5px;
    }
    .header_mobile .logo_main {
        height: 46px;
        padding: 3px 0;
    }
    .header_mobile .menu_main_cart {
        right: 10px;
    }
    .header_mobile .menu_button {
        left: auto;
        right: 50px;
    }
    .header_mobile .side_wrap {
        width: 100%;
        top: 97px;
        left: -100%;
    }
    .admin-bar .header_mobile .side_wrap {
        top: 142px;
    }
    .header_mobile .panel_middle {
        font-size: 1em;
    }
    .admin-bar .top_panel_image+.header_mobile .side_wrap {
        top: 46px;
    }
    .top_panel_image+.header_mobile .side_wrap {
        top: 0;
    }
}