
<div data-sc-full-width="true" data-sc-full-width-init="false" data-sc-stretch-content="true" class="sc_row row sc_row-fluid sc_row-no-padding">
    <div class="column sc_column_container sc_col-sm-12">
        <div class="sc_column-inner ">
            <div class="wrapper">
                <div id="sc_blogger_933" class="sc_blogger layout_portfolio_3 template_portfolio sc_blogger_horizontal">
                    <div class="isotope_wrap" data-columns="3">

                        <!-- BOX 1 -->
	                    <div class="isotope_item isotope_item_portfolio isotope_item_portfolio_3 isotope_column_3">
                            <div class="post_item post_item_portfolio post_item_portfolio_3">
                                <div class="post_content isotope_item_content ih-item colored">
                                    <div class="post_featured img">
                                        <a href="#">
                                            <img src="{{ static('img/homepage/boxes/box_1.jpg') }}" alt="">
                                        </a>
                                    </div>
                                    <div class="post_info_wrap info">
                                        <div class="info-back">
                                            <div class="post_category">
                                                <a href="{{ url('contact') }}" rel="tag">Welcome the new you</a>
                                            </div>
                                            <h4 class="post_title">
                                                <a href="{{ url('contact') }}">BEAUTIFUL YOU</a>
                                            </h4>
                                            <div class="post_descr">
                                                <p>
                                                    <a href="{{ url('contact') }}">{{ _("Salon de Beaute is a warm space that makes you feel comfortable and pleasant. Our space is often refreshed with new treatments and the latest fashion trends in lacquers and makeup products. Come to get to know your new self today.") }}</a>
                                                </p>
                                                <p class="post_buttons">
                                                    <a href="{{ url('contact') }}" class="post_readmore sc_button sc_button_size_large sc_button_style_filled">BOOK NOW</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- BOX 2 -->
                        <div class="isotope_item isotope_item_portfolio isotope_item_portfolio_3 isotope_column_3">
                            <div class="post_item post_item_portfolio post_item_portfolio_3">
                                <div class="post_content isotope_item_content ih-item colored">
                                    <div class="post_featured img">
                                        <a href="#">
                                            <img src="{{ static('img/homepage/boxes/box_2.jpg') }}" alt="">
                                        </a>
                                    </div>
                                    <div class="post_info_wrap info">
                                        <div class="info-back">
                                            <div class="post_category">
                                                <a href="{{ url('contact') }}" rel="tag">Manual & excercise therapy</a>
                                            </div>
                                            <h4 class="post_title">
                                                <a href="{{ url('contact') }}">Massage Therapy</a>
                                            </h4>
                                            <div class="post_descr">
                                                <p>
                                                    <a href="{{ url('contact') }}">{{ _("Relax Massage, hot stones, cellulate and local fat, sauna and many other treatments just for you.") }}</a>
                                                </p>
                                                <p class="post_buttons">
                                                    <a href="{{ url('contact') }}" class="post_readmore sc_button sc_button_size_large sc_button_style_filled">BOOK NOW</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- BOX 3 -->
                        <div class="isotope_item isotope_item_portfolio isotope_item_portfolio_3 isotope_column_3">
                            <div class="post_item post_item_portfolio post_item_portfolio_3">
                                <div class="post_content isotope_item_content ih-item colored">
                                    <div class="post_featured img">
                                        <a href="">
                                            <img src="{{ static('img/homepage/boxes/box_3.jpg') }}" alt="">
                                        </a>
                                    </div>
                                    <div class="post_info_wrap info">
                                        <div class="info-back">
                                            <div class="post_category">
                                                <a href="{{ url('contact') }}" rel="tag">Proud of our quality</a>
                                            </div>
                                            <h4 class="post_title">
                                                <a href="{{ url('contact') }}">THE BEST PRODUCTS</a>
                                            </h4>
                                            <div class="post_descr">
                                                <p>
                                                    <a href="{{ url('contact') }}">{{ _("We use and also sell on Salon Brands such as Thalgo, Bio-Aroma and Phytomere cosmetics for face and body. You will also find MakeMeUp and other famous beauty companies.") }}</a>
                                                </p>
                                                <p class="post_buttons">
                                                    <a href="{{ url('contact') }}" class="post_readmore sc_button sc_button_size_large sc_button_style_filled">BOOK NOW</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sc_row-full-width"></div>