{% load i18n %}


{% if featured_services.exists %}
<div data-sc-full-width="true" data-sc-full-width-init="false" class="sc_row row sc_row-fluid sc_custom_1459503174388">
    <div class="column sc_column_container sc_col-sm-12">
        <div class="sc_column-inner ">
            <div class="wrapper">
                <div class="sc_empty_space em_height_8-3">
                    <span class="sc_empty_space_inner"></span>
                </div>
                <div class="sc_menuitems_wrap">
                    <div  class="sc_menuitems sc_menuitems_style_menuitems-1 cu_fullwidth">
                        <h6 class="sc_menuitems_subtitle sc_item_subtitle">Best Deals</h6>
                        <h2 class="sc_menuitems_title sc_item_title">Special Pricing</h2>
                        <div class="sc_columns columns_wrap">
                            {% for featured_service in featured_services %}
                            <div class="column-1_2 column_padding_bottom">
                                <div id="sc_menuitems_item_1" class="sc_menuitems_item" data-url="menu-item-1.html">
{#                                    <div class="sc_menuitem_price">{{ featured_service.duration }}</div>#}
                                    <h5 class="sc_menuitem_title">
                                        <a href="{{ featured_service.get_absolute_url }}">{{ featured_service }}</a>
                                    </h5>
                                    <div class="sc_menuitem_description">
                                        <p>{{ featured_service.duration }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
{#                        <div class="sc_menuitems_button sc_item_button">#}
{#                            <a href="pricing.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_base">#}
{#                                <div>#}
{#                                    <span class="first">{% trans '' %}</span>#}
{#                                    <span class="second">View More</span>#}
{#                                </div>#}
{#                            </a>#}
{#                        </div>#}
                    </div>
                </div>
                <div class="sc_empty_space em_height_7">
                    <span class="sc_empty_space_inner"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sc_row-full-width"></div>
{% endif %}
