{% extends 'base/index.html' %}

{% block body_classes %}home2 scheme_original top_panel_over esg-blurlistenerexists {% endblock %}
{% block header_classes %}top_panel_style_6 scheme_dark {% endblock %}


{% block homepage %}
    {% include 'homepage/slider.html' %}
    <div class="page_content_wrap page_paddings_no">
        <div class="content_wrap">
            <div class="content">
                <article class="post_item post_item_single page">
                    <section class="post_content">
                        {% include 'homepage/puzzle.html' %}
                        {% include 'homepage/featured_categories.html' %}
                        {% include 'homepage/testimonials.html' %}
	                    {% include 'base/counters.html' %}
	                    {% include "base/pink_banner.html" %}
{#	                    {% include 'homepage/products.html' %}#}
{#                      {% include 'homepage/featured_services.html' %}#}
                    </section>
                </article>
                <section class="related_wrap related_wrap_empty"></section>
            </div>
        </div>
    </div>
	{% include 'homepage/map.html' %}
{% endblock %}

{% block extra_styles %}
		{#	<link rel='stylesheet' href='{{ static('css/tooltipster.css') }}' type='text/css'>#}
		<link rel='stylesheet' href='{{ static('css/esg.settings.css') }}' type='text/css'>
		<link rel='stylesheet' href='{{ static('css/rev.settings.css') }}' type='text/css'>
{#		<link rel='stylesheet' href='{{ static('css/fontello.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/style.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/core.animation.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/shortcodes.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/skin.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/custom-style.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/responsive.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/skin.responsive.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/custom.responsive.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/grid.layout.min.css') }}' type='text/css'>#}
		<link rel='stylesheet' href='{{ static('css/core.portfolio.css') }}' type='text/css'>
	    <link rel='stylesheet' href='{{ static('css/swiper.css') }}' type='text/css'>
	    <link rel='stylesheet' href='{{ static('css/lightbox.css') }}' type='text/css'>
{% endblock %}

{% block extra_scripts %}
	<script>
	function initMap() {
		let coords = {lat: 36.726091, lng: 24.447072};

		let map = new google.maps.Map(
			document.getElementById('map'),
			{
				zoom: 19,
				{# map center different cause of clip-path  #}
				{#center: {lat: 36.744100, lng: 24.423200},#}
				center: coords,
				gestureHandling: "cooperative",
				backgroundColor: "#66abf0",
			}
		);
		let marker = new google.maps.Marker({
			position: coords,
			map: map,
		});
	}
	</script>
{#        <script type='text/javascript' src='{{ static('js/jquery.fancybox.min.js') }}'></script>#}
        <script type='text/javascript' src='{{ static('js/lightbox.js') }}'></script>
	    <script type='text/javascript' src='{{ static('js/jquery.themepunch.tools.min.js') }}'></script>
	    <script type='text/javascript' src='{{ static('js/jquery.themepunch.essential.min.js') }}'></script>
	    <script type='text/javascript' src='{{ static('js/jquery.themepunch.revolution.min.js') }}'></script>
	    <script type="text/javascript" src="{{ static('js/revolution.extension.slideanims.min.js') }}"></script>
	    <script type="text/javascript" src="{{ static('js/revolution.extension.actions.min.js') }}"></script>
	    <script type="text/javascript" src="{{ static('js/revolution.extension.layeranimation.min.js') }}"></script>
	    <script type="text/javascript" src="{{ static('js/revolution.extension.navigation.min.js') }}"></script>
{#	    <script type='text/javascript' src='{{ static('js/core.googlemap.js') }}'></script>#}
	    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ settings.GOOGLE_MAPS_API_KEY }}&callback=initMap"></script>
{#		<script type='text/javascript' src='{{ static('js/modernizr.min.js') }}'></script>#}
{#		<script type='text/javascript' src='{{ static('js/my-custom.js') }}'></script>#}
{#        <script type='text/javascript' src='{{ static ('js/custom.js') }}'></script>#}
{#        <script type='text/javascript' src='{{ static('js/superfish.js') }}'></script>#}
{#        <script type='text/javascript' src='{{ static('js/jquery.slidemenu.js') }}'></script>#}
{#        <script type='text/javascript' src='{{ static('js/core.utils.js') }}'></script>#}
{#        <script type='text/javascript' src='{{ static('js/core.init.js') }}'></script>#}
{#        <script type='text/javascript' src='{{ static('js/theme.init.js') }}'></script>#}
{#	    <script type='text/javascript' src='{{ static('js/theme.shortcodes.js') }}'></script>#}
{#		<script type='text/javascript' src='{{ static('js/grid.layout.min.js') }}'></script>#}
{#	    <script type="text/javascript" src="{{ static('js/swiper.js') }}"></script>#}
{#        <script type='text/javascript' src='{{ static('js/isotope.min.js') }}'></script>#}
{% endblock %}
