
<div data-sc-full-width="true" data-sc-full-width-init="false" data-sc-stretch-content="true" class="sc_row row sc_row-fluid sc_row-no-padding">
    <div class="column sc_column_container sc_col-sm-12">
        <div class="sc_column-inner ">
            <div class="wrapper">
	            <div class="sc_empty_space em_height_8-46">
                    <span class="sc_empty_space_inner"></span>
                </div>
                <article class="myportfolio-container minimal-light" id="esg-grid-2-1-wrap">
                    <div id="esg-grid-2-1" class="esg-grid">
                        <ul>
                            <li class="filterall filter-blogger eg-roosevelt-massage-wrapper eg-post-id-187" data-date="1459254645">
                                <div class="esg-media-cover-wrapper">
                                    <div class="esg-entry-media esg-shifttotop" data-delay="0">
                                        <img src="{{ static('img/homepage/products_homepage_1.jpg') }}" alt="">
                                    </div>
                                    <div class="esg-entry-cover">
                                        <div class="esg-overlay esg-fade eg-roosevelt-massage-container" data-delay="0"></div>
                                        <div class="esg-bottom eg-post-187 eg-roosevelt-massage-element-0 esg-flipup" data-delay="0.09">Massage for Low Back Pain</div>
{#                                        <div class="esg-center eg-post-187 eg-roosevelt-massage-element-2-a esg-slideup" data-delay="0.2">#}
{#                                            <a class="eg-roosevelt-massage-element-2 eg-post-187 esgbox" href="{{ static('img/homepage/products_homepage_1.jpg') }}" lgtitle="Massage for Low Back Pain">#}
{#                                                <i class="eg-icon-search"></i>#}
{#                                            </a>#}
{#                                        </div>#}
                                        <div class="esg-bottom eg-post-187 eg-roosevelt-massage-element-4-a esg-flipdown" data-delay="0.46">
                                            <a class="eg-roosevelt-massage-element-4 eg-post-187" href="classic.html" title="View all posts in Blogger" rel="category tag">Blogger</a>
                                        </div>
                                        <div class="esg-center eg-post-187 eg-roosevelt-massage-element-1-a esg-slideup" data-delay="0.3">
                                            <a class="eg-roosevelt-massage-element-1 eg-post-187" href="single-post.html">
                                                <i class="eg-icon-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="filterall filter-blogger eg-roosevelt-massage-wrapper eg-post-id-189" data-date="1459254861">
                                <div class="esg-media-cover-wrapper">
                                    <div class="esg-entry-media esg-shifttotop" data-delay="0">
                                        <img src="{{ static('img/homepage/products_homepage_2.jpg') }}" alt="">
                                    </div>
                                    <div class="esg-entry-cover">
                                        <div class="esg-overlay esg-fade eg-roosevelt-massage-container" data-delay="0"></div>
                                        <div class="esg-bottom eg-post-189 eg-roosevelt-massage-element-0 esg-flipup" data-delay="0.09">Hot Stone Massage</div>
{#                                        <div class="esg-center eg-post-189 eg-roosevelt-massage-element-2-a esg-slideup" data-delay="0.2">#}
{#                                            <a class="eg-roosevelt-massage-element-2 eg-post-189 esgbox" href="{{ static('img/homepage/products_homepage_2.jpg') }}" lgtitle="Hot Stone Massage">#}
{#                                                <i class="eg-icon-search"></i>#}
{#                                            </a>#}
{#                                        </div>#}
                                        <div class="esg-bottom eg-post-189 eg-roosevelt-massage-element-4-a esg-flipdown" data-delay="0.46">
                                            <a class="eg-roosevelt-massage-element-4 eg-post-189" href="classic.html" title="View all posts in Blogger" rel="category tag">Blogger</a>
                                        </div>
                                        <div class="esg-center eg-post-189 eg-roosevelt-massage-element-1-a esg-slideup" data-delay="0.3">
                                            <a class="eg-roosevelt-massage-element-1 eg-post-189" href="single-post.html">
                                                <i class="eg-icon-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="filterall filter-blogger eg-roosevelt-massage-wrapper eg-post-id-192" data-date="1459254977">
                                <div class="esg-media-cover-wrapper">
                                    <div class="esg-entry-media esg-shifttotop" data-delay="0">
                                        <img src="{{ static('img/homepage/products_homepage_3.jpg') }}" alt="">
                                    </div>
                                    <div class="esg-entry-cover">
                                        <div class="esg-overlay esg-fade eg-roosevelt-massage-container" data-delay="0"></div>
                                        <div class="esg-bottom eg-post-192 eg-roosevelt-massage-element-0 esg-flipup" data-delay="0.09">5 Benefits of Regular Massage</div>
{#                                        <div class="esg-center eg-post-192 eg-roosevelt-massage-element-2-a esg-slideup" data-delay="0.2">#}
{#                                            <a class="eg-roosevelt-massage-element-2 eg-post-192 esgbox" href="{{ static('img/homepage/products_homepage_3.jpg') }}" lgtitle="5 Benefits of Regular Massage">#}
{#                                                <i class="eg-icon-search"></i>#}
{#                                            </a>#}
{#                                        </div>#}
                                        <div class="esg-bottom eg-post-192 eg-roosevelt-massage-element-4-a esg-flipdown" data-delay="0.46">
                                            <a class="eg-roosevelt-massage-element-4 eg-post-192" href="classic.html" title="View all posts in Blogger" rel="category tag">Blogger</a>
                                        </div>
                                        <div class="esg-center eg-post-192 eg-roosevelt-massage-element-1-a esg-slideup" data-delay="0.3">
                                            <a class="eg-roosevelt-massage-element-1 eg-post-192" href="single-post.html">
                                                <i class="eg-icon-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="filterall filter-blogger eg-roosevelt-massage-wrapper eg-post-id-194" data-date="1459255607">
                                <div class="esg-media-cover-wrapper">
                                    <div class="esg-entry-media esg-shifttotop" data-delay="0">
                                        <img src="{{ static('img/homepage/products_homepage_4.jpg') }}" alt="">
                                    </div>
                                    <div class="esg-entry-cover">
                                        <div class="esg-overlay esg-fade eg-roosevelt-massage-container" data-delay="0"></div>

                                        <div class="esg-bottom eg-post-194 eg-roosevelt-massage-element-0 esg-flipup" data-delay="0.09">Sunburns and Massage Therapy</div>
{#                                        <div class="esg-center eg-post-194 eg-roosevelt-massage-element-2-a esg-slideup" data-delay="0.2">#}
{#                                            <a class="eg-roosevelt-massage-element-2 eg-post-194 esgbox" href="{{ static('img/homepage/products_homepage_4.jpg') }}" lgtitle="Sunburns and Massage Therapy">#}
{#                                                <i class="eg-icon-search"></i>#}
{#                                            </a>#}
{#                                        </div>#}
                                        <div class="esg-bottom eg-post-194 eg-roosevelt-massage-element-4-a esg-flipdown" data-delay="0.46">
                                            <a class="eg-roosevelt-massage-element-4 eg-post-194" href="classic.html" title="View all posts in Blogger" rel="category tag">Blogger</a>
                                        </div>
                                        <div class="esg-center eg-post-194 eg-roosevelt-massage-element-1-a esg-slideup" data-delay="0.3">
                                            <a class="eg-roosevelt-massage-element-1 eg-post-194" href="single-post.html">
                                                <i class="eg-icon-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </article>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<div class="sc_row-full-width"></div>
