{% if puzzle_photos.count() == 3 %}
<div class="sc_row row sc_row-fluid">
    <div class="column sc_column_container sc_col-sm-12">
        <div class="sc_column-inner ">
            <div id="puzzle-images" class="wrapper">
                <div class="sc_empty_space em_height_8-46">
                    <span class="sc_empty_space_inner"></span>
                </div>
                <div class="columns_wrap sc_columns columns_nofluid no_margins equal_height">
                    <div class="column-1_3 sc_column_item">
                        <div class="sc_column_item_inner cu_block_4 puzzle-image" style="background: url('{{ puzzle_photos.0.get_puzzle_url() }}') no-repeat;">
{#                            <img src="{{ puzzle_photos.0.get_puzzle_url() }}" alt="">#}
                        </div>
                    </div><div class="column-1_3 sc_column_item">
                        <div class="sc_column_item_inner cu_block_5">
                            <h2 class="sc_title sc_title_regular sc_align_center">your beauty is here</h2>
                            <div class="sc_line sc_line_position_center_center sc_line_style_solid"></div>
                            <div class="text_column content_element ">
                                <div class="wrapper">
                                    <p class="cu_text_c">
                                        {{ _("Contact us today to design the best treatments just for you.") }}
                                    </p>
                                </div>
                            </div>
                            <a href="https://salondebeautemilos.orion-beauty.gr/el" class="sc_button sc_button_square sc_button_style_filled sc_button_size_base aligncenter">
                                <div>
                                    <span class="first">Book online</span>
                                    <span class="second">Book online</span>
                                </div>
                            </a>
                        </div>
                    </div><div class="column-1_3 sc_column_item">
                        <div class="sc_column_item_inner cu_block_7 puzzle-image" style="background: url('{{ puzzle_photos.1.get_puzzle_url() }}') no-repeat;">
{#                            <img src="{{ puzzle_photos.1.get_puzzle_url() }}" alt="">#}
                        </div>
                    </div><div class="column-1_3 sc_column_item">
                        <div class="sc_column_item_inner cu_block_5">
                            <h2 class="sc_title sc_title_regular sc_align_center">contact Us</h2>
                            <div class="sc_line sc_line_position_center_center sc_line_style_solid"></div>
                            <div class="text_column content_element ">
                                <div class="wrapper">
                                    <p class="cu_text_c">
                                        {{ _("Each one of our staff members are experts who have gone above and beyond in training.") }}
	                                    <br> {{ _("Please feel free to reach out with any questions.") }}
                                    </p>
                                </div>
                            </div>
                            <a href="https://salondebeautemilos.orion-beauty.gr/el" class="sc_button sc_button_square sc_button_style_filled sc_button_size_base aligncenter">
                                <div>
                                    <span class="first">Book online</span>
                                    <span class="second">Book online</span>
                                </div>
                            </a>
                        </div>
                    </div><div class="column-1_3 sc_column_item">
                        <div class="sc_column_item_inner cu_block_6 puzzle-image" style="background: url('{{ puzzle_photos.2.get_puzzle_url() }}') no-repeat;">
{#                            <img src="{{ puzzle_photos.2.get_puzzle_url() }}" alt="">#}
                        </div>
                    </div><div class="column-1_3 sc_column_item">
                        <div class="sc_column_item_inner cu_block_5">
                            <h2 class="sc_title sc_title_regular sc_align_center">make up your day</h2>
                            <div class="sc_line sc_line_position_center_center sc_line_style_solid"></div>
                            <div class="text_column content_element ">
                                <div class="wrapper">
                                    <p class="cu_text_c">
                                        {{ _("The day starts with your smile! Visit our Salon de Beaute today and make up your day!") }}
                                    </p>
                                </div>
                            </div>
                            <a href="https://salondebeautemilos.orion-beauty.gr/el" class="sc_button sc_button_square sc_button_style_filled sc_button_size_base aligncenter">
                                <div>
                                    <span class="first">Book online</span>
                                    <span class="second">Book online</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="sc_empty_space em_height_8-46">
                    <span class="sc_empty_space_inner"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sc_row-full-width"></div>
{% endif %}