<section class="slider_wrap slider_fullscreen slider_engine_revo slider_alias_home-2">
    <div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullscreen-container">
        <div id="rev_slider_3_1" class="rev_slider fullscreenbanner" data-version="5.2.6">
            <ul>
                {% for slider in sliders %}
                    <li data-index="rs-{{ loop.index }}" data-transition="fade">
                        <div class="tp-caption tp-resizeme" id="slide-6-layer-5" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-120','-120','-220','-155']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1200;e:Power2.easeInOut;" data-transform_out="auto:auto;s:1000;" data-start="1000" data-responsive_offset="on">
                            <img src="{{ static('img/Vector-Smart-Object.png') }}" alt="" width="129" height="128" data-ww="['105px','105px','105px','105px']" data-hh="['105px','105px','105px','105px']" data-no-retina>
                        </div>
                        <img src="{{ slider.get_slider_url() }}"
                             alt=""
                             width="1920"
                             height="1080"
                             data-bgposition="center center"
                             data-bgfit="cover"
                             data-bgrepeat="no-repeat"
                             class="rev-slidebg"
                             data-no-retina
                        >
{#                        <div class="tp-caption tp-resizeme"#}
{#                             id="slide-{{ loop.index }}-layer-5"#}
{#                             data-x="['center','center','center','center']"#}
{#                             data-hoffset="['0','0','0','0']"#}
{#                             data-y="['middle','middle','middle','middle']"#}
{#                             data-voffset="['-77','-77','-193','-127']"#}
{#                             data-width="none"#}
{#                             data-height="none"#}
{#                             data-whitespace="nowrap"#}
{#                             data-transform_idle="o:1;"#}
{#                             data-transform_in="x:-50px;opacity:0;s:1200;e:Power2.easeInOut;"#}
{#                             data-transform_out="auto:auto;s:1000;"#}
{#                             data-start="1000"#}
{#                             data-responsive_offset="on"#}
{#                        >#}
{#                            <img src="images/Vector-Smart-Object-6.png" alt="" width="169" height="20" data-ww="['169px','169px','180px','169px']" data-hh="20px" data-no-retina>#}
{#                        </div>#}
{#                        <div class="tp-caption black tp-resizeme" id="slide-7-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-27','-27','-144','-84']" data-fontsize="['48','48','55','55']" data-width="465" data-height="91" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">Massage therapy and spa </div>#}
                        <div 
                          class="tp-caption black tp-resizeme"
                          id="slide-{{ loop.index + 3 }}-layer-2"  {# "slide-2-layer-2" does not work properly. The value 2 after slide-* must never occur. Thus the addition with 3! #}
                          data-x="['center','center','center','center']"
                          data-hoffset="['0','0','0','0']"
                          data-y="['middle','middle','middle','middle']"
                          data-voffset="['35','35','-65','14']"
                          data-fontsize="['68','68','60','55']"
                          data-lineheight="['68','68','60','55']"
                          data-width="['none','none','none','600']"
                          data-height="none"
                          data-whitespace="['nowrap','nowrap','nowrap','normal']"
                          data-transform_idle="o:1;"
                          data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2500;e:Power3.easeInOut;"
                          data-transform_out="auto:auto;s:1000;"
                          data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                          data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                          data-start="1000"
                          data-splitin="none"
                          data-splitout="none"
                          data-responsive_offset="on"
                        >
                          {{ slider.text }}
                        </div>
{#	                    <div class="tp-caption black tp-resizeme" id="slide-7-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['192','192','102','223']" data-fontsize="['11','11','18','15']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;" data-style_hover="c:rgba(249, 163, 146, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);" data-transform_in="y:50px;opacity:0;s:3000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">#}
{#		                    <a style="color:unset;" href="{{ static('img/salon_de_beaute_flyer.pdf') }}" target="_blank">see our catalog (PDF)</a>#}
{#	                    </div>#}
{#                        <div class="tp-caption black tp-resizeme" id="slide-7-layer-3" data-x="['center','center','center','center']" data-hoffset="['2','2','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['112','112','12','129']" data-fontsize="['17','17','20','20']" data-lineheight="['30','30','30','25']" data-width="['none','none','none','500']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:2500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">You owe yourself this moment. Make an appointment in just a click! </div>#}
                        <div
                          class="tp-caption black tp-resizeme"
                          id="slide-{{ loop.index + 3 }}-layer-4"
                          data-x="['center','center','center','center']"
                          data-hoffset="['0','0','0','0']"
                          data-y="['middle','middle','middle','middle']"
                          data-voffset="['192','192','102','223']"
                          data-fontsize="['11','11','18','15']"
                          data-width="none"
                          data-height="none"
                          data-whitespace="nowrap"
{#                          data-transform_idle="o:1;"#}
{#                          data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;" #}
{#                          data-style_hover="c:rgba(249, 163, 146, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);" #}
{#                          data-transform_in="y:50px;opacity:0;s:3000;e:Power3.easeInOut;" #}
{#                          data-transform_out="auto:auto;s:1000;" #}
                          data-start="100"
                          data-splitin="none"
                          data-splitout="none"
                          data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"https://salondebeautemilos.orion-beauty.gr/el","delay":""}]'
                          data-responsive_offset="on"
                        >
                          Book online
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
</section>