{% load i18n %}


{% if persons.exists %}
<div class="sc_row row sc_row-fluid">
    <div class="column sc_column_container sc_col-sm-12">
        <div class="sc_column-inner ">
            <div class="wrapper">
                <div class="sc_empty_space em_height_5">
                    <span class="sc_empty_space_inner"></span>
                </div>
                <div id="sc_team_630_wrap" class="sc_team_wrap">
                    <div id="sc_team_630" class="sc_team sc_team_style_team-3 aligncenter">
                        <h6 class="sc_team_subtitle sc_item_subtitle">Our Staff</h6>
                        <h2 class="sc_team_title sc_item_title">Meet Our experts</h2>
                        <div class="sc_columns columns_wrap">
                            {% for person in persons %}
                            <div class="column-1_4 column_padding_bottom">
                                <div id="sc_team_630_{{ forloop.counter }}" class="sc_team_item">
                                    <div class="sc_team_item_avatar">
                                        <img alt="" src="{{ person.selfie.crop.250x250 }}">
{#                                        <div class="sc_team_item_hover">#}
{#                                            <a href="javascript:;" class="sc_team_item_icon icon-email19"></a>#}
{#                                        </div>#}
                                    </div>
                                    <div class="sc_team_item_info">
                                        <h5 class="sc_team_item_title">
                                            <span>{{ person.full_name }}</span>
                                        </h5>
                                        {% if person.specialty %}<div class="sc_team_item_position">{{ person.specialty }}</div>{% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="sc_empty_space em_height_5">
                    <span class="sc_empty_space_inner"></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}