
<div class="sc_row row sc_row-fluid sc_custom_1459501367721 inverse_colors" data-sc-full-width="true" data-sc-full-width-init="false">
    <div class="column sc_column_container sc_col-sm-12">
        <div class="sc_column-inner ">
            <div class="wrapper">
                <div class="sc_empty_space em_height_6">
                    <span class="sc_empty_space_inner"></span>
                </div>
                <div id="sc_testimonials_179" class="sc_testimonials sc_testimonials_style_testimonials-1 cu_fullwidth">
                    <h6 class="sc_testimonials_subtitle sc_item_subtitle">Testimonials</h6>
                    <h2 class="sc_testimonials_title sc_item_title">what people say about us</h2>
                    <div class="sc_slider_swiper swiper-slider-container sc_slider_nopagination sc_slider_controls sc_slider_controls_side" data-interval="6815" data-slides-min-width="250">
                        <div class="slides swiper-wrapper">
                            <div class="swiper-slide" data-style="width:100%;">
                                <div id="sc_testimonials_179_1" class="sc_testimonial_item">
                                    <div class="sc_testimonial_content">
                                        <p>Πρέπει να έρθω σύντομα… τα καλύτερα προϊόντα στο καλύτερο κέντρο αισθητικής!!! Mπράβο</p>
                                    </div>
{#                                    <div class="sc_testimonial_avatar">#}
{#                                        <img alt="Letitia Shelton" src="">#}
{#                                    </div>#}
                                    <div class="sc_testimonial_author">
                                        <a href="#" class="sc_testimonial_author_name">Marina R.</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-style="width:100%;">
                                <div id="sc_testimonials_179_2" class="sc_testimonial_item">
                                    <div class="sc_testimonial_content">
                                        <p>Πολύ ωραία κραγιόν που δεν φεύγουν , ευχαριστώ !!!!</p>
                                    </div>
{#                                    <div class="sc_testimonial_avatar">#}
{#                                        <img alt="Alexis Adams" src="">#}
{#                                    </div>#}
                                    <div class="sc_testimonial_author">
                                        <a href="#" class="sc_testimonial_author_name">Stella K.</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-style="width:100%;">
                                <div id="sc_testimonials_179_3" class="sc_testimonial_item">
                                    <div class="sc_testimonial_content">
                                        <p>Γεωργία μου όμορφη εγώ να πω ένα μεγάλο ευχαριστώ με έκανες να νιώσω στα μαγικά σου χεράκια πανέμορφη!! Μπράβο σου η δουλειά σου είναι απίθανη ότι κι αν κάνεις!! Είσαι τέλεια!!</p>
                                    </div>
{#                                    <div class="sc_testimonial_avatar">#}
{#                                        <img alt="Glen Welch" src="">#}
{#                                    </div>#}
                                    <div class="sc_testimonial_author">
                                        <a href="#" class="sc_testimonial_author_name">Anthi P.</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc_slider_controls_wrap">
                            <a class="sc_slider_prev" href="#"></a>
                            <a class="sc_slider_next" href="#"></a>
                        </div>
                        <div class="sc_slider_pagination_wrap"></div>
                    </div>
                </div>
                <div class="sc_empty_space em_height_8">
                    <span class="sc_empty_space_inner"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sc_row-full-width"></div>