{% extends 'base/index.html' %}

{% block body_classes %}services1 theme_skin_less scheme_original top_panel_show top_panel_above {% endblock %}
{% block header_classes %}top_panel_style_7 scheme_original {% endblock %}

{% block bridal %}
	<section class="top_panel_image" style="background-image:url('{{ static("img/bridal/top_image.jpg") }}');">
	    <div class="top_panel_image_hover"></div>
	    <div class="top_panel_image_header">
	        <div class="top_panel_image_icon icon-book-open"></div>
	        <h1 class="top_panel_image_title">YOU AT YOUR BEST</h1>
		    <div class="breadcrumbs">
                <span class="breadcrumbs_item">Bridal Deluxe Treatments</span>
            </div>
	    </div>
	</section>

	<div class="page_content_wrap page_paddings_no">
        <div class="content_wrap">
            <div class="content">
                <article class="post_item post_item_single page">
                    <section class="post_content">
                        <div class="sc_row row sc_row-fluid">
                            <div class="column sc_column_container sc_col-sm-12">
                                <div class="sc_column-inner ">
                                    <div class="wrapper">
                                        <div class="sc_empty_space em_height_6">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                        <div class="sc_section sc_section_block aligncenter max_width cu_width-1110">
                                            <div class="sc_section_inner">
                                                <h6 class="sc_section_subtitle sc_item_subtitle">The best of the best</h6>
                                                <h2 class="sc_section_title sc_item_title line_hide">Just for you</h2>
                                                <div class="sc_section_content_wrap">
                                                    <div class="columns_wrap sc_columns columns_nofluid equal_height cu_mrg_1">
	                                                    <div class="column-1_4 sc_column_item cu_block_11">
                                                            <div class="sc_column_item_inner">
                                                                <figure class="sc_image sc_image_shape_square">
                                                                    <img src="{{ static('img/bridal/bridal_1.jpg') }}" alt="" />
                                                                </figure>
                                                                <h4 class="sc_title sc_title_regular">BRIDAL BASIC</h4>
                                                                <div class="text_column content_element ">
                                                                    <div class="wrapper">
                                                                        {{ _("Includes:") }}<br>
                                                                        {{ _("Rehearsal Makeup") }}<br>
                                                                        {{ _("Bridal makeup at our salon") }}<br>
                                                                        {{ _("Makeup of 2 other people") }}<br>
                                                                        {{ _("Eyebrows shaping") }}
                                                                    </div>
                                                                </div>
                                                                <a href="{{ url('contact') }}" class="sc_button sc_button_square sc_button_style_filled sc_button_size_base odd">
                                                                    <div>
                                                                        <span>CONTACT US</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
	                                                    <div class="column-1_4 sc_column_item cu_block_11">
                                                            <div class="sc_column_item_inner">
                                                                <figure class="sc_image sc_image_shape_square">
                                                                    <img src="{{ static('img/bridal/bridal_2.jpg') }}" alt="" />
                                                                </figure>
                                                                <h4 class="sc_title sc_title_regular">CALM n’ SHINE</h4>
                                                                <div class="text_column content_element ">
                                                                    <div class="wrapper">
                                                                        {{ _("Includes:") }}<br>
                                                                        {{ _("Rehearsal Makeup") }}<br>
                                                                        {{ _("Bridal makeup at our salon") }}<br>
                                                                        {{ _("Makeup of 2 other people at our salon") }}<br>
                                                                        {{ _("Eyebrows shaping") }}<br>
                                                                        {{ _("Hydration and shining facial-treatment") }}
                                                                    </div>
                                                                </div>
                                                                <a href="{{ url('contact') }}" class="sc_button sc_button_square sc_button_style_filled sc_button_size_base odd">
                                                                    <div>
                                                                        <span>CONTACT US</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
	                                                    <div class="column-1_4 sc_column_item cu_block_11">
                                                            <div class="sc_column_item_inner">
                                                                <figure class="sc_image sc_image_shape_square">
                                                                    <img src="{{ static('img/bridal/bridal_3.jpg') }}" alt="" />
                                                                </figure>
                                                                <h4 class="sc_title sc_title_regular">DELUXE PACKAGE</h4>
                                                                <div class="text_column content_element ">
                                                                    <div class="wrapper">
                                                                        {{ _("Includes:") }}<br>
                                                                        {{ _("Rehearsal Makeup") }}<br>
                                                                        {{ _("Bridal makeup at our salon") }}<br>
                                                                        {{ _("Makeup of 2 other people at our salon") }}<br>
                                                                        {{ _("Eyebrows shaping") }}<br>
                                                                        {{ _("Hydration and shining face-treatment") }}<br>
                                                                        {{ _("Relax Massage with hot wax") }}<br>
                                                                        {{ _("Extention 3D eyelashes") }}
                                                                    </div>
                                                                </div>
                                                                <a href="{{ url('contact') }}" class="sc_button sc_button_square sc_button_style_filled sc_button_size_base odd">
                                                                    <div>
                                                                        <span>CONTACT US</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
	                                                    <div class="column-1_4 sc_column_item cu_block_11">
                                                            <div class="sc_column_item_inner">
                                                                <figure class="sc_image sc_image_shape_square">
                                                                    <img src="{{ static('img/bridal/bridal_4.jpg') }}" alt="" />
                                                                </figure>
                                                                <h4 class="sc_title sc_title_regular">DIAMOND PACKAGE</h4>
                                                                <div class="text_column content_element ">
                                                                    <div class="wrapper">
                                                                        {{ _("Includes:") }}<br>
                                                                        {{ _("Rehearsal Makeup") }}<br>
                                                                        {{ _("Bridal makeup at your place") }}<br>
                                                                        {{ _("Eyebrows shaping") }}<br>
	                                                                    {{ _("Extention 6D eyelashes") }}<br>
	                                                                    {{ _("Hydration and shining treatment for bride (Thalgo) and groom (Thalgo men)") }}<br>
	                                                                    {{ _("Relaxing massage with beeswax") }}<br>
                                                                    </div>
                                                                </div>
                                                                <a href="{{ url('contact') }}" class="sc_button sc_button_square sc_button_style_filled sc_button_size_base odd">
                                                                    <div>
                                                                        <span>CONTACT US</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sc_empty_space em_height_4">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
	                    {% include "base/counters.html" %}
	                    <div class="sc_row row sc_row-fluid">
                            <div class="column sc_column_container sc_col-sm-12">
                                <div class="sc_column-inner ">
                                    <div class="wrapper">
                                        <div class="sc_empty_space em_height_7-5">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                        <div class="sc_section sc_section_block aligncenter max_width cu_width-1100">
                                            <div class="sc_section_inner">
                                                <div class="sc_section_content_wrap">
                                                    <div id="sc_call_to_action_479" class="sc_call_to_action sc_call_to_action_style_1 sc_call_to_action_align_left">
                                                        <div class="columns_wrap">
                                                            <div class="sc_call_to_action_featured column-1_2">
                                                                <img  alt="Depositphotos_7888146_original.jpg" src="{{ static('img/bridal/bridal_what_we_do.jpg') }}">
                                                            </div>
                                                            <div class="sc_call_to_action_info column-1_2">
                                                                <h6 class="sc_call_to_action_subtitle sc_item_subtitle">Who We Are</h6>
                                                                <h2 class="sc_call_to_action_title sc_item_title">WHAT WE DO</h2>
                                                                <div class="sc_call_to_action_descr sc_item_descr">{{ _("We are here me and my qualified team to make sure that your special day is going to be just perfect. Contact us today to plan the best treatments for you, your husbant and your family and friends!") }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sc_empty_space em_height_7-5">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-sc-full-width="true" data-sc-full-width-init="false" class="sc_row row sc_row-fluid sc_custom_1459783303281">
                            <div class="column sc_column_container sc_col-sm-12">
                                <div class="sc_column-inner ">
                                    <div class="wrapper">
                                        <div class="sc_empty_space em_height_7-5">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                        <div id="sc_testimonials_082" class="sc_testimonials sc_testimonials_style_testimonials-2">
                                            <div class="sc_slider_swiper swiper-slider-container sc_slider_pagination sc_slider_pagination_bottom sc_slider_nocontrols" data-interval="6591" data-slides-per-view="3" data-slides-min-width="250">
                                                <div class="slides swiper-wrapper">
	                                                {% for bridal in bridals %}
		                                                <div class="swiper-slide" data-style="width:100%;">
	                                                        <div id="sc_testimonials_082_1" class="sc_testimonial_item">
	                                                          <img src="{{ bridal.image.url }}" alt="">
	                                                        </div>
	                                                    </div>
	                                                {% endfor %}
                                                </div>
                                                <div class="sc_slider_controls_wrap">
                                                    <a class="sc_slider_prev" href="#"></a>
                                                    <a class="sc_slider_next" href="#"></a>
                                                </div>
                                                <div class="sc_slider_pagination_wrap"></div>
                                            </div>
                                        </div>
                                        <div class="sc_empty_space em_height_3-2">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc_row-full-width"></div>
                        {% include "base/pink_banner.html" %}
                    </section>
                </article>
                <section class="related_wrap related_wrap_empty"></section>
            </div>
        </div>
    </div>

{% endblock %}


{% block extra_scripts %}
	<script type='text/javascript' src='{{ static('js/jquery/core.min.js') }}'></script>
	<script type='text/javascript' src='{{ static('js/widget.min.js') }}'></script>
	<script type='text/javascript' src='{{ static('js/tabs.min.js') }}'></script>
	<script type='text/javascript' src='{{ static('js/effect.min.js') }}'></script>
	<script type='text/javascript' src='{{ static('js/effect-fade.min.js') }}'></script>
{% endblock %}