{% extends 'base/index.html' %}

{% block body_classes %}contactus theme_skin_less scheme_original top_panel_show top_panel_above {% endblock %}
{% block header_classes %}top_panel_style_7 scheme_original {% endblock %}

{% block bridal %}
	<section class="top_panel_image" style="background-image:url('{{ static("img/contact/top_image.jpg") }}');">
	    <div class="top_panel_image_hover"></div>
	    <div class="top_panel_image_header">
	        <div class="top_panel_image_icon icon-book-open"></div>
	        <h1 class="top_panel_image_title">Contact Us</h1>
{#		    <div class="breadcrumbs">#}
{#                <span class="breadcrumbs_item">Bridal Deluxe Treatments</span>#}
{#            </div>#}
	    </div>
	</section>

	<div class="page_content_wrap page_paddings_yes">
        <div class="content_wrap">
            <div class="content">
                <article class="post_item post_item_single page">
                    <section class="post_content">
                        <div class="sc_row row sc_row-fluid">
                            <div class="column sc_column_container sc_col-sm-12">
                                <div class="sc_column-inner ">
                                    <div class="wrapper">
                                        <div class="sc_section sc_section_block cu_mrg_5">
                                            <div class="sc_section_inner">
                                                <h6 class="sc_section_subtitle sc_item_subtitle">Get In Touch</h6>
                                                <h2 class="sc_section_title sc_item_title line_hide">How to Find Us</h2>
                                                <div class="sc_section_content_wrap">
                                                    <div class="columns_wrap sc_columns columns_nofluid sc_align_center">
                                                        <div class="column-1_3 sc_column_item">
                                                            <h5 class="sc_title sc_title_regular sc_align_center">About us</h5>
                                                            <div class="text_column content_element ">
                                                                <div class="wrapper">
                                                                    <p>{{ _("In our Salon you will find treatments for face toning, hydration, for dark circles, body massages: relax massage, hot stones, cellulite and local thickness, sauna, wax and permanent hair removal, bridal make-up, eyebrow extension. Also product sale of BioAroma, Thalgo and Phytomere cosmetics for face and body and “Make me Up” and other make-up brands.") }}</p>
                                                                </div>
                                                            </div>
                                                            <div class="sc_empty_space em_height_3">
                                                                <span class="sc_empty_space_inner"></span>
                                                            </div>
                                                        </div>
                                                        <div class="column-1_3 sc_column_item">
                                                            <h5 class="sc_title sc_title_regular sc_align_center">Contact</h5>
                                                            <div class="text_column content_element ">
                                                                <div class="wrapper">
                                                                    <p>{{ ADDR }}<br/>
	                                                                    Email: <a href="mailto:{{ EMAIL }}">{{ EMAIL }}</a><br/>
	                                                                    Telephone: {{ TEL }}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="sc_empty_space em_height_3">
                                                                <span class="sc_empty_space_inner"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sc_empty_space em_height_1">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
	                                    <div class="map-wrapper">
											<div id="map"></div>
										</div>
{#                                        <div id="sc_googlemap_246" class="sc_googlemap" data-zoom="12" data-style="greyscale">#}
{#                                            <div id="sc_googlemap_246_1" class="sc_googlemap_marker" data-title="56-34 Waldron St Flushing, NY 11368, USA" data-description="56-34 Waldron St Flushing, NY 11368, USA" data-address="56-34 Waldron St Flushing, NY 11368, USA" data-latlng="" data-point="images/icon_pin.png"></div>#}
{#                                        </div>#}
                                        <div class="sc_empty_space em_height_3-7">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc_row row sc_row-fluid">
                            <div class="column sc_column_container sc_col-sm-12">
                                <div class="sc_column-inner ">
                                    <div class="wrapper">
                                        <div class="sc_section sc_section_block aligncenter max_width cu_width-770">
                                            <div class="sc_section_inner">
                                                <div class="sc_section_content_wrap">
                                                    <h2 class="sc_title sc_title_regular cu_mrg_5">have any questions?</h2>
                                                    <div id="sc_form_629_wrap" class="sc_form_wrap">
                                                        <div id="sc_form_629" class="sc_form sc_form_style_form_3">
                                                            <form method="post">
	                                                            {% csrf_token %}
                                                                <div class="sc_form_info">
	                                                                {% if messages(request) %}
														                <div class="row">
														                {% for message in messages(request) %}
																	        {% if 'form_success' in message.tags %}
																		        <div class="sc_form_item sc_form_field notice-success">
																		            <p>{{ message|safe }}</p>
																		        </div>
																	        {% elif 'form_error' in message.tags %}
																		        <div class="sc_form_item sc_form_field notice-fail">
																		            <p>{{ message|safe }}</p>
																		        </div>
																	        {% endif %}
																	    {% endfor %}
														                </div>
																	{% endif %}
                                                                    <div class="sc_form_item sc_form_field label_over">
                                                                        {{ contact_form.name.label_tag() }}
                                                                        {{ contact_form.name }}
                                                                    </div>
	                                                                <div class="sc_form_item sc_form_field label_over">
                                                                        {{ contact_form.email.label_tag() }}
                                                                        {{ contact_form.email }}
                                                                    </div>
                                                                    <div class="sc_form_item sc_form_field label_over">
                                                                        {{ contact_form.subject.label_tag() }}
                                                                        {{ contact_form.subject }}
                                                                    </div>
                                                                </div>
                                                                <div class="sc_form_item sc_form_message label_over">
                                                                        {{ contact_form.message.label_tag() }}
                                                                        {{ contact_form.message }}
                                                                    </div>
                                                                <div class="sc_form_item sc_form_button">
	                                                                <input type='submit' id='send_message' value='{{ _("Submit Form") }}' class="btn-custom">
{#                                                                    <button class="sc_button sc_button_style_filled sc_button_size_medium">#}
{#                                                                        <span class="overlay">#}
{#                                                                            <span class="first">Submit message</span>#}
{#                                                                            <span class="second">Submit message</span>#}
{#                                                                        </span>#}
{#                                                                    </button>#}
                                                                </div>
                                                                <div class="result sc_infobox"></div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>
                <section class="related_wrap related_wrap_empty"></section>
            </div>
        </div>
    </div>

{% endblock %}


{% block extra_scripts %}
<script>
function initMap() {
	let coords = {lat: 36.726091, lng: 24.447072};

	let map = new google.maps.Map(
		document.getElementById('map'),
		{
			zoom: 19,
			{# map center different cause of clip-path  #}
			{#center: {lat: 36.744100, lng: 24.423200},#}
			center: coords,
			gestureHandling: "cooperative",
			backgroundColor: "#66abf0",
		}
	);
	let marker = new google.maps.Marker({
		position: coords,
		map: map,
	});
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ settings.GOOGLE_MAPS_API_KEY }}&callback=initMap"></script>
{% endblock %}