{% extends 'base/index.html' %}

{% block body_classes %}services1 theme_skin_less scheme_original top_panel_show top_panel_above {% endblock %}
{% block header_classes %}top_panel_style_7 scheme_original {% endblock %}

{% block bridal %}
	<section class="top_panel_image" style="background-image:url('{{ static("img/man/top_image.jpg") }}');">
	    <div class="top_panel_image_hover"></div>
	    <div class="top_panel_image_header">
	        <div class="top_panel_image_icon icon-book-open"></div>
	        <h1 class="top_panel_image_title">ABOUT MEN</h1>
		    <div class="breadcrumbs">
                <span class="breadcrumbs_item">You can be perfect</span>
            </div>
	    </div>
	</section>

	<div class="page_content_wrap page_paddings_no">
        <div class="content_wrap">
            <div class="content">
                <article class="post_item post_item_single page">
                    <section class="post_content">
                        <div class="sc_row row sc_row-fluid">
                            <div class="column sc_column_container sc_col-sm-12">
                                <div class="sc_column-inner ">
                                    <div class="wrapper">
                                        <div class="sc_empty_space em_height_6">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                        <div class="sc_section sc_section_block aligncenter max_width cu_width-1110">
                                            <div class="sc_section_inner">
                                                <h6 class="sc_section_subtitle sc_item_subtitle">The best of the best</h6>
                                                <h2 class="sc_section_title sc_item_title line_hide">Just for you</h2>
                                                <div class="sc_section_content_wrap">
                                                    <div class="columns_wrap sc_columns columns_nofluid equal_height cu_mrg_1">
	                                                    <div class="column-1_4 sc_column_item cu_block_11">
                                                            <div class="sc_column_item_inner">
                                                                <figure class="sc_image sc_image_shape_square">
                                                                    <img src="{{ static('img/man/man_1.jpg') }}" alt="" />
                                                                </figure>
                                                                <h4 class="sc_title sc_title_regular">{{ _("Face and body treatment") }}</h4>
                                                                <div class="text_column content_element ">
                                                                    <div class="wrapper">
                                                                        <strong>{{ _("Thalgo men (for face):") }}</strong><br>
	                                                                      {{ _("Marine treatment (60'), Revitalizing blue weed which reliefs stressed skin.") }}<br><br>
                                                                        <strong>{{ _("Thalgo men (for body):") }}</strong><br>
	                                                                      {{ _("Marine massage (30'), Massage for stress relieve and wellness maintenance") }}
                                                                    </div>
                                                                </div>
                                                                <a href="{{ url('contact') }}" class="sc_button sc_button_square sc_button_style_filled sc_button_size_base odd">
                                                                    <div>
                                                                        <span>CONTACT US</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
	                                                    <div class="column-1_4 sc_column_item cu_block_11">
                                                            <div class="sc_column_item_inner">
                                                                <figure class="sc_image sc_image_shape_square">
                                                                    <img src="{{ static('img/man/man_2.jpg') }}" alt="" />
                                                                </figure>
                                                                <h4 class="sc_title sc_title_regular">{{ _("Face Wax") }}</h4>
                                                                <div class="text_column content_element ">
                                                                    <div class="wrapper">
                                                                        {{ _("Side burns") }}<br>
                                                                        {{ _("Nose") }}<br>
                                                                        {{ _("Brow Shaping") }}<br>
                                                                    </div>
                                                                </div>
                                                                <a href="{{ url('contact') }}" class="sc_button sc_button_square sc_button_style_filled sc_button_size_base odd">
                                                                    <div>
                                                                        <span>CONTACT US</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
	                                                    <div class="column-1_4 sc_column_item cu_block_11">
                                                            <div class="sc_column_item_inner">
                                                                <figure class="sc_image sc_image_shape_square">
                                                                    <img src="{{ static('img/man/man_3.jpg') }}" alt="" />
                                                                </figure>
                                                                <h4 class="sc_title sc_title_regular">{{ _("Body Wax") }}</h4>
                                                                <div class="text_column content_element ">
                                                                    <div class="wrapper">
	                                                                    {{ _("Stomach") }}<br>
	                                                                    {{ _("Full arm") }}<br>
	                                                                    {{ _("Half arm") }}<br>
	                                                                    {{ _("Underarms") }}<br>
	                                                                    {{ _("Back") }}<br>
	                                                                    {{ _("Chest") }}<br>
	                                                                    {{ _("Full leg") }}<br>
	                                                                    {{ _("Half leg") }}<br>
                                                                    </div>
                                                                </div>
                                                                <a href="{{ url('contact') }}" class="sc_button sc_button_square sc_button_style_filled sc_button_size_base odd">
                                                                    <div>
                                                                        <span>CONTACT US</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
	                                                    <div class="column-1_4 sc_column_item cu_block_11">
                                                            <div class="sc_column_item_inner">
                                                                <figure class="sc_image sc_image_shape_square">
                                                                    <img src="{{ static('img/man/man_4.jpg') }}" alt="" />
                                                                </figure>
                                                                <h4 class="sc_title sc_title_regular">{{ _("Nails") }}</h4>
                                                                <div class="text_column content_element ">
                                                                    <div class="wrapper">

                                                                    </div>
                                                                </div>
                                                                <a href="{{ url('contact') }}" class="sc_button sc_button_square sc_button_style_filled sc_button_size_base odd">
                                                                    <div>
                                                                        <span>CONTACT US</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sc_empty_space em_height_4">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
	                    {% include "base/counters.html" %}
	                    <div class="sc_row row sc_row-fluid">
                            <div class="column sc_column_container sc_col-sm-12">
                                <div class="sc_column-inner ">
                                    <div class="wrapper">
                                        <div class="sc_empty_space em_height_7-5">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                        <div class="sc_section sc_section_block aligncenter max_width cu_width-1100">
                                            <div class="sc_section_inner">
                                                <div class="sc_section_content_wrap">
                                                    <div id="sc_call_to_action_479" class="sc_call_to_action sc_call_to_action_style_1 sc_call_to_action_align_left">
                                                        <div class="columns_wrap">
                                                            <div class="sc_call_to_action_featured column-1_2">
                                                                <img  alt="Depositphotos_7888146_original.jpg" src="{{ static('img/bridal/bridal_what_we_do.jpg') }}">
                                                            </div>
                                                            <div class="sc_call_to_action_info column-1_2">
                                                                <h6 class="sc_call_to_action_subtitle sc_item_subtitle">Who We Are</h6>
                                                                <h2 class="sc_call_to_action_title sc_item_title">WHAT WE DO</h2>
                                                                <div class="sc_call_to_action_descr sc_item_descr">{{ _("Total care for waxing and beauty treatments for men. Contact us today!") }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sc_empty_space em_height_7-5">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% include "base/pink_banner.html" %}
                    </section>
                </article>
                <section class="related_wrap related_wrap_empty"></section>
            </div>
        </div>
    </div>

{% endblock %}


{% block extra_scripts %}
	<script type='text/javascript' src='{{ static('js/jquery/core.min.js') }}'></script>
	<script type='text/javascript' src='{{ static('js/widget.min.js') }}'></script>
	<script type='text/javascript' src='{{ static('js/tabs.min.js') }}'></script>
	<script type='text/javascript' src='{{ static('js/effect.min.js') }}'></script>
	<script type='text/javascript' src='{{ static('js/effect-fade.min.js') }}'></script>
{% endblock %}