{% extends 'base/index.html' %}

{% block body_classes %}home3 body_style_boxed scheme_original top_panel_show top_panel_above {% endblock %}
{% block extra_body_wrap %}{% endblock %}
{% block header_classes %}top_panel_style_6 scheme_original {% endblock %}


{% block massage %}
    <div class="page_content_wrap page_paddings_no">
        <div class="content_wrap">
            <div class="content">
                <article class="post_item post_item_single">
                    <section class="post_content">
                        <div class="sc_row row sc_row-fluid">
                            <div class="column sc_column_container sc_col-sm-12">
                                <div class="sc_column-inner ">
                                    <div class="wrapper">
                                        <div class="revslider_element content_element">
                                            <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
                                                <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" data-version="5.2.6">
                                                    <ul>
                                                        <li data-index="rs-8" data-transition="curtain-1" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="{{ static('img/massage/top_image.jpg') }}" data-delay="9000" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                                            <img src="{{ static('img/massage/top_image.jpg') }}" alt="" title="Rectangle 1 copy 17" width="1170" height="700" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                                            <div class="tp-caption black tp-resizeme" id="slide-8-layer-1" data-x="['center','center','center','center']" data-hoffset="['-260','-260','-100','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-60','-60','-152']" data-fontsize="['60','60','60','55']" data-width="465" data-height="91" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" data-transform_out="auto:auto;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="900" data-splitin="none" data-splitout="none" data-responsive_offset="on">Welcome to our </div>
                                                            <div class="tp-caption black tp-resizeme" id="slide-8-layer-2" data-x="['center','center','center','center']" data-hoffset="['-258','-258','-100','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-12','-12','-12','-67']" data-fontsize="['38','38','38','55']" data-lineheight="['38','38','38','55']" data-width="['none','none','none','600']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:2000;e:Power2.easeInOut;" data-transform_out="auto:auto;s:1000;" data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="900" data-splitin="none" data-splitout="none" data-responsive_offset="on">massage theraphy center </div>
{#                                                            <div class="tp-caption black tp-resizeme" id="slide-8-layer-3" data-x="['center','center','center','center']" data-hoffset="['-260','-260','-100','0']" data-y="['middle','middle','middle','middle']" data-voffset="['40','40','40','44']" data-fontsize="['15','15','15','20']" data-lineheight="['15','15','15','25']" data-width="['none','none','none','500']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" data-transform_out="auto:auto;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="900" data-splitin="none" data-splitout="none" data-responsive_offset="on">Build your wellness business with clean and elegant theme </div>#}
{#                                                            <div class="tp-caption black tp-resizeme" id="slide-8-layer-4" data-x="['center','center','center','center']" data-hoffset="['-260','-260','-100','0']" data-y="['middle','middle','middle','middle']" data-voffset="['115','115','115','137']" data-fontsize="['11','11','11','15']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;" data-style_hover="c:rgba(249, 163, 146, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);" data-transform_in="y:bottom;s:2000;e:Power2.easeInOut;" data-transform_out="auto:auto;s:1000;" data-start="900" data-splitin="none" data-splitout="none" data-responsive_offset="on">read more info </div>#}
                                                        </li>
                                                    </ul>
                                                    <div class="tp-bannertimer tp-bottom"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sc_empty_space em_height_8">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                        <div id="sc_blogger_435" class="sc_blogger layout_short_3 template_portfolio sc_blogger_horizontal">
                                            <h6 class="sc_blogger_subtitle sc_item_subtitle">Beauty comes inside the...</h6>
                                            <h2 class="sc_blogger_title sc_item_title">Salon De Beaute</h2>
                                            <div class="sc_blogger_descr sc_item_descr">A great variety of treatment just for your relax.<br>You deserve the best!</div>
                                            <div class="isotope_wrap" data-columns="3">
                                                <div class="isotope_item isotope_item_short isotope_item_short_3 isotope_column_3">
                                                    <div class="post_item post_item_short post_item_short_3">
                                                        <div class="post_content isotope_item_content ih-item colored">
                                                            <div class="post_featured img"><img alt="" src="{{ static('img/massage/boxes/1.jpg') }}"></div>
                                                            <div class="post_info_wrap info" style="padding-bottom:.8em;">
                                                                <div class="info-back">
	                                                                <h4 class="post_title">{{ _("Full Body Relaxing Massage") }}</h4>
	                                                                <ul class="post_title" style="font-family:Montserrat;font-size:16px;">
		                                                                <li>{{ _("with Essential oils - 45'") }}</li>
		                                                                <li>{{ _("with hot beeswax - 60'") }}</li>
	                                                                </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="isotope_item isotope_item_short isotope_item_short_3 isotope_column_3">
                                                    <div class="post_item post_item_short post_item_short_3	">
                                                        <div class="post_content isotope_item_content ih-item colored">
                                                            <div class="post_featured img">
                                                                <img alt="" src="{{ static('img/massage/boxes/2.jpg') }}">
                                                            </div>
                                                            <div class="post_info_wrap info">
                                                                <div class="info-back">
                                                                    <h4 class="post_title">{{ _("Marine Massage - 30'") }}</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="isotope_item isotope_item_short isotope_item_short_3 isotope_column_3">
                                                    <div class="post_item post_item_short post_item_short_3	">
                                                        <div class="post_content isotope_item_content ih-item colored">
                                                            <div class="post_featured img">
	                                                            <img alt="" src="{{ static('img/massage/boxes/3.jpg') }}">
                                                            </div>
                                                            <div class="post_info_wrap info">
                                                                <div class="info-back">
                                                                    <h4 class="post_title">{{ _("CELLULITE MASSAGE (Cups) - 30'") }}</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
	                                            <div class="isotope_item isotope_item_short isotope_item_short_3 isotope_column_3">
                                                    <div class="post_item post_item_short post_item_short_3	">
                                                        <div class="post_content isotope_item_content ih-item colored">
                                                            <div class="post_featured img">
	                                                            <img alt="" src="{{ static('img/massage/boxes/4.jpg') }}">
                                                            </div>
                                                            <div class="post_info_wrap info">
                                                                <div class="info-back">
                                                                    <h4 class="post_title">{{ _("Indiane massage rebalancing (INDOCEANE) - 30'") }}</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
	                                            <div class="isotope_item isotope_item_short isotope_item_short_3 isotope_column_3">
                                                    <div class="post_item post_item_short post_item_short_3	">
                                                        <div class="post_content isotope_item_content ih-item colored">
                                                            <div class="post_featured img">
	                                                            <img alt="" src="{{ static('img/massage/boxes/5.jpg') }}">
                                                            </div>
                                                            <div class="post_info_wrap info">
                                                                <div class="info-back">
                                                                    <h4 class="post_title">{{ _("Massage with warm sand pouch - 30'") }}</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
	                                            <div class="isotope_item isotope_item_short isotope_item_short_3 isotope_column_3">
                                                    <div class="post_item post_item_short post_item_short_3	">
                                                        <div class="post_content isotope_item_content ih-item colored">
                                                            <div class="post_featured img">
	                                                            <img alt="" src="{{ static('img/massage/boxes/6.jpg') }}">
                                                            </div>
                                                            <div class="post_info_wrap info">
                                                                <div class="info-back">
                                                                    <h4 class="post_title">DEEP TISSUE - 50'</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
	                                            <div class="isotope_item isotope_item_short isotope_item_short_3 isotope_column_3">
		                                            <div class="post_item post_item_short post_item_short_3	">
			                                            <div class="post_content isotope_item_content ih-item colored">
				                                            <div class="post_featured img">
					                                            <img alt="" src="{{ static('img/massage/boxes/7.jpg') }}">
				                                            </div>
				                                            <div class="post_info_wrap info">
					                                            <div class="info-back">
						                                            <h4 class="post_title">{{ _("Slimcup massage - 30'") }}</h4>
					                                            </div>
				                                            </div>
			                                            </div>
		                                            </div>
	                                            </div>
	                                            <div class="isotope_item isotope_item_short isotope_item_short_3 isotope_column_3">
		                                            <div class="post_item post_item_short post_item_short_3	">
			                                            <div class="post_content isotope_item_content ih-item colored">
				                                            <div class="post_featured img">
					                                            <img alt="" src="{{ static('img/massage/boxes/8.jpg') }}">
				                                            </div>
				                                            <div class="post_info_wrap info">
					                                            <div class="info-back">
						                                            <h4 class="post_title">{{ _("Deep tissue massage (massage balls) - 30'") }}</h4>
					                                            </div>
				                                            </div>
			                                            </div>
		                                            </div>
	                                            </div>
	                                            <div class="isotope_item isotope_item_short isotope_item_short_3 isotope_column_3">
		                                            <div class="post_item post_item_short post_item_short_3	">
			                                            <div class="post_content isotope_item_content ih-item colored">
				                                            <div class="post_featured img">
					                                            <img alt="" src="{{ static('img/massage/boxes/9.jpg') }}">
				                                            </div>
				                                            <div class="post_info_wrap info">
					                                            <div class="info-back">
						                                            <h4 class="post_title">{{ _("Massage with rock crystals - 30'") }}</h4>
					                                            </div>
				                                            </div>
			                                            </div>
		                                            </div>
	                                            </div>
                                            </div>
                                        </div>
{#                                        <div class="sc_empty_space em_height_5">#}
{#                                            <span class="sc_empty_space_inner"></span>#}
{#                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc_row-full-width"></div>

	                    {% include "base/products_we_use_banner.html" %}
	                    {% include "base/products_we_sell_banner.html" %}

	                    <div class="sc_row row sc_row-fluid">
                            <div class="column sc_column_container sc_col-sm-12">
                                <div class="sc_column-inner ">
                                    <div class="wrapper">
                                        <div class="sc_empty_space em_height_8">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                        <h1 class="sc_title sc_title_regular sc_align_center sc_item_subtitle cu_block_15">Our Gallery</h1>
                                        <h1 class="sc_title sc_title_regular sc_align_center cu_text_c">WHY WE ARE THE BEST</h1>
                                        <span class="sc_icon icon-line aligncenter cu_block_16"></span>
                                        <article class="myportfolio-container minimal-light" id="esg-grid-3-1-wrap">
                                            <div id="esg-grid-3-1" class="esg-grid">
{#                                                <article class="esg-filters esg-singlefilters">#}
{#                                                    <div class="esg-filter-wrapper esg-fgc-3">#}
{#                                                        <div class="esg-filterbutton selected esg-allfilter" data-filter="filterall" data-fid="-1">#}
{#                                                            <span>Filter - All</span>#}
{#                                                        </div>#}
{#                                                        <div class="esg-filterbutton" data-fid="49" data-pid="34" data-filter="filter-deep-tissue">#}
{#                                                            <span>Deep tissue</span>#}
{#                                                            <span class="esg-filter-checked">#}
{#                                                                <i class="eg-icon-ok-1"></i>#}
{#                                                            </span>#}
{#                                                        </div>#}
{#                                                        <div class="esg-filterbutton" data-fid="50" data-pid="34" data-filter="filter-massage-therapy">#}
{#                                                            <span>Massage therapy</span>#}
{#                                                            <span class="esg-filter-checked">#}
{#                                                                <i class="eg-icon-ok-1"></i>#}
{#                                                            </span>#}
{#                                                        </div>#}
{#                                                        <div class="esg-filterbutton" data-fid="51" data-pid="34" data-filter="filter-sports-massage">#}
{#                                                            <span>Sports massage</span>#}
{#                                                            <span class="esg-filter-checked">#}
{#                                                                <i class="eg-icon-ok-1"></i>#}
{#                                                            </span>#}
{#                                                        </div>#}
{#                                                        <div class="esg-filterbutton" data-fid="52" data-pid="34" data-filter="filter-swedish-massage">#}
{#                                                            <span>Swedish massage</span>#}
{#                                                            <span class="esg-filter-checked">#}
{#                                                                <i class="eg-icon-ok-1"></i>#}
{#                                                            </span>#}
{#                                                        </div>#}
{#                                                        <div class="eg-clearfix"></div>#}
{#                                                    </div>#}
{#                                                </article>#}
                                                <div class="esg-clear-no-height"></div>
                                                <ul>
                                                    <li class="filterall filter-gallery eg-washington-massage-wrapper eg-post-id-209" data-date="1459261695" data-cobblesw="1" data-cobblesh="1">
                                                        <div class="esg-media-cover-wrapper">
                                                            <div class="esg-entry-media"><img src="{{ static('img/massage/mass_gallery/1.jpg') }}" alt=""></div>
                                                        </div>
                                                    </li>
                                                    <li class="filterall filter-gallery eg-washington-massage-wrapper eg-post-id-211" data-date="1459261777" data-cobblesw="1" data-cobblesh="1">
                                                        <div class="esg-media-cover-wrapper">
                                                            <div class="esg-entry-media"><img src="{{ static('img/massage/mass_gallery/2.jpg') }}" alt=""></div>
                                                        </div>
                                                    </li>
                                                    <li class="filterall filter-gallery eg-washington-massage-wrapper eg-post-id-214" data-date="1459261918" data-cobblesw="2" data-cobblesh="1">
                                                        <div class="esg-media-cover-wrapper">
                                                            <div class="esg-entry-media"><img src="{{ static('img/massage/mass_gallery/3.jpg') }}" alt=""></div>
                                                        </div>
                                                    </li>
                                                    <li class="filterall filter-gallery eg-washington-massage-wrapper eg-post-id-216" data-date="1459261977" data-cobblesw="1" data-cobblesh="1">
                                                        <div class="esg-media-cover-wrapper">
                                                            <div class="esg-entry-media"><img src="{{ static('img/massage/mass_gallery/4.jpg') }}" alt=""></div>
                                                        </div>
                                                    </li>

                                                    <li class="filterall filter-gallery eg-washington-massage-wrapper eg-post-id-219" data-date="1459262022" data-cobblesw="2" data-cobblesh="1">
                                                        <div class="esg-media-cover-wrapper">
                                                            <div class="esg-entry-media"><img src="{{ static('img/massage/mass_gallery/5.jpg') }}" alt=""></div>
                                                        </div>
                                                    </li>
                                                    <li class="filterall filter-gallery eg-washington-massage-wrapper eg-post-id-221" data-date="1459262091" data-cobblesw="1" data-cobblesh="1">
                                                        <div class="esg-media-cover-wrapper">
                                                            <div class="esg-entry-media"><img src="{{ static('img/massage/mass_gallery/6.jpg') }}" alt=""></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </article>
                                        <div class="clear"></div>
                                        <div class="sc_empty_space em_height_6-5">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc_row-full-width"></div>
{#                        <div data-sc-full-width="true" data-sc-full-width-init="false" class="sc_row row sc_row-fluid sc_custom_1459776057240 inverse_colors">#}
{#                            <div class="column sc_column_container sc_col-sm-12">#}
{#                                <div class="sc_column-inner ">#}
{#                                    <div class="wrapper">#}
{#                                        <div class="sc_empty_space em_height_7-3">#}
{#                                            <span class="sc_empty_space_inner"></span>#}
{#                                        </div>#}
{#                                        <div class="sc_section sc_section_block aligncenter max_width">#}
{#                                            <div class="sc_section_inner">#}
{#                                                <h6 class="sc_section_subtitle sc_item_subtitle">Form for</h6>#}
{#                                                <h2 class="sc_section_title sc_item_title line_hide">free consultation</h2>#}
{#                                                <div class="sc_section_content_wrap">#}
{#                                                    <div id="sc_form_261_wrap" class="sc_form_wrap">#}
{#                                                        <div id="sc_form_261" class="sc_form sc_form_style_form_1">#}
{#                                                            <form id="sc_form_261_form" data-formtype="form_1" method="post" action="includes/sendmail.php">#}
{#                                                                <div class="sc_form_info">#}
{#                                                                    <div class="sc_form_item sc_form_field label_over">#}
{#                                                                        <label class="required" for="sc_form_username">Name</label>#}
{#                                                                        <input id="sc_form_username" type="text" name="username" placeholder="Name *">#}
{#                                                                    </div>#}
{#                                                                    <div class="sc_form_item sc_form_field label_over">#}
{#                                                                        <label class="required" for="sc_form_email">E-mail</label>#}
{#                                                                        <input id="sc_form_email" type="text" name="email" placeholder="E-mail *">#}
{#                                                                    </div>#}
{#                                                                    <div class="sc_form_item sc_form_field label_over">#}
{#                                                                        <label class="required" for="sc_form_subj">Subject</label>#}
{#                                                                        <input id="sc_form_subj" type="text" name="subject" placeholder="Subject">#}
{#                                                                    </div>#}
{#                                                                </div>#}
{#                                                                <div class="sc_form_item sc_form_message label_over">#}
{#                                                                    <label class="required" for="sc_form_message">Message</label>#}
{#                                                                    <textarea id="sc_form_message" name="message" placeholder="Message"></textarea>#}
{#                                                                </div>#}
{#                                                                <div class="sc_form_item sc_form_button">#}
{#                                                                    <button class="sc_button sc_button_style_filled sc_button_size_medium">#}
{#                                                                        <span class="overlay">#}
{#                                                                            <span class="first">Submit message</span>#}
{#                                                                            <span class="second">Submit message</span>#}
{#                                                                        </span>#}
{#                                                                    </button>#}
{#                                                                </div>#}
{#                                                                <div class="result sc_infobox"></div>#}
{#                                                            </form>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="sc_empty_space em_height_7-3">#}
{#                                            <span class="sc_empty_space_inner"></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="sc_row-full-width"></div>#}
                    </section>
                </article>
                <section class="related_wrap related_wrap_empty"></section>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_styles %}
		{#	<link rel='stylesheet' href='{{ static('css/tooltipster.css') }}' type='text/css'>#}
		<link rel='stylesheet' href='{{ static('css/esg.settings.css') }}' type='text/css'>
		<link rel='stylesheet' href='{{ static('css/rev.settings.css') }}' type='text/css'>
{#		<link rel='stylesheet' href='{{ static('css/fontello.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/style.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/core.animation.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/shortcodes.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/skin.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/custom-style.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/responsive.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/skin.responsive.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/custom.responsive.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/grid.layout.min.css') }}' type='text/css'>#}
		<link rel='stylesheet' href='{{ static('css/core.portfolio.css') }}' type='text/css'>
	    <link rel='stylesheet' href='{{ static('css/swiper.css') }}' type='text/css'>
	    <link rel='stylesheet' href='{{ static('css/lightbox.css') }}' type='text/css'>
{% endblock %}

{% block extra_scripts %}
{#        <script type='text/javascript' src='{{ static('js/jquery.fancybox.min.js') }}'></script>#}
        <script type='text/javascript' src='{{ static('js/lightbox.js') }}'></script>
	    <script type='text/javascript' src='{{ static('js/jquery.themepunch.tools.min.js') }}'></script>
	    <script type='text/javascript' src='{{ static('js/jquery.themepunch.essential.min.js') }}'></script>
	    <script type='text/javascript' src='{{ static('js/jquery.themepunch.revolution.min.js') }}'></script>
	    <script type="text/javascript" src="{{ static('js/revolution.extension.slideanims.min.js') }}"></script>
	    <script type="text/javascript" src="{{ static('js/revolution.extension.actions.min.js') }}"></script>
	    <script type="text/javascript" src="{{ static('js/revolution.extension.layeranimation.min.js') }}"></script>
	    <script type="text/javascript" src="{{ static('js/revolution.extension.navigation.min.js') }}"></script>
{#		<script type='text/javascript' src='{{ static('js/modernizr.min.js') }}'></script>#}
{#		<script type='text/javascript' src='{{ static('js/my-custom.js') }}'></script>#}
{#        <script type='text/javascript' src='{{ static ('js/custom.js') }}'></script>#}
{#        <script type='text/javascript' src='{{ static('js/superfish.js') }}'></script>#}
{#        <script type='text/javascript' src='{{ static('js/jquery.slidemenu.js') }}'></script>#}
{#        <script type='text/javascript' src='{{ static('js/core.utils.js') }}'></script>#}
{#        <script type='text/javascript' src='{{ static('js/core.init.js') }}'></script>#}
{#        <script type='text/javascript' src='{{ static('js/theme.init.js') }}'></script>#}
{#	    <script type='text/javascript' src='{{ static('js/theme.shortcodes.js') }}'></script>#}
{#		<script type='text/javascript' src='{{ static('js/grid.layout.min.js') }}'></script>#}
{#	    <script type="text/javascript" src="{{ static('js/swiper.js') }}"></script>#}
{#        <script type='text/javascript' src='{{ static('js/isotope.min.js') }}'></script>#}
{% endblock %}
