{% extends 'base/index.html' %}

{% block body_classes %}home scheme_original top_panel_show top_panel_above {% endblock %}
{% block extra_body_wrap %}{% endblock %}
{% block header_classes %}top_panel_style_4 scheme_original {% endblock %}


{% block treatments %}
	<section class="slider_wrap slider_fullwide slider_engine_revo slider_alias_home-1">
        <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
            <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" data-version="5.2.6">
                <ul>
                    <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/1-1-100x50.jpg" data-delay="9000" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <img src="{{ static('img/treatments/slider_1.jpg') }}" alt="" title="1" width="1920" height="758" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <div class="tp-caption tp-resizeme" id="slide-1-layer-5" data-x="['center','center','center','center']" data-hoffset="['0','0','0','1']" data-y="['middle','middle','middle','middle']" data-voffset="['-117','-117','-117','-167']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1200;e:Power2.easeInOut;" data-transform_out="auto:auto;s:1000;" data-start="1000" data-responsive_offset="on">
                            <img src="{{ static('img/Vector-Smart-Object-6.png') }}" alt="" width="169" height="20" data-ww="['169px','169px','169px','169px']" data-hh="['20px','20px','20px','20px']" data-no-retina>
                        </div>
                        <div class="tp-caption black tp-resizeme" id="slide-1-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','6']" data-y="['middle','middle','middle','middle']" data-voffset="['-67','-67','-67','-123']" data-fontsize="['68','68','68','55']" data-lineheight="['90','90','90','55']" data-width="['465','465','465','466']" data-height="['91','91','91','none']" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">Body Treatments for you</div>
                        <div class="tp-caption black tp-resizeme" id="slide-1-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','-1']" data-y="['middle','middle','middle','middle']" data-voffset="['-5','-5','-5','-37']" data-fontsize="['68','68','60','55']" data-lineheight="['68','68','60','55']" data-width="['none','none','none','600']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">SALON DE BEAUTE</div>
                        <div class="tp-caption black tp-resizeme" id="slide-1-layer-3" data-x="['center','center','center','center']" data-hoffset="['1','1','1','3']" data-y="['middle','middle','middle','middle']" data-voffset="['63','63','63','70']" data-fontsize="['17','17','17','20']" data-lineheight="['30','30','30','25']" data-width="['none','none','none','550']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:2500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">Give yourself a moment to relax. Find a moment to rejuvenate your body</div>
{#                        <div class="tp-caption black tp-resizeme" id="slide-1-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','1']" data-y="['middle','middle','middle','middle']" data-voffset="['142','142','142','163']" data-fontsize="['11','11','11','15']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;" data-style_hover="c:rgba(249, 163, 146, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);" data-transform_in="y:50px;opacity:0;s:3000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;" data-start="1000" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"booking.html","delay":""}]' data-responsive_offset="on">make an appointment </div>#}
                    </li>
                    <li data-index="rs-4" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/3-2-100x50.jpg" data-delay="9000" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <img src="{{ static('img/treatments/slider_2.jpg') }}" alt="" title="3" width="1920" height="758" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <div class="tp-caption tp-resizeme" id="slide-4-layer-5" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-117','-117','-117','-173']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1200;e:Power2.easeInOut;" data-transform_out="auto:auto;s:1000;" data-start="1000" data-responsive_offset="on">
                            <img src="{{ static('img/Vector-Smart-Object-6.png') }}" alt="" width="169" height="20" data-ww="['169px','169px','169px','169px']" data-hh="['20px','20px','20px','20px']" data-no-retina>
                        </div>
                        <div class="tp-caption black tp-resizeme" id="slide-4-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-67','-67','-67','-130']" data-fontsize="['68','68','68','55']" data-lineheight="['90','90','90','55']" data-width="['465','465','465','466']" data-height="['91','91','91','none']" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">Face treatments</div>
                        <div class="tp-caption black tp-resizeme" id="slide-4-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-5','-5','-5','-40']" data-fontsize="['68','68','60','55']" data-lineheight="['68','68','60','55']" data-width="['none','none','none','600']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">SESSIONS OF BEAUTY</div>
                        <div class="tp-caption black tp-resizeme" id="slide-4-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['61','61','61','61']" data-fontsize="['17','17','17','20']" data-lineheight="['30','30','30','25']" data-width="['none','none','none','600']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:2500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">You owe it to yourself. Just a click away</div>
{#                        <div class="tp-caption black tp-resizeme" id="slide-4-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['142','142','142','142']" data-fontsize="['11','11','11','15']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;" data-style_hover="c:rgba(249, 163, 146, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);" data-transform_in="y:50px;opacity:0;s:3000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;" data-start="1000" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"https:\/\/themeforest.net\/user\/themerex\/portfolio?term=jacqueline","delay":""}]' data-responsive_offset="on">Purchase Template </div>#}
                    </li>
{#                    <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/2-3-100x50.jpg" data-delay="9000" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">#}
{#                        <img src="images/1170x700.jpg" alt="" title="2" width="1920" height="758" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>#}
{#                        <div class="tp-caption tp-resizeme" id="slide-3-layer-5" data-x="['center','center','center','center']" data-hoffset="['-200','-200','-150','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-158','-158','-158','-118']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1200;e:Power2.easeInOut;" data-transform_out="auto:auto;s:1000;" data-start="1000" data-responsive_offset="on">#}
{#                            <img src="images/Vector-Smart-Object-6.png" alt="" width="169" height="20" data-ww="['169px','169px','169px','169px']" data-hh="['20px','20px','20px','20px']" data-no-retina>#}
{#                        </div>#}
{#                        <div class="tp-caption black tp-resizeme" id="slide-3-layer-1" data-x="['center','center','center','center']" data-hoffset="['-200','-200','-150','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-107','-107','-107','-79']" data-fontsize="['68','68','68','55']" data-lineheight="['90','90','90','55']" data-width="['465','465','465','466']" data-height="['91','91','91','none']" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">Modern and attractive </div>#}
{#                        <div class="tp-caption black tp-resizeme" id="slide-3-layer-2" data-x="['center','center','center','center']" data-hoffset="['-200','-200','-150','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-45','-45','-45','-24']" data-fontsize="['68','68','60','55']" data-lineheight="['68','68','60','55']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">HTML Template </div>#}
{#                        <div class="tp-caption black tp-resizeme" id="slide-3-layer-3" data-x="['center','center','center','center']" data-hoffset="['-200','-200','-150','0']" data-y="['middle','middle','middle','middle']" data-voffset="['23','23','23','43']" data-fontsize="['17','17','17','20']" data-lineheight="['30','30','30','25']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:2500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">Build your wellness business with clean and elegant template </div>#}
{#                        <div class="tp-caption black tp-resizeme" id="slide-3-layer-4" data-x="['center','center','center','center']" data-hoffset="['-200','-200','-150','0']" data-y="['middle','middle','middle','middle']" data-voffset="['102','102','102','127']" data-fontsize="['11','11','11','15']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;" data-style_hover="c:rgba(249, 163, 146, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);" data-transform_in="y:50px;opacity:0;s:3000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;" data-start="1000" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"https:\/\/themeforest.net\/user\/themerex\/portfolio","delay":""}]' data-responsive_offset="on">read more info </div>#}
{#                    </li>#}
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
    </section>
    <div class="page_content_wrap page_paddings_no">
        <div class="content_wrap">
            <div class="content">
                <article class="post_item post_item_single page">
                    <section class="post_content">
                        <div data-sc-full-width="true" data-sc-full-width-init="false" class="sc_row row sc_custom_1459259915855">
                            <div class="column sc_column_container sc_col-sm-12">
                                <div class="sc_column-inner ">
                                    <div class="wrapper">
                                        <div class="sc_empty_space em_height_8">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                        <div id="sc_services_809_wrap" class="sc_services_wrap">
                                            <div id="sc_services_809" class="sc_services sc_services_style_services-1 sc_services_type_images cu_fullwidth">
                                                <h6 class="sc_services_subtitle sc_item_subtitle">Welcome to us</h6>
                                                <h2 class="sc_services_title sc_item_title">THE BEST TREATMENTS</h2>
                                                <div class="sc_services_descr sc_item_descr">You deserve only the best</div>
                                                <div class="sc_columns columns_wrap">
                                                    <div class="column-1_3 column_padding_bottom">
                                                        <div id="sc_services_809_1" class="sc_services_item">
                                                            <div class="sc_services_item_featured post_featured">
                                                                <div class="post_thumb">
                                                                    <a class="hover_icon hover_icon_link" href="{{ url('contact') }}">
                                                                        <img alt="" src="{{ static('img/treatments/three_boxes/box_1.jpg') }}">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="sc_services_item_content">
                                                                <div class="sc_services_item_category">
                                                                    <a href="{{ url('contact') }}" rel="tag">Face treatments</a>
                                                                </div>
                                                                <h4 class="sc_services_item_title">
                                                                    <a href="{{ url('contact') }}">THALGO</a>
                                                                </h4>
                                                                <div class="sc_services_item_description">
                                                                    <a href="{{ url('contact') }}" class="sc_services_item_readmore sc_button sc_button_style_filled sc_button_size_medium">
                                                                        <div>
                                                                            <span class="first">Book Now</span>
                                                                            <span class="second">Book Now</span>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
{#                                                    <div class="column-1_3 column_padding_bottom">#}
{#                                                        <div id="sc_services_809_2" class="sc_services_item">#}
{#                                                            <div class="sc_services_item_featured post_featured">#}
{#                                                                <div class="post_thumb">#}
{#                                                                    <a class="hover_icon hover_icon_link" href="{{ url('contact') }}">#}
{#                                                                        <img alt="" src="{{ static('img/treatments/three_boxes/box_2.jpg') }}">#}
{#                                                                    </a>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                            <div class="sc_services_item_content">#}
{#                                                                <div class="sc_services_item_category">#}
{#                                                                    <a href="{{ url('contact') }}" rel="tag">Olive oil and herb cosmetics from Crete</a>#}
{#                                                                </div>#}
{#                                                                <h4 class="sc_services_item_title">#}
{#                                                                    <a href="{{ url('contact') }}">BIO AROMA</a>#}
{#                                                                </h4>#}
{#                                                                <div class="sc_services_item_description">#}
{#                                                                    <a href="{{ url('contact') }}" class="sc_services_item_readmore sc_button sc_button_style_filled sc_button_size_medium">#}
{#                                                                        <div>#}
{#                                                                            <span class="first">Book Now</span>#}
{#                                                                            <span class="second">Book Now</span>#}
{#                                                                        </div>#}
{#                                                                    </a>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                    </div>#}
                                                    <div class="column-1_3 column_padding_bottom">
                                                        <div id="sc_services_809_2" class="sc_services_item">
                                                            <div class="sc_services_item_featured post_featured">
                                                                <div class="post_thumb">
                                                                    <a class="hover_icon hover_icon_link" href="{{ url('contact') }}">
                                                                        <img alt="" src="{{ static('img/treatments/three_boxes/box_3.jpg') }}">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="sc_services_item_content">
                                                                <div class="sc_services_item_category">
                                                                    <a href="{{ url('contact') }}" rel="tag">Naturally the best</a>
                                                                </div>
                                                                <h4 class="sc_services_item_title">
                                                                    <a href="{{ url('contact') }}">OLIVELIA</a>
                                                                </h4>
                                                                <div class="sc_services_item_description">
                                                                    <a href="{{ url('contact') }}" class="sc_services_item_readmore sc_button sc_button_style_filled sc_button_size_medium">
                                                                        <div>
                                                                            <span class="first">Book Now</span>
                                                                            <span class="second">Book Now</span>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sc_empty_space em_height_6">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc_row-full-width"></div>
                        <div data-sc-full-width="true" data-sc-full-width-init="false" data-sc-stretch-content="true" class="sc_row row sc_row-no-padding">
                            <div class="column sc_column_container sc_col-sm-12">
                                <div class="sc_column-inner ">
                                    <div class="wrapper">
                                        <div class="sc_promo custom_promo_services sc_promo_size_large">
                                            <div class="sc_promo_inner">
                                                <div class="sc_promo_image odd3"></div>
                                                <div class="sc_promo_block sc_align_left cu_halfwidth cu_fl_R">
                                                    <div class="sc_promo_block_inner cu_nopadds">
                                                        <div class="sc_promo_content">
                                                            <div class="sc_services_wrap">
                                                                <div class="sc_services sc_services_style_services-2 sc_services_type_icons cu_fullwidth">
                                                                    <div class="sc_columns columns_wrap">
                                                                        <div class="column-1_2 column_padding_bottom">
                                                                            <div class="sc_services_item">
                                                                                <a href="{{ url('contact') }}">
                                                                                    <span class="sc_icon icon-massage4"></span>
                                                                                </a>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <a href="{{ url('contact') }}">SOURCE MARINE HYDRATION</a>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
                                                                                        <p>{{ _("Deep hydration with seve marine.") }}</p>
	                                                                                    <br>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
	                                                                    <div class="column-1_2 column_padding_bottom">
                                                                            <div class="sc_services_item">
                                                                                <a href="{{ url('contact') }}">
                                                                                    <span class="sc_icon icon-chairs16"></span>
                                                                                </a>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <a href="{{ url('contact') }}">SPIRULINE BOOST</a>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
	                                                                                    <p>{{ _("Wrinkle smoothing & Reactivation.") }}</p>
	                                                                                    <br>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="column-1_2 column_padding_bottom">
                                                                            <div class="sc_services_item">
                                                                                <a href="{{ url('contact') }}">
                                                                                    <span class="sc_icon icon-relax43"></span>
                                                                                </a>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <a href="{{ url('contact') }}">COLLAGEN</a>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
	                                                                                    <p>{{ _("Smooths the first wrinkles.") }}</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="column-1_2 column_padding_bottom">
                                                                            <div class="sc_services_item">
                                                                                <a href="{{ url('contact') }}">
                                                                                    <span class="sc_icon icon-sport161"></span>
                                                                                </a>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <a href="{{ url('contact') }}">HYALURONIC</a>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
	                                                                                    <p>{{ _("Smooths and fills wrinkles.") }}</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
	                                                                    <div class="column-1_2 column_padding_bottom">
                                                                            <div class="sc_services_item">
                                                                                <a href="{{ url('contact') }}">
                                                                                    <span class="sc_icon icon-massage4"></span>
                                                                                </a>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <a href="{{ url('contact') }}">Silicium Marin</a>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
	                                                                                    <p>{{ _("Lifting and firming (super lift).") }}</p>
	                                                                                    <br>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
	                                                                    <div class="column-1_2 column_padding_bottom">
                                                                            <div class="sc_services_item">
                                                                                <a href="{{ url('contact') }}">
                                                                                    <span class="sc_icon icon-massage4"></span>
                                                                                </a>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <a href="{{ url('contact') }}">Prodige De Ocean</a>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
	                                                                                    <p>{{ _("Extra rejuvenating treatment- results after 48 hours.") }}</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc_row-full-width"></div>

	                    {% include "base/products_we_sell_banner.html" %}

                        <div data-sc-full-width="true" data-sc-full-width-init="false" data-sc-stretch-content="true" class="sc_row row sc_row-no-padding">
                            <div class="column sc_column_container sc_col-sm-12">
                                <div class="sc_column-inner ">
                                    <div class="wrapper">
                                        <div class="sc_promo custom_promo_services sc_promo_size_large">
                                            <div class="sc_promo_inner">
                                                <div class="sc_promo_image odd2"></div>
                                                <div class="sc_promo_block sc_align_left cu_halfwidth cu_fl_R">
                                                    <div class="sc_promo_block_inner cu_nopadds">
                                                        <div class="sc_promo_content">
                                                            <div class="sc_services_wrap">
                                                                <div class="sc_services sc_services_style_services-2 sc_services_type_icons cu_fullwidth">
                                                                    <div class="sc_columns columns_wrap">
                                                                        <div class="column-1_2 column_padding_bottom">
                                                                            <div class="sc_services_item">
                                                                                <a href="{{ url('contact') }}">
                                                                                    <span class="sc_icon icon-massage4"></span>
                                                                                </a>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <a href="{{ url('contact') }}">CHOCOLATE (20+)</a>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
                                                                                        <p>{{ _("Antiwrinkle treatment based on cacao for all skin types.") }}</p>
	                                                                                    <br>
	                                                                                    <br>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="column-1_2 column_padding_bottom">
                                                                            <div class="sc_services_item">
                                                                                <a href="{{ url('contact') }}">
                                                                                    <span class="sc_icon icon-chairs16"></span>
                                                                                </a>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <a href="{{ url('contact') }}">BOTOX LIKE TREATMENT (30+)</a>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
	                                                                                    <p>{{ _("Reduces expression lines, increases the elasticity and stimulates natural collagen.") }}</p>
	                                                                                    <br>
	                                                                                    <br>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="column-1_2 column_padding_bottom">
                                                                            <div class="sc_services_item">
                                                                                <a href="{{ url('contact') }}">
                                                                                    <span class="sc_icon icon-relax43"></span>
                                                                                </a>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <a href="{{ url('contact') }}">FACE LIFT</a>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
	                                                                                    <p>{{ _("Based on natural active marine and herbal ingredients. Helps to fight slack and tired skin. Flash lifting effect.") }}</p>
	                                                                                    <br>
	                                                                                    <br>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="column-1_2 column_padding_bottom">
                                                                            <div class="sc_services_item">
                                                                                <a href="{{ url('contact') }}">
                                                                                    <span class="sc_icon icon-sport161"></span>
                                                                                </a>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <a href="{{ url('contact') }}">FRUITS ACIDS - AHAS (35+)</a>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
	                                                                                    <p>{{ _("Repairing and rejuvenating treatment. Removes dead cells, impurities, discolorations, acne marks.") }}</p>
	                                                                                    <br>
	                                                                                    <br>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
	                                                                      <div class="column-1_2 column_padding_bottom">
                                                                            <div class="sc_services_item">
                                                                                <a href="{{ url('contact') }}">
                                                                                    <span class="sc_icon icon-massage4"></span>
                                                                                </a>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <a href="{{ url('contact') }}">LUMINANCE PEARL TREATMENT (30+)</a>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
	                                                                                    <p>{{ _("Luxurius, antiaging, brightening, firming with pearls, diamonds and powerfull antioxidants.") }}</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
	                                                                      <div class="column-1_2 column_padding_bottom">
                                                                            <div class="sc_services_item">
                                                                                <a href="{{ url('contact') }}">
                                                                                    <span class="sc_icon icon-massage4"></span>
                                                                                </a>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <a href="{{ url('contact') }}">MESOTHERAPY (WITH DERMAROLLER ONE USE) (30+)</a>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
	                                                                                    <p>{{ _("(Non injectable treatment ) With active serums for antiaging and lifting.") }}</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
	                                                                      <div class="column-1_2 column_padding_bottom">
                                                                            <div class="sc_services_item">
                                                                                <a href="{{ url('contact') }}">
                                                                                    <span class="sc_icon icon-massage4"></span>
                                                                                </a>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <a href="{{ url('contact') }}">HERBAL PEELING LIGHT TREATMENT (30+)</a>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
	                                                                                    <p>{{ _("Based on fresh water sponge, natural extracts and algae. Deeply cleans skin, excess sebum and minimizes dead cells.") }}</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
	                                                                      <div class="column-1_2 column_padding_bottom">
                                                                            <div class="sc_services_item">
                                                                                <a href="{{ url('contact') }}">
                                                                                    <span class="sc_icon icon-massage4"></span>
                                                                                </a>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <a href="{{ url('contact') }}">ACNE PRONE</a>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
	                                                                                    <p>{{ _("(For oily skin) Cleanses and purifies problematic oily skin with imperfections.") }}</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
	                                                                      <div class="column-1_2 column_padding_bottom">
                                                                            <div class="sc_services_item">
                                                                                <a href="{{ url('contact') }}">
                                                                                    <span class="sc_icon icon-massage4"></span>
                                                                                </a>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <a href="{{ url('contact') }}">EYE CONTOUR</a>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
	                                                                                    <p>{{ _("Moisturizing, firming and antiwrinkle, eye treatment, puffy eyes and dark circles.") }}</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
	                                                                      <div class="column-1_2 column_padding_bottom">
                                                                            <div class="sc_services_item">
                                                                                <a href="{{ url('contact') }}">
                                                                                    <span class="sc_icon icon-massage4"></span>
                                                                                </a>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <a href="{{ url('contact') }}">CHOCOLATE BODY</a>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
	                                                                                    <p>{{ _("Antistress treatment based on natural cacao.") }}</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
	                                                                      <div class="column-1_2 column_padding_bottom">
                                                                            <div class="sc_services_item">
                                                                                <a href="{{ url('contact') }}">
                                                                                    <span class="sc_icon icon-massage4"></span>
                                                                                </a>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <a href="{{ url('contact') }}">THALASOTHERAPY SPA </a>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
	                                                                                    <p>{{ _("Firming and slimming body treatment based on seaweeds, natural clay, marine elastine, slimming liposomes with carnitine, caffeine and organic silicium.") }}</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
	                                                                      <div class="column-1_2 column_padding_bottom">
                                                                            <div class="sc_services_item">
                                                                                <a href="{{ url('contact') }}">
                                                                                    <span class="sc_icon icon-massage4"></span>
                                                                                </a>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <a href="{{ url('contact') }}">GOLDEN LINE GINGER</a>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
	                                                                                    <p>{{ _("Luxurious body treatment with 23 karat gold, silk other special body care ingredients firms and impowers skin elasticity.") }}</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
	                                                                      <div class="column-1_2 column_padding_bottom">
                                                                            <div class="sc_services_item">
                                                                                <a href="{{ url('contact') }}">
                                                                                    <span class="sc_icon icon-massage4"></span>
                                                                                </a>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <a href="{{ url('contact') }}">BUST FIRMING</a>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
	                                                                                    <p>{{ _("Firms and tones the skin, helping it regain it's lost youth and elasticity.") }}</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
	                                                                      <div class="column-1_2 column_padding_bottom">
                                                                            <div class="sc_services_item">
                                                                                <a href="{{ url('contact') }}">
                                                                                    <span class="sc_icon icon-massage4"></span>
                                                                                </a>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <a href="{{ url('contact') }}">HERBAL BODY (NATURAL ORIGIN 97-98%)</a>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
	                                                                                    <p>{{ _("Based on medicinal plants and herbs from ancient greek therapeutic traditions with mastic and citrus essential oils.") }}</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
	                                                                      <div class="column-1_2 column_padding_bottom">
                                                                            <div class="sc_services_item">
                                                                                <a href="{{ url('contact') }}">
                                                                                    <span class="sc_icon icon-massage4"></span>
                                                                                </a>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <a href="{{ url('contact') }}">THERMIC MUD</a>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
	                                                                                    <p>{{ _("Thermic black mask for slimming, oxygenating and firming action (cold or hot).") }}</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc_row-full-width"></div>

	                    {% include "base/products_we_use_banner.html" %}

                        <div class="sc_row row">
                            <div class="column sc_column_container sc_col-sm-12">
                                <div class="sc_column-inner ">
                                    <div class="wrapper">
                                        <div class="sc_empty_space em_height_8-4">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                        <div class="columns_wrap sc_columns columns_nofluid">
                                            <div class="column-1_4 sc_column_item">
                                                <div class="sc_empty_space hide_on_responsive em_height_4-4">
                                                    <span class="sc_empty_space_inner"></span>
                                                </div>
                                                <h2 class="sc_title sc_title_regular">beauty comes from inside</h2>
                                                <div class="text_column content_element ">
                                                    <div class="wrapper">
                                                        <p>inside the salon de beaute</p>
                                                    </div>
                                                </div>
{#                                                <div class="text_column content_element sc_custom_1459352457001">#}
{#                                                    <div class="wrapper">#}
{#                                                        <ul>#}
{#                                                            <li>salon de beaute</li>#}
{#                                                        </ul>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <a href="contacts.html" class="sc_button sc_button_square sc_button_style_border sc_button_size_base cu_mrg_1">Read More</a>#}
                                                <div class="sc_empty_space em_height_3-8">
                                                    <span class="sc_empty_space_inner"></span>
                                                </div>
                                            </div>
                                            <div class="column-3_4 sc_column_item span_3">
                                                <div class="sc_promo custom_promo_01 scheme_light sc_promo_size_large">
                                                    <div class="sc_promo_inner">
                                                        <div class="sc_promo_image even"></div>
                                                        <div class="sc_promo_block sc_align_left cu_block_1">
                                                            <div class="sc_promo_block_inner cu_pds_1">
                                                                <div class="sc_promo_content">
                                                                    <h6 class="sc_title sc_title_regular sc_align_right custom_title_01">01</h6>
{#                                                                    <h6 class="sc_title sc_title_regular cu_block_2">#}
{#                                                                        <em> July 4, 2015  /  0 Comments</em>#}
{#                                                                    </h6>#}
                                                                    <h2 class="sc_title sc_title_regular">
                                                                        <a href="{{ url('contact') }}">
                                                                            DON’T MISS<br>
	                                                                        A MOMENT AND<br>
	                                                                        CONTACT US<br>
	                                                                        TODAY
                                                                        </a>
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sc_empty_space em_height_8-4">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
	                    <div class="sc_empty_space em_height_5">
		                    <span class="sc_empty_space_inner"></span>
		                </div>
{#                        <div data-sc-full-width="true" data-sc-full-width-init="false" class="sc_row row sc_custom_1459346050873">#}
{#                            <div class="column sc_column_container sc_col-sm-12">#}
{#                                <div class="sc_column-inner ">#}
{#                                    <div class="wrapper">#}
{#                                        <div class="sc_empty_space em_height_8-3">#}
{#                                            <span class="sc_empty_space_inner"></span>#}
{#                                        </div>#}
{#                                        <div class="sc_section sc_section_block">#}
{#                                            <div class="sc_section_inner">#}
{#                                                <h6 class="sc_section_subtitle sc_item_subtitle">From The Shop</h6>#}
{#                                                <h2 class="sc_section_title sc_item_title line_show">Our products</h2>#}
{#                                                <div class="sc_section_content_wrap">#}
{#                                                    <div class="sc_empty_space em_height_2">#}
{#                                                        <span class="sc_empty_space_inner"></span>#}
{#                                                    </div>#}
{#                                                    <article class="myportfolio-container minimal-light" id="esg-grid-1-1-wrap">#}
{#                                                        <div id="esg-grid-1-1" class="esg-grid">#}
{#                                                            <ul>#}
{#                                                                <li class="filterall filter-simple filter-skincare eg-eisenhower-massage-wrapper eg-post-id-332" data-date="1459258561">#}
{#                                                                    <div class="esg-media-cover-wrapper">#}
{#                                                                        <div class="esg-entry-media">#}
{#                                                                            <img src="images/370x370.jpg" alt="">#}
{#                                                                        </div>#}
{#                                                                        <div class="esg-entry-cover">#}
{#                                                                            <div class="esg-overlay esg-fade eg-eisenhower-massage-container" data-delay="0"></div>#}
{#                                                                            <div class="esg-center eg-post-332 eg-eisenhower-massage-element-1-a esg-rollright" data-delay="0.1">#}
{#                                                                                <a class="eg-eisenhower-massage-element-1 eg-post-332 esgbox" href="images/370x370.jpg" lgtitle="The Supreme Skin Care">#}
{#                                                                                    <i class="eg-icon-search"></i>#}
{#                                                                                </a>#}
{#                                                                            </div>#}
{#                                                                            <div class="esg-center eg-post-332 eg-eisenhower-massage-element-3-a esg-rollleft" data-delay="0.18">#}
{#                                                                                <a class="eg-eisenhower-massage-element-3 eg-post-332" href="single-product.html" target="_self">#}
{#                                                                                    <i class="eg-icon-forward"></i>#}
{#                                                                                </a>#}
{#                                                                            </div>#}
{#                                                                        </div>#}
{#                                                                        <div class="esg-entry-content eg-eisenhower-massage-content">#}
{#                                                                            <div class="esg-content eg-post-332 eg-eisenhower-massage-element-6-a">#}
{#                                                                                <a class="eg-eisenhower-massage-element-6 eg-post-332" href="shop.html" title="View all posts in simple" rel="category tag">simple</a>,#}
{#                                                                                <a class="eg-eisenhower-massage-element-6 eg-post-332" href="shop.html" title="View all posts in Skincare" rel="category tag">Skincare</a>#}
{#                                                                            </div>#}
{#                                                                            <div class="esg-content eg-post-332 eg-eisenhower-massage-element-0">The Supreme Skin Care</div>#}
{#                                                                            <div class="esg-content eg-eisenhower-massage-element-2 esg-none esg-clear"></div>#}
{#                                                                            <div class="esg-content eg-post-332 eg-eisenhower-massage-element-25">#}
{#                                                                                <span class="woocommerce-Price-amount amount">#}
{#                                                                                    <span class="woocommerce-Price-currencySymbol">&pound;</span>47.00#}
{#                                                                                </span>#}
{#                                                                            </div>#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                </li>#}
{#                                                                <li class="filterall filter-simple filter-skincare eg-eisenhower-massage-wrapper eg-post-id-337" data-date="1459258606">#}
{#                                                                    <div class="esg-media-cover-wrapper">#}
{#                                                                        <div class="esg-entry-media">#}
{#                                                                            <img src="images/370x370.jpg" alt="">#}
{#                                                                        </div>#}
{#                                                                        <div class="esg-entry-cover">#}
{#                                                                            <div class="esg-overlay esg-fade eg-eisenhower-massage-container" data-delay="0"></div>#}
{#                                                                            <div class="esg-center eg-post-337 eg-eisenhower-massage-element-1-a esg-rollright" data-delay="0.1">#}
{#                                                                                <a class="eg-eisenhower-massage-element-1 eg-post-337 esgbox" href="images/370x370.jpg" lgtitle="Masque Contour des Yeux">#}
{#                                                                                    <i class="eg-icon-search"></i>#}
{#                                                                                </a>#}
{#                                                                            </div>#}
{#                                                                            <div class="esg-center eg-post-337 eg-eisenhower-massage-element-3-a esg-rollleft" data-delay="0.18">#}
{#                                                                                <a class="eg-eisenhower-massage-element-3 eg-post-337" href="single-product.html" target="_self">#}
{#                                                                                    <i class="eg-icon-forward"></i>#}
{#                                                                                </a>#}
{#                                                                            </div>#}
{#                                                                        </div>#}
{#                                                                        <div class="esg-entry-content eg-eisenhower-massage-content">#}
{#                                                                            <div class="esg-content eg-post-337 eg-eisenhower-massage-element-6-a">#}
{#                                                                                <a class="eg-eisenhower-massage-element-6 eg-post-337" href="shop.html" title="View all posts in simple" rel="category tag">simple</a>,#}
{#                                                                                <a class="eg-eisenhower-massage-element-6 eg-post-337" href="shop.html" title="View all posts in Skincare" rel="category tag">Skincare</a>#}
{#                                                                            </div>#}
{#                                                                            <div class="esg-content eg-post-337 eg-eisenhower-massage-element-0">Masque Contour des Yeux</div>#}
{#                                                                            <div class="esg-content eg-eisenhower-massage-element-2 esg-none esg-clear"></div>#}
{#                                                                            <div class="esg-content eg-post-337 eg-eisenhower-massage-element-25">#}
{#                                                                                <span class="woocommerce-Price-amount amount">#}
{#                                                                                    <span class="woocommerce-Price-currencySymbol">&pound;</span>25.00#}
{#                                                                                </span>#}
{#                                                                            </div>#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                </li>#}
{#                                                                <li class="filterall filter-simple filter-skincare eg-eisenhower-massage-wrapper eg-post-id-339" data-date="1459258628">#}
{#                                                                    <div class="esg-media-cover-wrapper">#}
{#                                                                        <div class="esg-entry-media">#}
{#                                                                            <img src="images/370x370.jpg" alt="">#}
{#                                                                        </div>#}
{#                                                                        <div class="esg-entry-cover">#}
{#                                                                            <div class="esg-overlay esg-fade eg-eisenhower-massage-container" data-delay="0"></div>#}
{#                                                                            <div class="esg-center eg-post-339 eg-eisenhower-massage-element-1-a esg-rollright" data-delay="0.1">#}
{#                                                                                <a class="eg-eisenhower-massage-element-1 eg-post-339 esgbox" href="images/370x370.jpg" lgtitle="EAU DU SOIR SCENTED SOAP">#}
{#                                                                                    <i class="eg-icon-search"></i>#}
{#                                                                                </a>#}
{#                                                                            </div>#}
{#                                                                            <div class="esg-center eg-post-339 eg-eisenhower-massage-element-3-a esg-rollleft" data-delay="0.18">#}
{#                                                                                <a class="eg-eisenhower-massage-element-3 eg-post-339" href="single-product.html" target="_self">#}
{#                                                                                    <i class="eg-icon-forward"></i>#}
{#                                                                                </a>#}
{#                                                                            </div>#}
{#                                                                        </div>#}
{#                                                                        <div class="esg-entry-content eg-eisenhower-massage-content">#}
{#                                                                            <div class="esg-content eg-post-339 eg-eisenhower-massage-element-6-a">#}
{#                                                                                <a class="eg-eisenhower-massage-element-6 eg-post-339" href="shop.html" title="View all posts in simple" rel="category tag">simple</a>,#}
{#                                                                                <a class="eg-eisenhower-massage-element-6 eg-post-339" href="shop.html" title="View all posts in Skincare" rel="category tag">Skincare</a>#}
{#                                                                            </div>#}
{#                                                                            <div class="esg-content eg-post-339 eg-eisenhower-massage-element-0">EAU DU SOIR SCENTED SOAP</div>#}
{#                                                                            <div class="esg-content eg-eisenhower-massage-element-2 esg-none esg-clear"></div>#}
{#                                                                            <div class="esg-content eg-post-339 eg-eisenhower-massage-element-25">#}
{#                                                                                <span class="woocommerce-Price-amount amount">#}
{#                                                                                    <span class="woocommerce-Price-currencySymbol">&pound;</span>10.00#}
{#                                                                                </span>#}
{#                                                                            </div>#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                </li>#}
{#                                                                <li class="filterall filter-simple filter-skincare eg-eisenhower-massage-wrapper eg-post-id-342" data-date="1459258761">#}
{#                                                                    <div class="esg-media-cover-wrapper">#}
{#                                                                        <div class="esg-entry-media">#}
{#                                                                            <img src="images/370x370.jpg" alt="">#}
{#                                                                        </div>#}
{#                                                                        <div class="esg-entry-cover">#}
{#                                                                            <div class="esg-overlay esg-fade eg-eisenhower-massage-container" data-delay="0"></div>#}
{#                                                                            <div class="esg-center eg-post-342 eg-eisenhower-massage-element-1-a esg-rollright" data-delay="0.1">#}
{#                                                                                <a class="eg-eisenhower-massage-element-1 eg-post-342 esgbox" href="images/370x370.jpg" lgtitle="BLACK ROSE FACE OIL">#}
{#                                                                                    <i class="eg-icon-search"></i>#}
{#                                                                                </a>#}
{#                                                                            </div>#}
{#                                                                            <div class="esg-center eg-post-342 eg-eisenhower-massage-element-3-a esg-rollleft" data-delay="0.18">#}
{#                                                                                <a class="eg-eisenhower-massage-element-3 eg-post-342" href="single-product.html" target="_self">#}
{#                                                                                    <i class="eg-icon-forward"></i>#}
{#                                                                                </a>#}
{#                                                                            </div>#}
{#                                                                        </div>#}
{#                                                                        <div class="esg-entry-content eg-eisenhower-massage-content">#}
{#                                                                            <div class="esg-content eg-post-342 eg-eisenhower-massage-element-6-a">#}
{#                                                                                <a class="eg-eisenhower-massage-element-6 eg-post-342" href="shop.html" title="View all posts in simple" rel="category tag">simple</a>,#}
{#                                                                                <a class="eg-eisenhower-massage-element-6 eg-post-342" href="shop.html" title="View all posts in Skincare" rel="category tag">Skincare</a>#}
{#                                                                            </div>#}
{#                                                                            <div class="esg-content eg-post-342 eg-eisenhower-massage-element-0">BLACK ROSE FACE OIL</div>#}
{#                                                                            <div class="esg-content eg-eisenhower-massage-element-2 esg-none esg-clear"></div>#}
{#                                                                            <div class="esg-content eg-post-342 eg-eisenhower-massage-element-25">#}
{#                                                                                <span class="woocommerce-Price-amount amount">#}
{#                                                                                    <span class="woocommerce-Price-currencySymbol">&pound;</span>63.00#}
{#                                                                                </span>#}
{#                                                                            </div>#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                </li>#}
{#                                                            </ul>#}
{#                                                        </div>#}
{#                                                    </article>#}
{#                                                    <div class="clear"></div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="sc_empty_space em_height_6">#}
{#                                            <span class="sc_empty_space_inner"></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="sc_row-full-width"></div>#}
                        <div data-sc-full-width="true" data-sc-full-width-init="false" class="sc_row row sc_custom_1459347818729 inverse_colors">
                            <div class="column sc_column_container sc_col-sm-12">
                                <div class="sc_column-inner ">
                                    <div class="wrapper">
                                        <div class="sc_empty_space em_height_11-4">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                        <div id="sc_call_to_action_389" class="sc_call_to_action sc_call_to_action_style_2 sc_call_to_action_align_center cu_fullwidth">
                                            <div class="sc_call_to_action_info">
                                                <h6 class="sc_call_to_action_subtitle sc_item_subtitle">Our Special Offer</h6>
                                                <h2 class="sc_call_to_action_title sc_item_title">You owe yourself this moment</h2>
                                                <div class="sc_call_to_action_descr sc_item_descr">Visit one of our multiple sessions of relaxation.</div>
                                            </div>
                                            <div class="sc_call_to_action_buttons sc_item_buttons">
                                                <div class="sc_call_to_action_button sc_item_button">
                                                    <a href="{{ url('contact') }}" class="sc_button sc_button_square sc_button_style_filled sc_button_size_base">
                                                        <div>
                                                            <span class="first">make an appointment</span>
                                                            <span class="second">make an appointment</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sc_empty_space em_height_10-5">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc_row-full-width"></div>
                        <div class="sc_row row">
                            <div class="column sc_column_container sc_col-sm-12">
                                <div class="sc_column-inner ">
                                    <div class="wrapper">
                                        <a href="#" class="sc_icon icon-up sc_icon_shape_square aligncenter scroll_to_top show"></a>
                                        <div class="sc_empty_space em_height_5-7">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                        <div class="sc_line sc_line_position_center_center sc_line_style_solid"></div>
                                        <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_small cu_block_3">
                                            <div class="sc_socials_item">
                                                <a href="#" target="_blank" class="social_icons social_twitter">
                                                    <span class="icon-twitter"></span>
                                                </a>
                                            </div>
                                            <div class="sc_socials_item">
                                                <a href="#" target="_blank" class="social_icons social_facebook">
                                                    <span class="icon-facebook"></span>
                                                </a>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_styles %}
		{#	<link rel='stylesheet' href='{{ static('css/tooltipster.css') }}' type='text/css'>#}
		<link rel='stylesheet' href='{{ static('css/esg.settings.css') }}' type='text/css'>
		<link rel='stylesheet' href='{{ static('css/rev.settings.css') }}' type='text/css'>
{#		<link rel='stylesheet' href='{{ static('css/fontello.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/style.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/core.animation.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/shortcodes.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/skin.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/custom-style.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/responsive.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/skin.responsive.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/custom.responsive.css') }}' type='text/css'>#}
{#		<link rel='stylesheet' href='{{ static('css/grid.layout.min.css') }}' type='text/css'>#}
		<link rel='stylesheet' href='{{ static('css/core.portfolio.css') }}' type='text/css'>
	    <link rel='stylesheet' href='{{ static('css/swiper.css') }}' type='text/css'>
	    <link rel='stylesheet' href='{{ static('css/lightbox.css') }}' type='text/css'>
{% endblock %}

{% block extra_scripts %}
{#        <script type='text/javascript' src='{{ static('js/jquery.fancybox.min.js') }}'></script>#}
        <script type='text/javascript' src='{{ static('js/lightbox.js') }}'></script>
	    <script type='text/javascript' src='{{ static('js/jquery.themepunch.tools.min.js') }}'></script>
	    <script type='text/javascript' src='{{ static('js/jquery.themepunch.essential.min.js') }}'></script>
	    <script type='text/javascript' src='{{ static('js/jquery.themepunch.revolution.min.js') }}'></script>
	    <script type="text/javascript" src="{{ static('js/revolution.extension.slideanims.min.js') }}"></script>
	    <script type="text/javascript" src="{{ static('js/revolution.extension.actions.min.js') }}"></script>
	    <script type="text/javascript" src="{{ static('js/revolution.extension.layeranimation.min.js') }}"></script>
	    <script type="text/javascript" src="{{ static('js/revolution.extension.navigation.min.js') }}"></script>
{#		<script type='text/javascript' src='{{ static('js/modernizr.min.js') }}'></script>#}
{#		<script type='text/javascript' src='{{ static('js/my-custom.js') }}'></script>#}
{#        <script type='text/javascript' src='{{ static ('js/custom.js') }}'></script>#}
{#        <script type='text/javascript' src='{{ static('js/superfish.js') }}'></script>#}
{#        <script type='text/javascript' src='{{ static('js/jquery.slidemenu.js') }}'></script>#}
{#        <script type='text/javascript' src='{{ static('js/core.utils.js') }}'></script>#}
{#        <script type='text/javascript' src='{{ static('js/core.init.js') }}'></script>#}
{#        <script type='text/javascript' src='{{ static('js/theme.init.js') }}'></script>#}
{#	    <script type='text/javascript' src='{{ static('js/theme.shortcodes.js') }}'></script>#}
{#		<script type='text/javascript' src='{{ static('js/grid.layout.min.js') }}'></script>#}
{#	    <script type="text/javascript" src="{{ static('js/swiper.js') }}"></script>#}
{#        <script type='text/javascript' src='{{ static('js/isotope.min.js') }}'></script>#}
{% endblock %}
