{% extends 'base/index.html' %}

{% block body_classes %}services2 theme_skin_less scheme_original top_panel_show top_panel_above {% endblock %}
{% block header_classes %}top_panel_style_7 scheme_original {% endblock %}

{% block woman %}
	<section class="top_panel_image" style="background-image:url('{{ spa_category.get_top_image_url() }}');">
	    <div class="top_panel_image_hover"></div>
	    <div class="top_panel_image_header">
	        <div class="top_panel_image_icon icon-book-open"></div>
	        <h1 class="top_panel_image_title">{{ spa_category.name }}</h1>
	        <div class="breadcrumbs">
                <span class="breadcrumbs_item">we are the specialists</span>
            </div>
	    </div>
	</section>

	<div class="page_content_wrap page_paddings_no">
        <div class="content_wrap">
            <div class="content">
                <article class="post_item post_item_single page">
                    <section class="post_content">
                        <div data-sc-full-width="true" data-sc-full-width-init="false" class="sc_row row sc_row-fluid sc_custom_1459762742825">
                            <div class="column sc_column_container sc_col-sm-12">
                                <div class="sc_column-inner ">
                                    <div class="wrapper">
                                        <div class="sc_empty_space em_height_8-4">
                                            <span class="sc_empty_space_inner"></span>
                                        </div>
                                        <div class="sc_section sc_section_block">
                                            <div class="sc_section_inner">
                                                <h6 class="sc_section_subtitle sc_item_subtitle">We are the best</h6>
                                                <h2 class="sc_section_title sc_item_title line_show">OUR SERVICES</h2>
                                                <div class="sc_section_content_wrap">
                                                    <div id="sc_tabs_934" class="sc_tabs sc_tabs_style_2" data-active="0">
                                                        <ul class="sc_tabs_titles">
                                                            <li class="sc_tabs_title">
                                                                <a href="#{{ spa_category.slug }}" class="theme_button">{{ spa_category.name }}</a>
                                                            </li>
                                                        </ul>
                                                        <div id="{{ spa_category.slug }}" class="sc_tabs_content" data-icon="icon-massage4-1">
                                                            <div class="columns_wrap sc_columns columns_nofluid">
                                                                <div class="column-1_2 sc_column_item">
                                                                    <figure class="sc_image sc_image_shape_square">
                                                                        <img src="{{ spa_category.get_center_image_url() }}" alt="" />
                                                                    </figure>
                                                                </div>
                                                                <div class="column-1_2 sc_column_item">
                                                                    {% if spa_category.header %}<h2 class="sc_title sc_title_regular">{{ spa_category.header }}</h2>{% endif %}
                                                                    <div class="text_column content_element sc_custom_1459766274952">
                                                                        <div class="wrapper">
                                                                            {{ spa_category.body|safe }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc_row-full-width"></div>
                        <div data-sc-full-width="true" data-sc-full-width-init="false" data-sc-stretch-content="true" class="sc_row row sc_row-fluid sc_row-no-padding">
                            <div class="column sc_column_container sc_col-sm-12">
                                <div class="sc_column-inner">
                                    <div class="wrapper">
                                        <div class="sc_promo custom_promo_services sc_promo_size_large">
                                            <div class="sc_promo_inner">
                                                <div class="sc_promo_image" style="background-image: url('{{ spa_category.get_bottom_image_url() }}')"></div>
                                                <div class="sc_promo_block sc_align_left">
                                                    <div class="sc_promo_block_inner">
                                                        <div class="sc_promo_content">
                                                            <div id="sc_services_381_wrap" class="sc_services_wrap">
                                                                <div id="sc_services_381" class="sc_services sc_services_style_services-2 sc_services_type_icons">
                                                                    <div class="sc_columns columns_wrap">
                                                                        <div class="column-1_2 column_padding_bottom">
                                                                            <div id="sc_services_381_1" class="sc_services_item">
                                                                                <span class="sc_icon icon-massage4"></span>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <span>Bridal</span>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
                                                                                        <p>{{ _("Be at your best in your happiest day of your life") }}</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="column-1_2 column_padding_bottom">
                                                                            <div id="sc_services_381_2" class="sc_services_item">
                                                                                <span class="sc_icon icon-chairs16"></span>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <span>Massage</span>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
                                                                                        <p>{{ _("We use different types of massage for a variety of health-related purposes") }}</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="column-1_2 column_padding_bottom">
                                                                            <div id="sc_services_381_3" class="sc_services_item">
                                                                                <span class="sc_icon icon-relax43"></span>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
                                                                                        <span>Man</span>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
                                                                                        <p>{{ _("The best treatments for men is here") }}</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="column-1_2 column_padding_bottom">
                                                                            <div id="sc_services_381_4" class="sc_services_item">
                                                                                <span class="sc_icon icon-sport161"></span>
                                                                                <div class="sc_services_item_content">
                                                                                    <h4 class="sc_services_item_title">
	                                                                                    <span>Packets</span>
                                                                                    </h4>
                                                                                    <div class="sc_services_item_description">
                                                                                        <p>{{ _("Provides innovative bodywork and geared toward the needs of every women") }}</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc_row-full-width"></div>
                    </section>
                </article>
                <section class="related_wrap related_wrap_empty"></section>
            </div>
        </div>
    </div>

{% endblock %}


{% block extra_scripts %}
	<script type='text/javascript' src='{{ static('js/jquery/core.min.js') }}'></script>
	<script type='text/javascript' src='{{ static('js/widget.min.js') }}'></script>
	<script type='text/javascript' src='{{ static('js/tabs.min.js') }}'></script>
	<script type='text/javascript' src='{{ static('js/effect.min.js') }}'></script>
	<script type='text/javascript' src='{{ static('js/effect-fade.min.js') }}'></script>
{% endblock %}